/* app css stylesheet */

.menu {
  list-style: none;
/*  border-bottom: 0.1em solid gray;*/
  margin-left: -40px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-right: 100px;
  padding: 0 3 3em;
}

/*.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}*/

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#allWrapper {
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 20pt;
  margin-top: 0px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-right: 5%;
};

#homeIntro {
  margin-right: 40px;
};

/*.projectImage {
  height: 50%;
  width: 50%;
};*/

.titleDescription {
  font-weight: 400;
};

#titleLogo {
  margin-bottom: 20px;
};

.descriptions {
  margin-top: 30px;
};

/*.footer {
  top: 85%;
  position: absolute;
  font-size: 8pt;
  margin-top: 30px;
  padding-top: 5px;
  border-top: 0.1em solid gray;
};*/






/*------------------HTML Responsive Columns-------------------*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body { margin: 0; }

.columnsContainer, footer, header { position: relative; margin: .5em; }

/*.rightColumn, .leftColumn, footer, header {  border: 1px solid  #ccc; }*/

.leftColumn { margin-bottom: .5em; }

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

@media screen and (min-width: 47.5em ) {
  .rightColumn { margin-left: 67%; min-width: 200px;}

  .leftColumn { position: absolute; top: 0; left: 0; width: 65%;}
}
