@charset "UTF-8";
@font-face {
  font-family: Roboto Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  background: #ebebeb;
  color: #202020;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button.btn:focus {
  outline: none;
  background-color: #fff;
  border: 1pt solid #202020;
}

main.allWrapper {
  z-index: -10;
  line-height: 22pt;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto 50px auto;
  font-family: Roboto Regular, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}
main.allWrapper a {
  text-decoration: none;
  color: #202020;
}
main.allWrapper .col-md-8 {
  margin: auto;
  float: none;
}
main.allWrapper div.columnsContainer {
  margin: auto;
  float: none;
  display: block;
  padding: 0 5px;
}
main.allWrapper div.columnsContainer > div.info {
  font-size: 1.15em;
  margin-top: 0;
}
main.allWrapper div.columnsContainer > div.info > h1 {
  font-size: 10rem;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 700;
  color: #202020;
  text-align: center;
  font-kerning: normal;
  letter-spacing: -1px;
  margin-bottom: 0em;
}
main.allWrapper div.columnsContainer > div.info > strong {
  font-size: .85em;
  margin-bottom: 5em;
}
main.allWrapper div.columnsContainer > div.info > p.project-sub-title {
  margin: .5em auto 3em auto;
  max-width: 1400px;
  font-size: 14px;
  opacity: .75;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 175%;
}
main.allWrapper div.columnsContainer > div.info > div.project-nav {
  text-align: center;
  font-size: 14px;
  opacity: .5;
}
main.allWrapper div.columnsContainer > div.info > h3.proj-sm-col {
  margin: 1em auto 0 auto;
  max-width: 500px;
  font-size: 24px;
}
main.allWrapper div.columnsContainer > div.info > h4.proj-sm-col {
  margin: 1em auto 0 auto;
  max-width: 500px;
  font-size: 18px;
}
main.allWrapper div.columnsContainer > div.info > p.proj-sm-col {
  margin: 1em auto 3em auto;
  max-width: 500px;
  font-size: 16px;
  line-height: 1.6;
}
main.allWrapper div.columnsContainer > div.info > ul.proj-sm-col {
  margin: 1em auto 3em auto;
  max-width: 500px;
  font-size: 16px;
  line-height: 1.6;
}
main.allWrapper div.columnsContainer > div.info > p.prototype-button {
  margin: 1em auto 3em auto;
  text-align: center;
}
main.allWrapper div.columnsContainer > div.info > table {
  font-size: 16px;
}
main.allWrapper div.columnsContainer > div.info > ul.p-list {
  margin-top: -35px;
}

header {
  width: 90%;
  margin: auto;
  max-width: 1100px;
  background-color: #ebebeb;
  height: 150px;
  padding: 2em .5em;
  z-index: 1;
}

/*----- Home Page CSS -----*/
header > a#main-logo {
  text-decoration: none;
  float: left;
  position: relative;
}

header > a#main-logo p.update-time {
  margin-top: -10px;
  opacity: 0;
}

header > a#main-logo:hover p.update-time {
  opacity: .25;
}
header > a#main-logo:hover img {
  opacity: .75;
}

header > a > h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 3em;
  color: #202020;
}

header > a > h1:hover {
  opacity: .85;
}

header > a > p {
  font-family: Roboto Regular, Helvetica, Arial, sans-serif;
  font-size: .9em;
  color: #202020;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: .75;
}

header > div#float-nav {
  float: right;
  top: 49px;
  position: relative;
}
header > div#float-nav a {
  margin-left: 20px;
  padding-right: 0;
  color: #202020;
  background-color: transparent;
}
header > div#float-nav div.navbar-collapse {
  padding: 0;
}

section.home_page {
  padding: 0;
}

section.home_page > div.col-md-4 {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

section.home_page > div.col-md-4 > div.list_group {
  display: inline-block;
  margin: .5em .5em .5em .5em;
  width: 100%;
  line-height: 28pt;
}

section.home_page > div.col-md-4 > div {
  transition: all .1s;
}

section.home_page > div.col-md-4 > div > a > img:hover {
  -webkit-box-shadow: 4px 4px 5px 0px #919191;
  -moz-box-shadow: 4px 4px 5px 0px #919191;
  box-shadow: 4px 4px 5px 0px #919191;
}

section.home_page > div.col-md-4 > div.list_group > div.thumb_info {
  opacity: 1;
  transition: .5s;
}

section.home_page > div.col-md-4 > div:hover > div.thumb_info {
  opacity: 1;
}

section.home_page > div.col-md-4 > div.list_group > div.thumb_info > h4 {
  color: #202020;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 0;
  font-kerning: normal;
}

section.home_page > div.col-md-4 > div.list_group > div.thumb_info > p {
  margin-top: -5px;
  color: #202020;
  font-size: .8em;
  font-kerning: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.5;
}

section.home_page > div.col-md-4 > div.list_group > div.thumb_tag p {
  background-color: #202020;
  position: absolute;
  top: 25px;
  color: white;
  font-family: Roboto Regular, Helvetica, Arial, sans-serif;
  font-size: .6em;
  font-weight: 500;
  letter-spacing: .25em;
  padding: 0 10px;
}
section.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_info {
  background-color: #FFCE1A;
}
section.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_app {
  background-color: #0EB89C;
}
section.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_web {
  background-color: #9322FF;
}
section.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_toy {
  background-color: #E271FF;
}
section.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_brand {
  background-color: #E86E49;
}

button.nav-button {
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: Roboto Regular, Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 400;
  border: 1pt solid #202020;
  background-color: #202020;
  color: #fff;
}

button.nav-button:hover {
  -webkit-box-shadow: 3px 3px 3px #d8d8d8;
  -moz-box-shadow: 3px 3px 3px #d8d8d8;
  box-shadow: 3px 3px 3px #d8d8d8;
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: Roboto Regular, Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 400;
  border: 1pt solid #202020;
  background-color: #202020;
  color: #999;
}

button.nav-button:focus {
  -webkit-box-shadow: 3px 3px 3px #d8d8d8;
  -moz-box-shadow: 3px 3px 3px #d8d8d8;
  box-shadow: 3px 3px 3px #d8d8d8;
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: Roboto Regular, Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 400;
  border: 1pt solid #202020;
  background-color: #202020;
  color: #fff;
}

@media (max-width: 767px) {
  header {
    position: relative;
    height: 350px;
  }

  header > a#main-logo {
    display: block;
    width: 100%;
    text-decoration: none;
    float: none;
    text-align: center;
  }

  header > a#main-logo > {
    text-decoration: none;
    float: none;
  }

  header > div#float-nav {
    float: none;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 0 1.25em;
    display: block;
    top: 0;
  }

  header > div#float-nav a {
    margin-left: 0;
    font-size: 1.25em;
    border-bottom: 1pt solid #202020;
    padding-right: 15px;
  }

  header > div#float-nav > div.collapse {
    display: block;
  }

  header > div#float-nav > div.collapse > ul > li {
    text-align: center;
  }

  header > div#float-nav > button.navbar-toggle {
    float: none;
    height: 0;
  }
}
/*---- Resume Page CSS ----*/
div.columnsContainer > div > div#resume {
  font-family: Roboto Regular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 5em;
}

div.columnsContainer > div > div#resume > div#resume_main {
  font-size: 12px;
}

div.columnsContainer > div > div#resume > div.about-header > div.col-md-6 {
  padding: 10px 40px 40px 7px;
}
div.columnsContainer > div > div#resume > div.about-header > div.col-md-6 p {
  line-height: 200%;
}

div.columnsContainer > div > div#resume > div.about-header > div > h3 {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 3em;
  text-transform: none;
}

div#resume a {
  font-size: 35px;
  letter-spacing: .3em;
}

/*---- Project Page CSS----*/
div.columnsContainer > div.project_photos > div {
  margin: 1em 0 1em 0;
  padding-left: 0;
}

div.columnsContainer img {
  border-radius: 5px;
}

h3 {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 500;
}

.table {
  margin-top: 20px;
}

.table-bordered > tbody > tr > td {
  border: 0.5px solid #202020;
}

.hints {
  color: orangered;
}

.light-slash {
  font-family: Helvetica, Arial，sans-serif;
  font-weight: 100;
  font-size: 1.2em;
}

img.framer {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

button.launch {
  box-shadow: 3px 3px 3px #d8d8d8;
  background-color: #fff;
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: Roboto Regular, Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 400;
  border: 1pt solid #202020;
}

button.launch:hover {
  background-color: #202020;
  color: #fff;
}

div.design-purpose > div.col-md-4 {
  margin: 50px 0 30px 0;
}
div.design-purpose > div.col-md-4 div.thumbnail {
  background-color: transparent;
  border: none;
}
div.design-purpose > div.col-md-4 div.thumbnail > img {
  max-width: 700px;
}
div.design-purpose > div.col-md-4 div.thumbnail h4 {
  text-align: center;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin-top: -5px;
}
div.design-purpose > div.col-md-4 div.thumbnail p {
  margin-bottom: 0;
}
div.design-purpose > div.col-md-4 div.thumbnail div.caption {
  margin-left: 20px;
}
div.design-purpose > div.col-md-4 div.thumbnail div.modal-body p {
  text-align: center;
  margin-bottom: 5px;
}
div.design-purpose > div.col-md-4 div.thumbnail div.modal-body img {
  display: block;
  margin: auto;
  width: 75%;
  border: 1pt solid #333333;
}

div.columnsContainer .collection {
  text-align: center;
}
div.columnsContainer h3 {
  margin-bottom: 5px;
}
div.columnsContainer p {
  line-height: 1.25em;
  margin-bottom: 20px;
}
