@charset "UTF-8";
@font-face {
  font-family: "Eksell";
  src: url("/fonts/EksellDisplayCompleteWeb/EksellDisplayWeb-Large.eot");
  src: url("/fonts/EksellDisplayCompleteWeb/EksellDisplayWeb-Large.eot?#iefix") format("embedded-opentype"), url("/fonts/EksellDisplayCompleteWeb/EksellDisplayWeb-Large.woff") format("woff"), url("/fonts/EksellDisplayCompleteWeb/EksellDisplayWeb-Large.ttf") format("truetype"), url("/fonts/EksellDisplayCompleteWeb/EksellDisplayWeb-Large.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background: #f9f9fc;
  color: #16395e;
  font-kerning: normal;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background-color: #e5e5e6; }
  body ::selection {
    background: #ffec00;
    /* WebKit/Blink Browsers */ }
  body ::-moz-selection {
    background: #ffec00;
    /* Gecko Browsers */ }
  body a:focus {
    outline: none; }

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

button.btn:focus {
  outline: none;
  background-color: #fff;
  border: 1pt solid #16395e; }

main.allWrapper {
  z-index: -10;
  line-height: 22pt;
  width: 90%;
  margin: 0 auto 40px auto;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em; }
  main.allWrapper a {
    text-decoration: none;
    color: #16395e; }
  main.allWrapper .col-md-8 {
    margin: auto;
    float: none; }
  main.allWrapper div.columnsContainer {
    margin: auto;
    float: none;
    display: block; }
  main.allWrapper div.columnsContainer > div.info {
    font-size: 1.15em;
    margin-top: 130px; }
  main.allWrapper div.columnsContainer > div.info > div.project-header {
    width: 89%;
    margin: auto; }
  main.allWrapper div.columnsContainer > div.info > div.project-header > h1 {
    font-size: 3em;
    font-family: "Eksell", "Oswald", Helvetica, sans-serif;
    font-weight: 400; }
  main.allWrapper div.columnsContainer > div.info > div.project-header > p.project-sub-title {
    margin-top: 10px;
    margin-bottom: 40px;
    max-width: 1400px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: .9em;
    line-height: 1.2;
    color: #16395e; }
  main.allWrapper div.columnsContainer > div.info > div.project-header > div.project-nav {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-size: 12px;
    float: right; }
  main.allWrapper div.columnsContainer > div.info > div.project-header > div.project-nav > a {
    opacity: 1; }
  main.allWrapper div.columnsContainer > div.info > div.project-header > div.project-nav > a:hover {
    opacity: .5; }
  main.allWrapper div.columnsContainer > div.info > h3 {
    font-family: "Eksell", "Oswald", Helvetica, sans-serif;
    margin: 1em auto -5px auto;
    width: 95%;
    max-width: 800px;
    font-size: 1.5em; }
  main.allWrapper div.columnsContainer > div.info > p.proj-sm-col {
    margin: 1em auto 1em auto;
    width: 95%;
    max-width: 800px;
    font-size: 18px;
    line-height: 1.6; }
  main.allWrapper div.columnsContainer > div.info > ul.proj-sm-col {
    margin: 1.5em auto 3em auto;
    width: 95%;
    max-width: 800px;
    font-size: 16px;
    line-height: 175%; }
  main.allWrapper div.columnsContainer > div.info > div.prototype-button {
    margin: 1em auto 3em auto;
    text-align: center;
    display: flex;
    max-width: 800px; }
    main.allWrapper div.columnsContainer > div.info > div.prototype-button div.button-side-line {
      height: 1px;
      background-color: #16395e;
      margin-top: 22px;
      margin-bottom: 20px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    main.allWrapper div.columnsContainer > div.info > div.prototype-button a > button {
      flex: 1; }
  main.allWrapper div.columnsContainer > div.info > table {
    font-size: 16px; }
  main.allWrapper div.columnsContainer > div.info > ul.p-list {
    margin-top: -35px; }

header {
  top: 0;
  z-index: 1000;
  width: 100%;
  margin: auto;
  background-color: transparent;
  height: 80px;
  z-index: 1;
  position: fixed; }
  header .header-wrapper {
    margin: auto;
    width: 80.5%;
    padding: 10px 0 10px 0; }

footer {
  width: 100%;
  background-color: #ddd;
  bottom: 0;
  margin: 0;
  padding: 30px 0 30px 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }
  footer div {
    width: 80.5%;
    margin: auto; }
    footer div p {
      margin: 10px 0; }
      footer div p a {
        color: #16395e; }

/*----- Home Page CSS -----*/
header > div.header-wrapper > a#main-logo {
  text-decoration: none;
  float: left;
  position: relative;
  margin-left: 4px; }

header > div.header-wrapper > a#main-logo:hover p.update-time {
  opacity: .25; }
header > div.header-wrapper > a#main-logo:hover img {
  opacity: .75; }

header > div.header-wrapper > a > h1#logo-type {
  font-family: "Eksell", "Oswald", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #16395e;
  margin-top: 16px;
  margin-bottom: 3px;
  letter-spacing: 1px;
  font-kern: normal; }

header > div.header-wrapper > a > h1:hover {
  opacity: .8; }

header > div.header-wrapper > a > p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #16395e;
  text-transform: uppercase;
  letter-spacing: 1px; }

header > div.header-wrapper > div#float-nav {
  float: right;
  top: 6px;
  position: relative;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 2px; }
  header > div.header-wrapper > div#float-nav a {
    margin-left: 20px;
    padding-right: 0;
    background-color: transparent; }
  header > div.header-wrapper > div#float-nav div.navbar-collapse {
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none; }

div.home_page {
  padding: 0;
  margin: 100px auto 0 auto;
  width: 90%;
  display: block;
  float: none;
  overflow: hidden; }

div.home_page > h2 {
  font-family: "Eksell", "Oswald", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.35;
  width: 100%;
  margin: auto;
  padding: 25px 5px 0px 5px;
  color: #16395e; }

div.home_page > p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: .85em;
  font-weight: 500;
  width: 100%;
  margin: auto;
  padding: 0 5px 40px 5px;
  color: #16395e; }

div.home_page > div.col-md-4 {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0; }

div.home_page > div.col-md-4 > div.list_group {
  display: inline-block;
  margin: .5em .5em .5em .5em;
  width: 100%;
  line-height: 28pt; }

div.home_page > div.col-md-4 > div {
  transition: all .1s; }

div.home_page > div.col-md-4 > div > a > img {
  box-sizing: border-box;
  border-radius: 3px;
  transition: .2s border;
  transition: .2s box-shadow; }

div.home_page > div.col-md-4 > div > a > img:hover {
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4); }

div.home_page > div.col-md-4 > div.list_group > div.thumb_info {
  height: 80px;
  width: 352px; }

div.home_page > div.col-md-4 > div.list_group:hover div.thumb_info {
  opacity: 1; }

div.home_page > div.col-md-4 > div.list_group > div.thumb_info > h4 {
  font-family: "Eksell", "Oswald", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 4px;
  font-kerning: normal; }

div.home_page > div.col-md-4 > div.list_group > div.thumb_info > p {
  margin-top: -10px;
  font-size: .6em;
  font-weight: 500;
  font-kerning: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #16395e;
  letter-spacing: 1px; }

div.home_page > div.col-md-4 > div.list_group > div.thumb_tag p {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: .6em;
  font-weight: 500;
  letter-spacing: .25em;
  padding: 0 10px; }
div.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_info {
  background-color: #FFCE1A; }
div.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_app {
  background-color: #0EB89C; }
div.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_web {
  background-color: #9322FF; }
div.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_toy {
  background-color: #E271FF; }
div.home_page > div.col-md-4 > div.list_group > div.thumb_tag p.tag_brand {
  background-color: #E86E49; }

button.nav-button {
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: "Roboto", Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 400;
  border: 1pt solid #16395e;
  background-color: #16395e;
  color: #fff; }

button.nav-button:hover {
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: "Roboto", Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 400;
  border: 1pt solid #16395e;
  background-color: #16395e;
  color: #999; }

button.nav-button:focus {
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: "Roboto", Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 400;
  border: 1pt solid #16395e;
  background-color: #16395e;
  color: #fff; }

/*---- Resume Page CSS ----*/
div.columnsContainer > div > div#resume {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 5em; }

div.columnsContainer > div > div#resume > div.about-header {
  margin-top: 120px; }

div.columnsContainer > div > div#resume > div#resume_main {
  font-size: 14px; }
  div.columnsContainer > div > div#resume > div#resume_main .table > tbody > tr > th {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    color: #16395e;
    padding-top: 5px; }
  div.columnsContainer > div > div#resume > div#resume_main .table > tbody > tr > th > span.desk-hidden {
    display: none; }

div.columnsContainer > div > div#resume > div.about-header > div.col-md-6 {
  padding-bottom: 40px; }

main.allWrapper > div.columnsContainer > div > div#resume > div.about-header > div.col-md-6 {
  overflow: hidden; }

div.columnsContainer > div > div#resume > div.about-header > div > h3 {
  font-family: "Eksell", "Oswald", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 3em;
  text-transform: none; }

div#resume a {
  font-size: 35px;
  letter-spacing: .3em; }

@media (max-width: 767px) {
  header {
    position: relative;
    height: 250px;
    width: 100%;
    text-align: center; }

  header > div.header-wrapper > a#main-logo {
    display: block;
    text-decoration: none;
    float: none; }

  header > div.header-wrapper > div#float-nav {
    float: none;
    text-align: center;
    margin: 5px auto 0 -10px;
    padding: 0;
    display: block;
    top: 0; }

  header > div.header-wrapper > div#float-nav a {
    margin-left: 0;
    font-size: 1em; }

  header > div.header-wrapper > div#float-nav > div.collapse {
    display: block; }

  header > div.header-wrapper > div#float-nav > div.collapse > ul > li {
    text-align: center; }

  header > div.header-wrapper > div#float-nav > button.navbar-toggle {
    float: none;
    height: 0; }

  div.home_page {
    margin-top: 5px; }
    div.home_page h2 {
      text-align: center;
      font-size: 1.5em;
      margin: 10px auto 0px auto; }
    div.home_page h4 {
      text-align: center; }
    div.home_page p {
      text-align: center;
      line-height: 1.5em;
      padding-top: 10px; }

  div.home_page > div.col-md-4 > div.list_group > div.thumb_info {
    height: 80px;
    width: 100%; }

  main.allWrapper > div.columnsContainer > div.info {
    margin-top: 0; }
    main.allWrapper > div.columnsContainer > div.info div.project-header div.project-nav {
      float: none;
      margin-top: 10px;
      margin-bottom: 10px; }

  div.home_page > div.col-md-4 > div.list_group > div.thumb_tag > p {
    top: 15px; }

  main.allWrapper > div.columnsContainer > div.info > div.project-header > h1 {
    font-size: 2em;
    font-weight: 400;
    text-align: center; }

  main.allWrapper > div.columnsContainer > div.info > div.project-header > p.project-sub-title {
    font-size: .75em;
    text-align: center; }

  main.allWrapper > div.columnsContainer > div.info > p.proj-sm-col {
    font-size: 14px;
    line-height: 1.6; }

  main.allWrapper > div.columnsContainer > div.info > table {
    font-size: 14px; }

  div.columnsContainer > div > div#resume > div.about-header {
    margin-top: 40px; }

  div.columnsContainer > div > div#resume > div#resume_main {
    font-size: 12px; }
    div.columnsContainer > div > div#resume > div#resume_main .table > tbody > tr > .mobile-hidden {
      display: none; }
    div.columnsContainer > div > div#resume > div#resume_main .table > tbody > tr > th > span.desk-hidden {
      display: normal; } }
/*---- Project Page CSS----*/
h3 {
  font-family: "Eksell", "Oswald", Helvetica, sans-serif;
  font-weight: 500; }

.table {
  margin: auto;
  margin-top: 20px;
  width: 90%; }

.table-bordered {
  margin-top: 50px;
  border: none; }

.table-bordered > tbody > tr > td {
  border: 0.5px solid #16395e;
  border-left: none;
  border-right: none; }

.table-bordered > tbody > tr > td:first-child {
  color: #16395e;
  font-family: "Roboto", sans-serif;
  font-size: .8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 11px; }

.hints {
  color: orangered; }

.light-slash {
  font-family: Helvetica, Arial，sans-serif;
  font-weight: 100;
  font-size: 1.2em; }

button.launch {
  background-color: #fff;
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: "Roboto", Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 500;
  border: 1pt solid #16395e;
  color: #16395e; }

button.launch:hover {
  background-color: #16395e;
  color: #fff; }

div.design-purpose > div.col-md-4 {
  margin: 50px 0 30px 0; }
  div.design-purpose > div.col-md-4 div.thumbnail {
    background-color: transparent;
    border: none; }
    div.design-purpose > div.col-md-4 div.thumbnail > img {
      max-width: 700px; }
    div.design-purpose > div.col-md-4 div.thumbnail h4 {
      text-align: center;
      font-family: "Eksell", "Oswald", Helvetica, sans-serif;
      font-size: 2em;
      font-weight: 300;
      margin-top: -5px; }
    div.design-purpose > div.col-md-4 div.thumbnail p {
      margin-bottom: 0; }
    div.design-purpose > div.col-md-4 div.thumbnail div.caption {
      margin-left: 20px; }
    div.design-purpose > div.col-md-4 div.thumbnail div.modal-body p {
      text-align: center;
      margin-bottom: 5px; }
    div.design-purpose > div.col-md-4 div.thumbnail div.modal-body img {
      display: block;
      margin: auto;
      width: 75%;
      border: 1pt solid #333333; }

div.columnsContainer .collection {
  text-align: center; }
div.columnsContainer h3 {
  font-size: 2em;
  margin-bottom: 5px; }
div.columnsContainer p.collection {
  line-height: 1.25em;
  margin-bottom: 20px;
  opacity: .75; }

/*# sourceMappingURL=main.css.map */
