main.allWrapper {
  line-height: 22pt;
  width: 90%;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}
main.allWrapper a {
  text-decoration: none;
  color: black;
}
main.allWrapper div.columnsContainer > div.info > h1 {
  width: 90%;
  font-size: calc(1em + 10vmin);
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  line-height: .85em;
  margin-top: 50px;
  margin-bottom: .3em;
}
main.allWrapper div.columnsContainer > div.info > strong {
  margin-bottom: 5em;
}
main.allWrapper div.columnsContainer > div.info > p {
  margin-bottom: 3em;
  max-width: 75%;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: #f2f2f2;
  height: 180px;
  padding-top: 2em;
  padding-left: 5.5%;
  padding-bottom: 2em;
}
header ul {
  list-style-type: none;
  display: none;
  padding: 15px;
  opacity: 0.9;
  font-size: 0.9em;
  border: 1pt solid black;
}
header ul li {
  list-style-type: none;
  line-height: 2em;
}
header ul li:hover {
  border-right: 3pt solid black;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*----- home page styles -----*/
section.home_page > div.row > div.col-md-4 > div {
  display: inline-block;
  margin: .5em .5em 1.5em .5em;
  height: 100%;
  line-height: 28pt;
}

section.home_page > div.row > div.col-md-4 > div:hover {
  box-shadow: 7px 7px 7px gray;
}

section.home_page > div.row > div.col-md-4 > div > div {
  opacity: 0;
  transition: .5s;
}

section.home_page > div.row > div.col-md-4 > div:hover > div.thumb_info {
  opacity: 1;
}

section.home_page > div.row > div.col-md-4 > div > div.thumb_info > h4 {
  width: 65%;
  height: 54px;
  background-color: black;
  position: absolute;
  margin-top: -3em;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  padding-left: .5em;
  padding-top: .5em;
}

section.home_page > div.row > div.col-md-4 > div > div > p {
  position: absolute;
  margin-top: -2em;
  color: white;
  padding-left: .8em;
}

section.home_page > div.row {
  margin-bottom: 2em;
  margin-top: 2em;
}
