@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
    url($font-file+'.woff') format('woff'),
    url($font-file+'.ttf') format('truetype'),
    url($font-file+'.svg#aller') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Eksell', '/fonts/EksellDisplayCompleteWeb/EksellDisplayWeb-Large');

// $theme-sub: #e37560;
$theme-sub: #16395e;
$theme: #16395e; // blue gray
$logo-color: #f9f9fc;
$float-nav-color: #f9f9fc;
$header: transparent;
$title_font_color: #16395e;
$subtitle_font_color: #16395e;
$thumbnail-highlight-color: #ffec00; // bright yellow
$background-color: #f9f9fc;
$background-color-2: #b5b5b6; // fixed
$display_font: 'Eksell', 'Oswald', sans-serif;
$sans_serif_font: 'Roboto', Helvetica, Arial, sans-serif;
$project_title_font:  'Eksell', 'Oswald', Helvetica, sans-serif;
$project_title_font_light: 'Roboto', Helvetica, sans-serif;
$logo_type: 'Eksell', 'Oswald', Helvetica, Arial, sans-serif;
$nav_font: 'Roboto', sans-serif;


body {
  background: $background-color;
  color: $theme;
  font-kerning: normal;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";


  background-color: #e5e5e6;
  // background-image: linear-gradient(rgba(255,255,255,.5) 1px, transparent 1px),
  // linear-gradient(90deg, rgba(255,255,255,.5) 1px, transparent 1px),
  // linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  // linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  // background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  // background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;

  ::selection {
    background: $thumbnail-highlight-color; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $thumbnail-highlight-color; /* Gecko Browsers */
  }
  a:focus { 
    outline: none; 
  } 


}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// img.thumb {
//   filter: grayscale(100%);
// }

button.btn:focus {
  outline: none;
  background-color: #fff;
  border: 1pt solid $theme;
}

main.allWrapper {
    z-index: -10;
    line-height: 22pt;
    width: 90%;
    // max-width: 1100px;
    margin: 0 auto 40px auto;
    // padding: 0 5% 0 5%;

  font: {
    family: $sans_serif_font;
    weight: 300;
    size: 1.2em;
  }
  a {
    text-decoration: none;
    color: $theme;
  }
  .col-md-8 {
    margin: auto;
    float: none;
  }
  div.columnsContainer {
    margin: auto;
    float: none;
    display: block;
  }
  div.columnsContainer > div.info {
    font-size: 1.15em;
    margin-top: 130px;
  }
  div.columnsContainer > div.info > div.project-header {
    width: 89%;
    // max-width: 1100px;
    margin: auto;
  }

  div.columnsContainer > div.info > div.project-header > h1 {
    font-size: 3em;
    font-family: $project_title_font;
    font-weight: 400;
    // letter-spacing: -1px;
    // line-height: 90%;
    // color: #6b6a70;
  }

  div.columnsContainer > div.info > div.project-header > p.project-sub-title {
    margin-top: 10px;
    margin-bottom: 40px;
    max-width: 1400px;
    font-family: $sans_serif_font;
    font-weight: 400;
    font-size: .9em;
    line-height: 1.2;
    // font-style: italic;
    color: $subtitle_font_color;
  }
  div.columnsContainer > div.info > div.project-header > div.project-nav {
    font-family: $nav_font;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-size: 12px;
    float: right;
  }
  div.columnsContainer > div.info > div.project-header > div.project-nav > a {
    opacity: 1;
    // color: #0d0103;
  }
  div.columnsContainer > div.info > div.project-header > div.project-nav > a:hover {
    opacity: .5;
  }
  div.columnsContainer > div.info > h3 {
    font-family: $project_title_font;
    margin: 1em auto -5px auto;
    width: 95%;
    max-width: 800px;
    font-size: 1.5em;
  }
  div.columnsContainer > div.info > p.proj-sm-col {
    margin: 1em auto 1em auto;
    width: 95%;
    max-width: 800px;
    font-size: 18px;
    line-height: 1.6;
  }
  div.columnsContainer > div.info > ul.proj-sm-col {
    margin: 1.5em auto 3em auto;
    width: 95%;
    max-width: 800px;
    font-size: 16px;
    line-height: 175%;
  }
  div.columnsContainer > div.info > div.prototype-button {
    margin: 1em auto 3em auto;
    text-align: center;
    display: flex;
    max-width: 800px;

    div.button-side-line {
      height: 1px;
      background-color: $theme;
      margin-top: 22px;
      margin-bottom: 20px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    a > button {
      flex: 1;
    }
  }
  div.columnsContainer > div.info > table {
    font-size: 16px;
  }
  div.columnsContainer > div.info > ul.p-list {
    margin-top: -35px;
  }
}

header {
  top: 0;
    z-index: 1000;
    width: 100%;
    margin: auto;
    background-color: $header;
    height: 80px;
    z-index: 1;
    position: fixed;
    // border-bottom: 1pt solid lightgray;
    .header-wrapper {
      margin: auto;
      width: 80.5%;
      // max-width: 1100px;
      padding: 10px 0 10px 0;
    }
}

footer {
  width: 100%;
  background-color: #ddd;
  bottom: 0;
  margin: 0;
  padding: 30px 0 30px 0;
  font-family: $nav_font;
  font-size: 14px;
  div {
    width: 80.5%;
    // max-width: 1100px;
    margin: auto;
    p {
      margin: 10px 0;
      a {
        color: $theme-sub;
        // font-style: italic;
      }
    }
  }
}



/*----- Home Page CSS -----*/

header > div.header-wrapper > a#main-logo {
  text-decoration: none;
  float: left;
  position: relative;
  margin-left: 4px;
}

header > div.header-wrapper > a#main-logo:hover {
  p.update-time {
    opacity: .25;
  }
  img {
    opacity: .75;
  }
}
header > div.header-wrapper > a > h1#logo-type {
  font-family: $display_font;
  font-weight: 500;
  // text-transform: uppercase;
  font-size: 2.5rem;
  color: $theme;
  margin-top: 16px;
  margin-bottom: 3px;
  letter-spacing: 1px;
  font-kern: normal;
}

header > div.header-wrapper > a > h1:hover {
  opacity: .8;
}

header > div.header-wrapper > a > p {
  font-family: $sans_serif_font;
  font-weight: 400;
  font-size: 10px;
  color: $theme;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header > div.header-wrapper > div#float-nav {
  float: right;
  top: 6px;
  position: relative;
  text-transform: uppercase;
  font-family: $nav_font;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 2px;

  a {
    margin-left: 20px;
    padding-right: 0;
    // color: #333;
    background-color: transparent;
  }
  div.navbar-collapse {
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

div.home_page {
  padding: 0;
  margin: 100px auto 0 auto;
  width: 90%;
  display: block;
  float: none;
  overflow: hidden;
}

div.home_page > h2 {
  font-family: $display_font;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.35;
  width: 100%;
  // max-width: 1100px;
  margin: auto;
  padding: 25px 5px 0px 5px;
  color: $theme;  // warm gray
  // color: #457fbc; // light blue
}

div.home_page > p {
  font-family: $sans_serif_font;
  font-size: .85em;
  font-weight: 400;
  width: 100%;
  margin: auto;
  padding: 0 5px 40px 5px;
  color: $theme;  // orange red
  line-height: 1.4;
}

div.home_page > div.col-md-4 {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

div.home_page > div.col-md-4 > div.list_group {
  display: inline-block;
  margin: .5em .5em -.3em .5em;
  width: 100%;
  line-height: 28pt;
}
div.home_page > div.col-md-4 > div {
  transition: all .1s;
  // border: 1pt solid white;
}

div.home_page > div.col-md-4 > div > a > img {
  // border-top: 2pt solid $theme-sub;
  // box-shadow: 0 26px 24px -16px rgba(0,0,0,0.3);
  box-sizing: border-box;
  border-radius: 3px;
  transition: .2s border;
  transition: .2s box-shadow;
}

div.home_page > div.col-md-4 > div > a > img:hover {
  box-shadow: 0 26px 24px -16px rgba(0,0,0,0.4);
}

// div.home_page > div.col-md-4 > div > a > img.thumb:hover {
//   -webkit-box-shadow:  4px 4px 5px 0px #919191;
//   -moz-box-shadow:     4px 4px 5px 0px #919191;
//   box-shadow:          4px 4px 5px 0px #919191;
// }

div.home_page > div.col-md-4 > div.list_group > div.thumb_info {
  height: 80px;
  width: 352px;
}

div.home_page > div.col-md-4 > div.list_group:hover {
  div.thumb_info {
    opacity: 1;
  } 
}

div.home_page > div.col-md-4 > div.list_group > div.thumb_info > h4 {

  // color: $theme-sub;
  font-family: $project_title_font;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 4px;
  font-kerning: normal;
  // letter-spacing: 1px;
  // text-transform: uppercase;
  // font-style: italic;


}
div.home_page > div.col-md-4 > div.list_group > div.thumb_info > p {
  // color: #f9f9fc;
  margin-top: -10px;
  font-size: .6em;
  font-weight: 500;
  font-kerning: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $subtitle_font_color;
  letter-spacing: 1px;
  // font-style: italic;
}

// Project Thumbnail Tags
div.home_page > div.col-md-4 > div.list_group > div.thumb_tag {
  p {
      // background-color: $theme;
      position: absolute;
      top: 5px;
      right: 5px;
      color: white;
      font-family: $sans_serif_font;
      font-size: .6em;
      font-weight: 500;
      letter-spacing: .25em;
      padding: 0 10px;
  }
  
  p.tag_info {
      background-color: #FFCE1A;
  }
  p.tag_app {
      background-color: #0EB89C;
  }
  p.tag_web {
      background-color: #9322FF;
  }
  p.tag_toy {
      background-color: #E271FF;
  }
  p.tag_brand {
      background-color: #E86E49;
  }
}

button.nav-button {
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: $sans_serif_font, sans-serif;
  font-weight: 400;
  border: 1pt solid $theme;
  background-color: $theme;
  color: #fff;
}
button.nav-button:hover {
  // -webkit-box-shadow: 3px 3px 3px #d8d8d8;
  // -moz-box-shadow:    3px 3px 3px #d8d8d8;
  // box-shadow:         3px 3px 3px #d8d8d8;
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: $sans_serif_font, sans-serif;
  font-weight: 400;
  border: 1pt solid $theme;
  background-color: $theme;
  color: #999;
}
button.nav-button:focus {
  // -webkit-box-shadow: 3px 3px 3px #d8d8d8;
  // -moz-box-shadow:    3px 3px 3px #d8d8d8;
  // box-shadow:         3px 3px 3px #d8d8d8;
  border-radius: 0px;
  transition: background-color, .25s;
  font-family: $sans_serif_font, sans-serif;
  font-weight: 400;
  border: 1pt solid $theme;
  background-color: $theme;
  color: #fff;
}








/*---- Resume Page CSS ----*/
div.columnsContainer > div > div#resume {
  font-family: $sans_serif_font;
  font-size: 18px;
  margin-bottom: 5em;
}
div.columnsContainer > div > div#resume > div.about-header {
  margin: 120px auto 0 auto;
  width: 92%;
  max-width: 1560px;
}
div.columnsContainer > div > div#resume > div#resume_main {
  font-size: 14px;

  .table>tbody>tr>th {
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: transparent;
    color: $theme;
    padding-top: 5px;
  }
  .table > tbody > tr > th > span.desk-hidden {
      display: none;
    }
}
div.columnsContainer > div > div#resume > div.about-header > div.col-md-6 {
  padding-bottom: 40px;
}

main.allWrapper > div.columnsContainer > div > div#resume > div.about-header > div.col-md-6 {
  overflow: hidden;
}

div.columnsContainer > div > div#resume > div.about-header > div > h3 {
  font-family: $project_title_font;
  font-weight: 200;
  font-size: 3em;
  text-transform: none;
}
div#resume a {
  font-size: 35px;
  letter-spacing: .3em;
}











@media (max-width: 767px) {
  header {
    position: relative;
    height: 250px;
    width: 100%;
    text-align: center;
  }
  header > div.header-wrapper > a#main-logo {
    display: block;

    text-decoration: none;
    float: none;
    
  }
  header > div.header-wrapper > div#float-nav {
    float: none;
    text-align: center;
    margin: 5px auto 0 -10px;
    padding: 0;
    display: block;
    top: 0;
    // border-top: 1pt solid rgba(0,0,0,.1);
  }

    header > div.header-wrapper > div#float-nav a {
      margin-left: 0;
      font-size: 1em;
      // border-bottom: 1pt solid $theme;

    }

  header > div.header-wrapper > div#float-nav > div.collapse {
    display: block;

  }
  header > div.header-wrapper > div#float-nav > div.collapse > ul > li {
    text-align: center;
  }
  header > div.header-wrapper > div#float-nav > button.navbar-toggle {
    float: none;
    height: 0;
  }

  div.home_page {
    margin-top: 5px;
    h2 {
      text-align: center;
      font-size: 1.5em;
      margin: 10px auto 0px auto;
    }
    h4 {
      text-align: center;
    }
    p {
      text-align: center;
      line-height: 1.5em;
      padding-top: 10px;
    }
  }

  div.home_page > div.col-md-4 > div.list_group > div.thumb_info {
    height: 80px;
    width: 100%;
  }


  main.allWrapper > div.columnsContainer > div.info {
    margin-top: 0;
    div.project-header {
      div.project-nav {
        float: none;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }


  div.home_page > div.col-md-4 > div.list_group > div.thumb_tag > p {
      top: 15px;
  }

  main.allWrapper > div.columnsContainer > div.info > div.project-header > h1 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
  }
  main.allWrapper > div.columnsContainer > div.info > div.project-header > p.project-sub-title {
    font-size: .75em;
    text-align: center;
  }
  main.allWrapper > div.columnsContainer > div.info > p.proj-sm-col {
    font-size: 14px;
    line-height: 1.6;
  }
  main.allWrapper > div.columnsContainer > div.info > table {
    font-size: 14px;
  }
  div.columnsContainer > div > div#resume > div.about-header {
    margin-top: 40px;
  }

  div.columnsContainer > div > div#resume > div#resume_main {
    font-size: 12px;

    .table > tbody > tr > .mobile-hidden {
      display: none;
    }
    .table > tbody > tr > th > span.desk-hidden {
      display: normal;
    }
}

}








/*---- Project Page CSS----*/

h3 {
  font-family: $project_title_font;
  font-weight: 500;
  // text-transform: uppercase;
}
.table {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  // max-width: 1100px;
}
.table-bordered {
  margin-top: 50px;
  border: none;
}
.table-bordered > tbody > tr > td {
  border: .5px solid $theme-sub;
  border-left: none;
  border-right: none;
}

.table-bordered > tbody > tr > td:first-child {
  color: $subtitle_font_color;
  // width: 145px;
  font-family: $nav_font;
  font-size: .8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 11px;
}

.hints {
  color: orangered;
}

.light-slash {
  font-family: Helvetica, Arialï¼Œsans-serif;
  font-weight: 100;
  font-size: 1.2em;
}

button.launch {
  // box-shadow: 3px 3px 3px #d8d8d8;
  background-color: #fff;
  border-radius: 0px;
  transition: background-color, .25s;
  // transition: border-radius, .25s;
  font-family: $sans_serif_font, sans-serif;
  font-weight: 500;
  border: 1pt solid $theme;
  color: $theme;
}

button.launch:hover {
  // border-radius: 25px;
  background-color: $theme;
  color: #fff;
}

div.design-purpose > div.col-md-4 {
  margin: 50px 0 30px 0;


  div.thumbnail {
    background-color: transparent;
    border: none;

    > img {
      max-width: 700px;
    }

    h4 {
    text-align: center;
    font-family: $project_title_font;
    font-size: 2em;
    font-weight: 300;
    margin-top: -5px;
    }

    p {
      margin-bottom: 0;
    }

    div.caption {
      margin-left: 20px;
    }

    div.modal-body {
      p {
        text-align: center;
        margin-bottom: 5px;
      }
      img {
        display: block;
        margin: auto;
        width: 75%;
        border: 1pt solid #333333;
      }
    }
  }
}


div.columnsContainer {
  .collection {
    text-align: center;
  }
  h3 {
    font-size: 2em;
    margin-bottom: 5px;
  }
  p.collection {
    line-height: 1.25em;
    margin-bottom: 20px;
    opacity: .75;
  }
}


