$theme: #333;
$sans_serif_font: 'Open Sans', Helvetica, Arial, sans-serif;
$project_title_font: 'Oswald', Helvetica, sans-serif;

body {
  background: #f2f2f2;
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

main.allWrapper {
    line-height: 22pt;
    width: 90%;
    margin: {
    top: 100px;
    left: 5%;
    right: 5%;
  }
  font: {
    family: $sans_serif_font;
    weight: 300;
    size: 1.2em;
  }
  a {
    text-decoration: none;
    color: #333;
  }
  div.columnsContainer > div.info {
    font-size: 1.15em;
  }
  div.columnsContainer > div.info > h1 {
    width: 90%;
    font-size: calc(1em + 7vmin);
    font-weight: 400;
    font-family: $project_title_font;
    text-transform: uppercase;
    line-height: 1.15em;
    letter-spacing: 0px;
    margin-top: 50px;
    margin-bottom: 0.2em;
  }
  div.columnsContainer > div.info > strong {
    margin-bottom: 5em;
  }
  div.columnsContainer > div.info > p {
    margin-bottom: 3em;
    max-width: 75%;
  }
}

header {
    position: fixed; 
    top: 0%;
    left:0%;
    width: 100%;
    background-color: #f2f2f2;
    height: 180px;
    padding-top: 2em;
    padding-left: 5.5%;
    padding-bottom: 2em;
    
    ul {
      list-style-type: none;
      display: none;  
      padding: 15px; 
      opacity: 0.9; 
      font-size: 0.9em; 
      border: 1pt solid $theme;
      
      li {
        list-style-type: none;
        line-height: 2em;
      }
      
      li:hover {
        border-right: 3pt solid $theme;
      }
    }
}




/*----- Home Page CSS -----*/

section.home_page {
  margin-bottom: 2em;
  margin-top: 1em;
  padding: 0;
}

section.home_page > div.col-md-4 {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}

section.home_page > div.col-md-4 > div.list_group {
  display: inline-block;
  margin: .5em .5em 1.5em .5em;
  width: 100%;
    line-height: 28pt;
}
section.home_page > div.col-md-4 > div:hover {
  box-shadow: 7px 7px 7px gray;
}
section.home_page > div.col-md-4 > div.list_group > div.thumb_info {
  opacity: 0;
  transition: .5s;
}
section.home_page > div.col-md-4 > div:hover > div.thumb_info {
  opacity: 1;
}
section.home_page > div.col-md-4 > div.list_group > div.thumb_info > h4 {
  width: 65%;
  height: 54px;
  background-color: black;
  position: absolute;
  margin-top: -3em;
  color: white;
  font-family: $sans_serif_font;
  font-weight: 200;
  padding-left: .5em;
  padding-top: .5em;
}
section.home_page > div.col-md-4 > div.list_group > div.thumb_info > p {
  position: absolute;
  margin-top: -2em;
  color: white;
  padding-left: .8em;
}



/*---- Resume Page CSS ----*/
div.columnsContainer > div.col-md-10 > div#resume {
  font-family: $sans_serif_font;
  margin-bottom: 5em;
}
div.columnsContainer > div.col-md-10 > div#resume > h1, h3 {
  font-weight: 200;
}
div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul {
  list-style: none;
}
div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul.time {
  float: left;
  width: 300px;
}
div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul.time > li > p.empty{
  opacity: 0;
}
div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul > li > p + p {
  margin-top: -15px;
}
div#resume a {
  font-size: 35px;
  letter-spacing: .3em;
}
// .table>tbody>tr.success>th {
//   background: rgba(223, 240, 216, .5);
// }



/*---- Project Page CSS----*/
div.columnsContainer > div.project_photos > div {
  margin: 1em 0 1em 0;
}

h3 {
	font-weight: bold;
}

.description-highlight {
	border-left: 10px solid lightgray;
	padding: 0 0 0 20px;
}

.hints {
  color: orangered;
}

.light-slash {
  font-family: Helvetica, Arial， sans-serif;
  font-weight: 100;
  font-size: 1.2em;
}

sup {
  font-weight: lighter;
  font-size: .5em;
}