<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view8">Previous Project</a> | <a href="#/view17">Next Project</a> &rarr;</div>
		<h1>Self Identity</h1>
		<p class="project-sub-title">Branding</p>

		<strong><i class="fa fa-hand-o-right" aria-hidden="true"></i> Director: </strong>Self-directed<br />
		<strong><i class="fa fa-cubes" aria-hidden="true"></i> Tools: </strong>InDesign, Illustrator, Photoshop<br />
		<strong><i class="fa fa-calendar" aria-hidden="true"></i> Year: </strong>2016<br /><br />

		<p>Hi there, I'm Tim / Xiaofeng, an interaction designer / crafter in the begining of my career. I also see myself as a paper craftsman, die-hard basketball fan, Pokemon expert, multicultural cook, and animal lover. I believe confidence is key but overrated, and craftsmanship is the social moral of arts and design. In this new personal branding, my initials "XL" has been abstracted into three graphic elements - dot (point / concept), diagonal line (progression / creativity) and horizontal rule (calmness / maturity), which represent my personal motto.</p>

	</div>


		<img ng-src='img/self-promo/self-promo-02.jpg' width='100%'/><br/><br/>

	<div class="project_photos">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0 13px 0 0">
			<img ng-src='img/self-promo/self-promo-03.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0 0 0 13px">
			<img ng-src='img/self-promo/self-promo-09.png' width='100%' />
		</div>
	</div>

	<div class="project_photos">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0 13px 0 0">
			<img ng-src='img/self-promo/self-promo-05.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0 0 0 13px">
			<img ng-src='img/self-promo/self-promo-06.jpg' width='100%' />
		</div>
	</div>

	<div class="project_photos">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0 13px 0 0">
			<img ng-src='img/self-promo/self-promo-07.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0 0 0 13px">
			<img ng-src='img/self-promo/self-promo-08.jpg' width='100%' />
		</div>
	</div>

		

	<br/><br/>
	<div>&larr; <a href="#/view8">Previous</a> | <a href="#/view17">Next</a> &rarr;</div>

</div><br/><br/><br/>
