<style>
	div.col-xs-12 {
		margin-left: 0px;
	}
	div.col-xs-12 > img {
		margin-bottom: 2em;
		margin-left: 0;
	}
	div.col-xs-12 {
		padding-left: 0;
	}
</style>

<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
		<div class="project-header">
<!-- 		<div class="project-nav">&larr; <a href="#/view18">Previous Project</a> | <a href="#/view10">Toy Collection</a> &rarr;</div> -->
		<h1 style="margin-bottom: 30px;">Layouts</h1>
	</div>
	</div>




		<h3 class="collection">600 Third Ave Brochure Covers</h3>
		<p class="collection">Union Design LLC - Including building info, transit, amenities, plans, etc.</p>
		<div class="col-sm-12 col-xs-12">
			<img style="border: 1pt solid lightgray;" ng-src='img/collection-layout/layout-22.png' width='100%' />
		</div>
		<div class="col-sm-12 col-xs-12">
			<img style="border: 1pt solid lightgray;" ng-src='img/collection-layout/layout-23.png' width='100%' />
		</div>
		<img src="img/BPDS/blank-divider.png" width="100%" />


		<h3 class="collection">28 Liberty St Hoarding</h3>
		<p class="collection">Union Design LLC - Combining building brand and sculpture by Jean Dubuffet</p>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-19.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-20.jpg' width='100%' />
		</div>
		<div class="col-xs-12">
			<img ng-src='img/collection-layout/layout-21.png' width='100%' />
		</div>
		<img src="img/BPDS/blank-divider.png" width="100%" />



		<h3 class="collection">Typo Berlin Conference Brochure</h3>
		<p class="collection">Including speaker bios, event schedule, and sponsers, etc.</p>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-01.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-02.png' width='100%' />
		</div>
		<img src="img/BPDS/blank-divider.png" width="100%" />


		<h3 class="collection margin-before">Almabridge Consulting Brochure</h3>
		<p class="collection">Including company brief, process, experience, products, team, etc.</p>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-15.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-16.png' width='100%' />
		</div>
		<img src="img/BPDS/blank-divider.png" width="100%" />


<!-- 		<h3 class="collection margin-before">Graphis Magazine Index</h3>
		<p class="collection">Including version info, subscription, content index, mailing info, etc.</p>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-03.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-04.png' width='100%' />
		</div>
		<img src="img/BPDS/blank-divider.png" width="100%" /> -->


		<h3 class="collection margin-before">Self Indentity</h3>
		<p class="collection">Including business cards, invoice, resume, font archive etc.</p>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<img ng-src='img/self-promo/self-promo-02.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/self-promo/self-promo-05.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/self-promo/self-promo-06.jpg' width='100%' />
		</div>
		<img src="img/BPDS/blank-divider.png" width="100%" />


		<h3 class="collection margin-before">Miscellaneous Projects</h3>
		<br>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-07.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-08.png' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-05.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-06.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-11.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/collection-layout/layout-12.png' width='100%' />
		</div>
		
<img src="img/BPDS/blank-divider.png" width="100%" />

</div>
