<div>
	
	<p><div id="video-padding">
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/760398277?h=449b66379f" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
	</div></p>

	<h3 class="project-title">GA Mechanism of Disease Animation</h3>

	<p class="project-description">Client: Apellis Pharmaceuticals</p>
	<p class="project-description">Agency: Area 23</p>
	<p class="project-description">Animation: Panic Studio</p>
	<p class="project-description">Creative directors: Karl Johnson, Patrycja Lukjanow, Taelor Pawnell</p>
	<p class="project-description">Copy writer: Jeremy Gross</p>
	<p class="project-description">Art director: Xiaofeng Lin (Concept, style and color explorations, storyboard sketches, voice actor selection, music selection, vendor communication and other art direction)</p>

	<!-- <p class="project-description">The Merck MMRV Family is the only complete family of vaccines helping to protect generations of children from measles, mumps, rubella, and varicella. We refreshed the brand identity and did a photo shoot based on the logo color palette. Photography by Jason Madara Studio.</p> -->

	<p><img ng-src='img/GA_MOD_StoryBoards.jpg' width='100%' /></p>
	<p><img ng-src='img/GA_MOD_screen1.png' width='100%' /></p>
	<p><img ng-src='img/GA_MOD_screen5.png' width='100%' /></p>
	<p><img ng-src='img/GA_MOD_screen3.png' width='100%' /></p>

	<p><img ng-src='img/GA_MOD_screen4.png' width='100%' /></p>
	
	<p><img ng-src='img/GA_MOD_screen6.png' width='100%' /></p>
	<p><img ng-src='img/GA_MOD_screen7.png' width='100%' /></p>
	

	<script src="https://player.vimeo.com/api/player.js"></script>		
		
</div>
