<br/><br/><br/>

<div class="columnsContainer">

	<div class="about-header">
		<div class="col-md-4" style="padding-left: 0; line-height: 2em; margin-bottom: 40px;">
			<h3>Project Archive</h3>
			<p>Total Number of Live Projects: <strong>11</strong></p>
			<p>Total Number of Ongoing Projects: <strong>3</strong></p>
			<p>Self-Satisfactory Rate: <strong>25%</strong></p>
			<p>Current Trend: <strong>JS, UX</strong></p>
			<hr style="height:.5px;border:none;color:#333;background-color:#333;" />
			<p>Site Latest Update: <em>Mar 2017</em></p>
		</div>
		<div class="col-md-8" style="padding: 0; margin-bottom: 40px;">
			<h3>Current Location - New York</h3>
			<img src="img/archive-img.jpg" width="100%" />
		</div>
	</div>


	<br><br>

	<table class="table table-striped">
  		<tr>
		    <th>#</th>
		    <th>Project Name</th> 
		    <th>Category</th>
		    <th>Date Created</th>
		    <th>Link</th>
		</tr>
		<tr>
		    <td>11</td>
		    <td>Brookfield Presentation</td> 
		    <td>Multi-platform System</td>
			<td>2017 (New)</td>
		    <td><a href="#/view19"><kbd>Go</kbd></a></td>
		</tr>
		<tr>
		    <td>10</td>
		    <td>Self Identity</td> 
		    <td>Branding</td>
		    <td>2016</td>
		    <td><a href="#/view20"><kbd>Go</kbd></a></td>
		</tr>
		<tr>
		    <td>9</td>
		    <td>Boxes/Type/Labels</td> 
		    <td>Branding</td>
		    <td>2016</td>
		    <td><a href="#/view3"><kbd>Go</kbd></a></td>
		</tr>
		<tr>
		    <td>8</td>
		    <td>Chain of Thought</td> 
		    <td>Illustration</td>
		    <td>2016</td>
		    <td><a href="#/view12"><kbd>Go</kbd></a></td>
		</tr>
		<tr>
		    <td>7</td>
		    <td>Yuhua Agate Web</td> 
		    <td>User Interface</td>
		    <td>2016</td>
		    <td><a href="#/view4"><kbd>Go</kbd></a></td>
		</tr>
		<tr>
		    <td>6</td>
		    <td>Stats Visualization System</td> 
		    <td>User Interface</td>
		    <td>2016</td>
		    <td><a href="#/view14"><kbd>Go</kbd></a></td>
		</tr>
		<tr>
		    <td>5</td>
		    <td>Markers</td> 
		    <td>User Interface</td>
		    <td>2015</td>
		    <td><a href="#/view9"><kbd>Go</kbd></a></td>
		</tr>
		<tr>
		    <td>4</td>
		    <td>Blackout 2003</td> 
		    <td>Information Design</td>
		    <td>2013</td>
		    <td><a href="#/view2"><kbd>Go</kbd></a></td>
		 </tr>
		 
		 <tr>
		    <td>3</td>
		    <td>Paper Thingy</td> 
		    <td>Product Design</td>
		    <td>2015</td>
		    <td><a href="#/view7"><kbd>Go</kbd></a></td>
		 </tr>
		 
		 <tr>
		    <td>2</td>
		    <td>Sanctuary Branding</td> 
		    <td>Branding</td>
		    <td>2016</td>
		    <td><a href="#/view17"><kbd>Go</kbd></a></td>
		 </tr>
		 
		 <tr>
		    <td>1</td>
		    <td>Type and Code</td> 
		    <td>Generative Typography</td>
		    <td>2013</td>
		    <td><a href="#/view8"><kbd>Go</kbd></a></td>
		 </tr>
	</table>
	<br>


</div><br/><br/><br/>
