<style>
	.col-md-6,.col-md-12 {
		margin-bottom: 30px;
	}
</style>

<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
		<div class="project-header">
			<h1>Play</h1>
		</div>
	</div>

	<h4 class="collection">3D Renderings (Blender)</h4>
	<p class="col-md-6" data-toggle="modal" data-target="#myModal1" style=" cursor: pointer;"><img src='img/collection-toys/3D/render2019_14_2.jpg' width='100%' /></p>
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<p style="margin: 20px 20px 20px 20px;"><img src='img/collection-toys/3D/render2019_14_2.jpg' width='100%' /></p>
	</div>

	<p class="col-md-6" data-toggle="modal" data-target="#myModal2" style=" cursor: pointer;"><img src='img/collection-toys/3D/render2019_9_2.jpg' width='100%' /></p>
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<p style="margin: 20px 20px 20px 20px;"><img src='img/collection-toys/3D/render2019_9_2.jpg' width='100%' /></p>
	</div>

	<p class="col-md-6" data-toggle="modal" data-target="#myModal3" style=" cursor: pointer;"><img src='img/collection-toys/3D/render2019_15.jpg' width='100%' /></p>
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<p style="margin: 20px 20px 20px 20px;"><img src='img/collection-toys/3D/render2019_15.jpg' width='100%' /></p>
	</div>

	<p class="col-md-6" data-toggle="modal" data-target="#myModal4" style=" cursor: pointer;"><img src='img/collection-toys/3D/render2019_15_1.jpg' width='100%' /></p>
	<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<p style="margin: 20px 20px 20px 20px;"><img src='img/collection-toys/3D/render2019_15_1.jpg' width='100%' /></p>
	</div>

	<p class="col-md-6" data-toggle="modal" data-target="#myModal5" style=" cursor: pointer;"><img src='img/collection-toys/3D/render2019_13.jpg' width='100%' /></p>
	<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<p style="margin: 20px 20px 20px 20px;"><img src='img/collection-toys/3D/render2019_13.jpg' width='100%' /></p>
	</div>

	<p class="col-md-6" data-toggle="modal" data-target="#myModal6" style=" cursor: pointer;"><img src='img/collection-toys/3D/render2019_3.jpg' width='100%' /></p>
	<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<p style="margin: 20px 20px 20px 20px;"><img src='img/collection-toys/3D/render2019_3.jpg' width='100%' /></p>
	</div>

	<p class="col-md-6" data-toggle="modal" data-target="#myModal7" style=" cursor: pointer;"><img src='img/collection-toys/3D/render2019_12.jpg' width='100%' /></p>
	<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<p style="margin: 20px 20px 20px 20px;"><img src='img/collection-toys/3D/render2019_12.jpg' width='100%' /></p>
	</div>

	<p class="col-md-6" data-toggle="modal" data-target="#myModal8" style=" cursor: pointer;"><img src='img/collection-toys/3D/render2019_11.jpg' width='100%' /></p>
	<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<p style="margin: 20px 20px 20px 20px;"><img src='img/collection-toys/3D/render2019_11.jpg' width='100%' /></p>
	</div>

	<p class="col-md-12"><img src='img/collection-toys/3D/render2019_6.jpg' width='100%' /></p>
	
<img src="img/BPDS/blank-divider.png" width="100%" />

	<h4 class="collection">LED Animal Balancing Blocks</h4>
	<p class="col-md-6"><img src='img/collection-toys/toy-01.jpg' width='100%' /></p>
	<p class="col-md-6"><img src='img/collection-toys/toy-02.jpg' width='100%'/></p>

<img src="img/BPDS/blank-divider.png" width="100%" />

	<h4 class="collection">Modular Toy Concepts</h4>
	<p class="col-md-6"><img src='img/collection-drawings/drawing-05.jpg' width='100%'/></p>
	<p class="col-md-6"><img src='img/collection-drawings/drawing-07.jpg' width='100%'/></p>
	<p class="col-md-6"><img src='img/collection-drawings/drawing-08.jpg' width='100%'/></p>

<img src="img/BPDS/blank-divider.png" width="100%" />

	<h4 class="collection">Experimental Layouts for Language Poets</h4>
	<p class="col-md-12"><img src='img/collection-toys/toy-21.jpg' width='100%'/></p>

<img src="img/BPDS/blank-divider.png" width="100%" />

	<h4 class="collection">Animal Eraser Package</h4>
	<p class="col-md-6"><img src='img/collection-toys/toy-03.jpg' width='100%'/></p>
	<p class="col-md-6"><img src='img/collection-toys/toy-04.jpg' width='100%'/></p>

<img src="img/BPDS/blank-divider.png" width="100%" />

	<h4 class="collection">Pokémon Battle Toy Concept</h4>
	<p class="col-md-6"><img src='img/collection-drawings/drawing-13.jpg' width='100%'/></p>
	<p class="col-md-6"><img src='img/collection-drawings/drawing-14.jpg' width='100%'/></p>

<img src="img/BPDS/blank-divider.png" width="100%" />

	<h4 class="collection">AR Toy Characters</h4>
	<p class="col-md-6"><img src='img/collection-toys/toy-09.jpg' width='100%'/></p>
	<p class="col-md-6"><img src='img/collection-toys/toy-10.jpg' width='100%'/></p>

<img src="img/BPDS/blank-divider.png" width="100%" />

	<h4 class="collection">Complex Paper Blocks</h4>
	<p class="col-md-6"><img src='img/collection-toys/toy-11.jpg' width='100%'/></p>
	<p class="col-md-6"><img src='img/collection-toys/toy-12.jpg' width='100%'/></p>

<img src="img/BPDS/blank-divider.png" width="100%" />

	<h4 class="collection">Simon Says Game</h4>
	<p class="col-md-6"><img src='img/collection-toys/toy-13.jpg' width='100%'/></p>
	<p class="col-md-6"><img src='img/collection-toys/toy-14.jpg' width='100%'/></p>

<img src="img/BPDS/blank-divider.png" width="100%" />


</div>
