<br/><br/><br/>

<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view8">Previous</a> | <a href="#/view3">Next</a> &rarr;</div>
		<h1>$AVERIST</h1>
		<strong>User Interface</strong><br />
		<strong>Skills / Tools: </strong>Illustrator, Photoshop<br />
		<strong>Advisor: </strong>Stephen Farrell<br /><br />
		<p>$averist is a self financial management app that helps you deal with your budgets and save money to achieve your goals. Functions of the app includes bank account management, budget and goal setting, bill reminder, cost categorizing, etc.</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/saverist_main_01.png' ng-class='projectImage' width='100%' style="min-width: 200px"/>
		<img ng-src='img/saverist_main_02.png' ng-class='projectImage' width='100%' style="min-width: 200px"/>
		<img ng-src='img/saverist_process.png' ng-class='projectImage' width='100%' style="min-width: 200px"/>
		<hr />
		<h3>Early Mockups:</h3>
		<img ng-src='img/saverist_1.png' ng-class='projectImage' width='100%' style="min-width: 200px"/><br /><br />
		<img ng-src='img/saverist_2.png' ng-class='projectImage' width='100%' style="min-width: 200px"/><br /><br />
		<img ng-src='img/saverist_3.png' ng-class='projectImage' width='100%' style="min-width: 200px"/><br /><br />
		<img ng-src='img/saverist_4.png' ng-class='projectImage' width='100%' style="min-width: 200px"/><br /><br />
		<img ng-src='img/saverist_5.png' ng-class='projectImage' width='100%' style="min-width: 200px"/><br /><br />
		<img ng-src='img/saverist_6.png' ng-class='projectImage' width='100%' style="min-width: 200px"/><br /><br />
		<img ng-src='img/saverist_7.jpg' ng-class='projectImage' width='100%' style="min-width: 200px"/>
	</div>
	<br>
	<div>&larr; <a href="#/view8">Previous</a> | <a href="#/view3">Next</a> &rarr;</div>

</div><br/><br/><br/>
