
<div>

		<p><img ng-src='img/BPDS/BPDS-show-2-small.jpg' width='100%' /></p>

		<a href="https://bpds-media.s3.amazonaws.com/web/index-ios.html#page/core/bpp%2Foffice" target="_blank">Link</a>

		<h3 class="project-title">Background</h3>
		<p class="project-description">Brookfield is a leading global alternative asset manager, focused on investing in long-life, high quality assets across real estate, infrastructure, renewable power and private equity. In order to give a new look to their old Flash &amp; XML based internal presentation system, Union Design has completed an all-around project on designing and developing a CMS-centralized multi-platform application. The project was officially released in 2016.</p>

		<p class="project-description">Based on the old presentation system, we first reorganized all business units, countries, markets, and other customized sections within the application structures in the form of a few flow charts and diagrams, then we worked on the look &amp; feel of the new presentation branding, which is the color (for common text and image based pages) and grayscale (for map based pages) gradient <span style="white-space: nowrap;">background series.</span></p>
		<br>
		<p><img src='img/BPDS/color-scheme-1.jpg' width='100%'/></p>
		<p><img src='img/BPDS/color-scheme-2.jpg' width='100%'/></p>
		<p><img ng-src='img/info_design/placemaking-2.jpg' width='100%' /></p>
		<p><img ng-src='img/info_design/dubai-3.png' width='100%' /></p>
		<p><img ng-src='img/info_design/DC-marketing-3.png' width='100%' /></p>
		<p><img ng-src='img/info_design/DC-marketing-4.png' width='100%' /></p>

		<p><img src='img/BPDS/screens-01.png' width='100%'/>
		<img src='img/BPDS/screens-02.png' width='100%'/>
		
	</div>


	<br>
