<style>
	div.col-xs-12 {
		margin-left: 0px;
	}
	div.col-xs-12 > img {
		margin-bottom: 2em;
		margin-left: 0;
	}
	div.col-xs-12 > img:hover {
		box-shadow: 5px 5px 5px lightgray;
	}
	div.col-xs-12 {
		padding-left: 0;
	}
</style>


<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div><a href="#/view15">&larr; Layout Collection</a> | <a href="#/view11">Drawing Collection &rarr;</a></div>
		<h1>Toys</h1>
		<!--strong>Toy Design | Computational Craft | Package Design</strong><br />
		<strong>Skills / Tools: </strong>Illustrator, Soft Circuitry<br />
		<strong>Advisor: </strong>Liza Stark<br />
		<strong>Instructables (FEATURED):</strong> <a href="http://www.instructables.com/id/LED-Animal-Balancing-Blocks/" target="_blank">instructables.com/id/LED-Animal-Balancing-Blocks</a><br /><br />
		
		<p>LED Animal Balancing Blocks allow you to pile and balance them, light them up however you want.</p-->
	</div><br>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/animal_blocks_1.jpg' width='100%'/>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/animal_blocks_3.jpg' width='100%'/>
	</div>

	</div><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/animal_blocks_5.jpg' width='100%'/>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/animal_blocks_7.jpg' width='100%'/>
	</div>

	

	<!--div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/animal_eraser_2.jpg' width='100%'/>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/animal_eraser_1.jpg' width='100%'/>
	</div-->

	


	<br><br><br>

	<div><a href="#/view15">&larr; Layout Collection</a> | <a href="#/view11">Drawing Collection &rarr;</a></div>

</div><br/><br/><br/>
