<div>

		<img src='img/collection-toys/3D/render2019_9_2.jpg' width='100%' />
		<h3 class="project-description">Woman's March- 3D rendering inspired by Virginie Morgand</h3>
<br>
		<img src='img/collection-toys/3D/render2020_14.jpg' width='100%' />
		<h3 class="project-description">Character Design - Karen</h3>
<br>
		<img src='img/corporate/Mix2-ill-sketch-1-noText-1.png' width='100%' />
		<h3 class="project-description">DNA of Revolution - Xiaomi Mix 2 Banner Concept</h3>
<br>
		<img src='img/collection-toys/3D/render2020_7.jpg' width='100%' />
		<h3 class="project-description">Stroke of New York</h3>
<br>
		<img src='img/collection-toys/3D/render2019_6.jpg' width='100%' />
		<h3 class="project-description">Jade - Dragon Quest XI Character Modeling</h3>
<br>
		<img ng-src='img/chain_of_thought/chain-of-thought-01.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-02.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-03.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-04.png' width='100%'/>
		<h3 class="project-description">Chain of Thought</h3>


</div>
