<div class="home_page">

	<img ng-src='img/MMRV-laptop.png' width='100%' />
	<h3 class="project-title">Merck MMRV Family</h3>
	<p class="project-description">The Merck MMRV Family is the only complete family of vaccines helping to protect generations of children from measles, mumps, rubella, and varicella. We refreshed the brand identity and did a photo shoot based on the logo color palette. Photography by Jason Madara Studio.</p>
	<p><a href="https://www.merckvaccines.com/mmrv-family/" target="_blank">Link</a></p>

	<p><img ng-src='img/img-mmrv-1.jpg' width='100%' /></p>
	<p><img ng-src='img/img-mmrv-2.jpg' width='100%' /></p>
	<p><img ng-src='img/img-mmrv-3.jpg' width='100%' /></p>
</div>
