
<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view18">Previous</a> | <a href="">Next</a> &rarr;</div>
		<h1>Paper Thingy Self Promotion Posters</h1>
		<strong>Typography</strong><br />
		<strong>Skills / Tools: </strong>Illustrator, Photoshop<br />
		<p>These are test layouts for Paper Thingy promoting ideas and thoughts behind its design and production.</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/thingy_poster_1.jpg' ng-class='projectImage' width='100%'/><br /><br />
		<img ng-src='img/thingy_poster_2.jpg' ng-class='projectImage' width='100%'/><br /><br />
		<img ng-src='img/thingy_poster_3.jpg' ng-class='projectImage' width='100%'/><br /><br />
		<img ng-src='img/thingy_poster_4.jpg' ng-class='projectImage' width='100%'/><br /><br />

	</div>
	<div>&larr; <a href="#/view17">Previous</a> | <a href="">Next</a> &rarr;</div>

</div><br/><br/><br/>
