<!-- <br/><br/><br/>
<section class="">

	<div class="row">

			<div class="col-xs-8 col-sm-8">
				<img ng-src='img/picView05_2.png' ng-class='projectImage' width='95%'></img>
			</div>


			<div class="col-xs-12 col-sm-5" style="position: fixed; left: 55%">
				<img src="img/extendable-wire01.png" width="95%"></img>
				<p>{{project4.projectDescription[3]}}</p>

			</div>

	</div>

</section> -->

<br/><br/><br/>
<div class="columnsContainer">

	<div class="leftColumn" style="opacity: 0.8">
		<img ng-src='img/picView05_2.png' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/picView05.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/ar-site-01.png' ng-class='projectImage' width='93%' style="border: solid 1pt gray"></img><br/><br/>
		<img ng-src="img/ar-site-02.png" ng-class='projectImage' width='93%' style='border: solid 1pt gray'></img><br/><br/>

		<img ng-src='img/extend-back.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/extend-d1.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/extend-d2.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/extend-d3.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
	</div>

	<div class="rightColumn">
<!-- 		<img src="img/extendable-wire01.png" width="95%"></img> -->
		<div>&larr; <a href="#/view4">Previous</a> | <a href="#/view6">Next</a> &rarr;</div>
		<h1 style="margin-bottom: -.4em; padding-bottom: 0">The Extendables</h1>
		<p>Toy Design | Web Design | Illustration</p>
		<p>For today’s kids, high-tech devices are made rather accessible to them. Video games, Apps, and other screen-based content are mentally loud and visually overwhelming, which is causing kids to ignore the physical world and supposedly engaging objects, yet physical toys are not often built cross-platform in order to let children not only carry them around, but also be aware of the advancement of today’s technology. </p>

		<p>I wanted to re-picture a toy world that was partially physical, partially digital and that acts as a platform for media and itself in a poetic fashion. The toy may create its living environment on its own. AR seems like a proper way of giving physical objects an identity and set of behaviors in new and existing media worlds.</p>
	</div>

</div>
