
<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view17">Previous</a> | <a href="#/view19">Next</a> &rarr;</div>
		<h1>Graphis Index</h1>
		<strong>Typography</strong><br />
		<strong>Skills / Tools: </strong>InDesign, Illustrator, Photoshop<br />
		<strong>Advisor: </strong>Stephen Farrell<br /><br />
		<p>These spreads demonstrates how a particular Graphis magazine index page can be organized.</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/graphis_01.jpg' ng-class='projectImage' width='100%'/><br /><br /><br /><br />
		<img ng-src='img/graphis_02.jpg' ng-class='projectImage' width='100%'/><br /><br />

	</div>
	<div>&larr; <a href="#/view17">Previous</a> | <a href="">Next</a> &rarr;</div>

</div><br/><br/><br/>
