<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view2">Previous Project</a> | <a href="#/view8">Next Project</a> &rarr;</div>
		<h1>Boxes<span class="light-slash">/</span> Type<span class="light-slash">/</span> Labels</h1>
		<p class="project-sub-title">Branding / Packaging</p>

		<strong><i class="fa fa-hand-o-right" aria-hidden="true"></i> Director: </strong>Self-directed<br />
		<strong><i class="fa fa-cubes" aria-hidden="true"></i> Tools: </strong>Illustrator, Photoshop, Silhouette Studio<br />
		<strong><i class="fa fa-calendar" aria-hidden="true"></i> Year: </strong>2016<br /><br />
		
		<p>This collection of packaging projects demonstrates custom templates that are folded and glued from one piece of paper. Using Silhouette Studio, I created modified versions of templates, and I made custom fonts for the new branding of products (tea leaves, gummy bears, font cards, beads, and fortune cookies)that are conventionally not packaged in these ways / styles. This series is featured in Behance Graphic Design Gallery.</p>
	</div>
	<div class="project_photos">

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-1.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-2.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-3.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-4.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-5.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-6.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-7.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-8.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-9.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-10.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-11.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-12.jpg' width='100%' />
		</div>


		<br><br>
	</div>
	<div>&larr; <a href="#/view2">Previous Project</a> | <a href="#/view8">Next Project</a> &rarr;</div>

</div><br><br><br>
