<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view4">Previous Project</a> | <a href="#/view12">Next Project</a> &rarr;</div>
		<h1>Paper Thingy</h1>
		<p class="project-sub-title">Toy Design</p>

		<strong><i class="fa fa-hand-o-right" aria-hidden="true"></i> Directors: </strong>Anezka Sebek, Kyle Li<br />
		<strong><i class="fa fa-cubes" aria-hidden="true"></i> Tools: </strong>HTML, CSS/Sass, Javascript, AngularJS, Illustrator, Photoshop, GIMP, Blender 3D, Silhouette Studio<br />
		<strong><i class="fa fa-book" aria-hidden="true"></i> Documentation:</strong> <a href="https://xiaofenglinthesis1.wordpress.com/">xiaofenglinthesis1.wordpress.com</a><br />
		<strong><i class="fa fa-calendar" aria-hidden="true"></i> Year: </strong>2016<br /><br />
		<!--strong>Wesbite: </strong><a href="http://www.paperthingy.us">paperthingy.us</a><br /><br /-->

		<p>Building blocks remain an excellent early learning tool, allowing children to develop spatial relation skills as well as learning to collaborate, communication, and create. How can the concept of blocks be updated for more sophisticated play? Paper Thingy proposes a system for folding complex objects out of 2D paper templates. The templates come in sets of interlocking forms that can be combined to create multi-dimensional structures.</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/paper_thingy_1.jpg' width='100%' />

		<!-- DIVIDER -->
		<img ng-src='img/BPDS/blank-divider.png' width='100%'/>

		<img ng-src='img/paper_thingy_mix.png' width='100%' />

		<!-- DIVIDER -->
		<img ng-src='img/BPDS/blank-divider.png' width='100%'/>


		<h3>Production Process:</h3>
		<img ng-src='img/paper_thingy_processline.png' width='100%' /><br><br>

		<h3>Early Prototypes:</h3>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-sketch-1.jpg' width='100%' />
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-sketch-3.jpg' width='100%' />
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-sketch-2.jpg' width='100%' />
		</div>

		<!-- DIVIDER -->
		<img ng-src='img/BPDS/blank-divider.png' width='100%'/>

		<h3>Play Testings:</h3>
		<p>Through testing in different environments / DIY events / neighborhoods, I gained experience observing players of different genders and ages interacting / modifying / destroying certain pieces of the set, from which I learned where people needed more instructions and what modules to include for people at different levels of playing with paper and glue.</p>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-test-1.jpg' width='100%' />
		</div>
		<!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-test-2.jpg' width='100%' />
		</div> -->
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-test-8.jpg' width='100%' />
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-test-7.jpg' width='100%' />
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-test-3.jpg' width='100%' />
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-test-4.jpg' width='100%' />
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-test-6.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-test-5.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/paper-thingy-test-9.jpg' width='100%' />
		</div>

		<!-- DIVIDER -->
		<img ng-src='img/BPDS/blank-divider.png' width='100%'/>

		<h3>Branding Elements:</h3><br>
		<img ng-src='img/paper_thingy_logoset.png' width='100%' />

		<!-- DIVIDER -->
		<img ng-src='img/BPDS/blank-divider.png' width='100%'/>

		<h3>Online Store:</h3>
		<p>Prototype created using AngularJS (Version 1), a good framework for listing and single-page apps.</p>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/iMac_mockup_1.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/iMac_mockup_3.jpg' width='100%' />
		</div>

		<!-- DIVIDER -->
		<img ng-src='img/BPDS/blank-divider.png' width='100%'/>

		<h3>Construction Manuals:</h3>
		<p>These construction manuals are created using Adobe Illustrator to come with the template packages.</p>
		<img ng-src='img/paper_thingy_tutorial.jpg' width='100%' /><br><br>


		<!-- DIVIDER -->
		<img ng-src='img/BPDS/blank-divider.png' width='100%'/>

		<h3>Exhibition Installation:</h3>
		<p>My thesis exhibition demonstrates Paper Thingy in a mixed fashion of toy, lifestyle, and e-commerce. On the wall and three Muji tables are decorative configurations, online store, core set modules, package designs, test empty templates, ready-made prototypes, instructions, along with promoting product flyers and cards.</p>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/paper_thingy_show_2.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/paper_thingy_show_4.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/paper_thingy_show_5.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/paper_thingy_show_6.jpg' width='100%' />
		</div>

	</div>
	<div>&larr; <a href="#/view4">Previous Project</a> | <a href="#/view12">Next Project</a> &rarr;</div>

</div><br/><br/><br/>
