<style>
	div.columnsContainer > div.project_photos > div {
    	margin: 1em 0 1em 0;
		padding-left: 0;
  	}
</style>

<br/><br/><br/>

<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view20">Previous Project</a> | <a href="#/view18">Next Project</a> &rarr;</div>
		<h1>SANCTUARY BRANDING</h1>
		<strong>Branding</strong><br />
		<strong>Skills / Tools: </strong>Illustrator, InDesign<br />
		<strong>Advisor: </strong>Self-directed<br /><br />
		<p>I created a logo and a stationary system for the bird sanctuary, or &ldquo;the Magic Hedge&rdquo;, located in Montrose Point.</p>
		<p>* Photo Credit: Me</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/bird-sanctuary/sanctuary-1.png' width='100%' style="min-width: 200px"/><br /><br />

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/bird-sanctuary/sanctuary-2.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/bird-sanctuary/sanctuary_branding_3.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/bird-sanctuary/sanctuary-4.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/bird-sanctuary/sanctuary-5.jpg' width='100%' />
		</div>

		<img ng-src='img/blank-divider.png' width='100%' style="min-width: 200px"/><br /><br />
		<img ng-src='img/bird-sanctuary/sanctuary_branding_4.jpg' width='100%' style="min-width: 200px"/><br /><br />
	</div>
	<br>
	<div>&larr; <a href="#/view20">Previous Project</a> | <a href="#/view18">Next Project</a> &rarr;</div>

</div><br/><br/><br/>
