<div>
		<img ng-src='img/img-mmrv-brochure-1.jpg' width='100%' />
		<h3 class="project-title">MMRV Brochures</h3>
		<!-- <p class="project-description">FertilityJourney.com helps inform and empower people with resources and information needed to navigate the process of fertility care. The website aims to meet people wherever they are on their fertility journey and equip them with knowledge and questions for consideration to feel prepared and empowered throughout their journey. I helped establish the look and feel and visual design from start to finish.</p> -->
</div>
