
<style>
	div.birdbook > div.col-md-8 {
		margin-left: 0px;
	}
</style>
<br/><br/><br/>
<div class="columnsContainer birdbook">

	<div class="info">
		<div>&larr; <a href="#/view3">Previous</a> | <a href="#/view17">Next</a> &rarr;</div>
		<h1>100 BIRDS</h1>
		<strong>Drawing</strong><br />
		<strong>Skills / Tools: </strong>InDesign<br /><br />
		<p>100 Birds is a self-promotional illustration and book cover project. I hand draw collected bird pictures using color pencil and then make them into typographic layouts of book covers. All bookcovers will always use only one font family.</p>
	</div>

	<div class="col-md-8">
		<img src='img/hand_drawings/bird_drawing_2.jpg' width='90%'/><br><br><br>
		<img src='img/hand_drawings/bird_drawing_1.jpg' width='90%'/><br><br><br>
		<img src='img/hand_drawings/bird_drawing_3.jpg' width='90%'/>
		
		<br><br>
		<div>&larr; <a href="#/view3">Previous</a> | <a href="#/view17">Next</a> &rarr;</div>
		<br><br>
	</div>

	<div class="col-md-4">
		<img src="img/hand_drawings/bird_cover_1.png" width="90%" style="border: 1pt solid lightgrey"/><br><br><br><br><br>
		<img src="img/hand_drawings/bird_cover_2.jpg" width="90%" style="border: 1pt solid lightgrey"/><br><br><br><br><br>
		<img src="img/hand_drawings/bird_cover_3.jpg" width="90%" style="border: 1pt solid lightgrey"/><br><br>
	</div>

	

</div>
