
<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
		<div class="project-header">
			<div class="project-nav">&larr; <a href="#/view17">Previous</a> | <a href="#/view9">Next</a> &rarr;</div>
			<h1>Paper Thingy</h1>
			<p class="project-sub-title">DIY Paper Building Blocks for All Creatives</p>
		</div>


		<p><img src="img/paper_thingy_2.jpg" width="100%" /></p>


		<table class="table table-bordered">
	  		<tr>
			    <td>Type</td>
			    <td>Individual Thesis Project for MFA</td> 
			</tr>
			<tr>
			    <td>My Role</td>
			    <td>Product Concept, Branding, Illustrations, UI, UX</td> 

			</tr>
			<tr>
			    <td>Tools</td>
			    <td>HTML, CSS/Sass, Javascript, AngularJS, Illustrator, Photoshop, GIMP, Blender 3D, Silhouette Studio</td> 
			</tr>
		</table>

<br>

		<div class="prototype-button" style="margin-bottom: 30px;">
			<div class="button-side-line"></div>
			<a href="https://xiaofenglinthesis1.wordpress.com/" target="_blank">
				<button class=" launch btn btn-default btn-lg">Launch Documentation</button>
			</a>
			<div class="button-side-line"></div>
		</div>


		<h3 class="proj-sm-col">Thesis Statement</h3>
		<p class="proj-sm-col">Building blocks remain an excellent early learning tool, allowing children to develop spatial relation skills as well as learning to collaborate, communication, and create. How can the concept of blocks be updated for more sophisticated play? Paper Thingy proposes a system for folding complex objects out of 2D paper templates. The templates come in sets of interlocking forms that can be combined to create multi-dimensional structures.</p>
		
<br>

		<h3 class="proj-sm-col">Key Concept</h3>
		<p class="proj-sm-col"><em>Dynamic Modularity</em> - My key concept is to create an array of building blocks that is diverse and dynamic in terms of geometrical forms so that people enjoy the process of making and building modular structure. With a big set of different forms and structures, I can figure out what are the different needs for different groups of people: paper craft lovers, architects, designers, kids, etc.</p>

<br>

		<h3 class="proj-sm-col">Design Process</h3>

		<p class="proj-sm-col"><img ng-src='img/paper_thingy_processline.png' width='100%' /></p>

		<p>
			<img ng-src='img/paper-thingy-sketch-5.jpg' width='48%' />
			<img ng-src='img/paper-thingy-sketch-6.jpg' width='48%' />
		</p>
		
		<p>
			<img ng-src='img/paper-thingy-sketch-7.jpg' width='48%' />
			<img ng-src='img/paper-thingy-sketch-8.jpg' width='48%' />
		</p>

		<p>
			<img ng-src='img/paper-thingy-sketch-1.jpg' width='48%' />
			<img ng-src='img/paper-thingy-sketch-3.jpg' width='48%' />
		</p>


<br>

		<h3 class="proj-sm-col">Play Testings</h3>
		<p class="proj-sm-col">Through testing in different environments / DIY events / neighborhoods, I gained experience observing players of different genders and ages interacting / modifying / destroying certain pieces of the set, from which I learned where people needed more instructions and what modules to include for people at different levels of playing with paper and glue.</p>

		<p>
			<img ng-src='img/paper-thingy-test-3.jpg' width='48%' />
			<img ng-src='img/paper-thingy-test-7.jpg' width='48%' />
		</p>

		<p>
			<img ng-src='img/paper-thingy-test-4.jpg' width='48%' />
			<img ng-src='img/paper-thingy-test-5.jpg' width='48%' />
		</p>


		<br>

		<h3 class="proj-sm-col">Play Testings Round 2</h3>
		<p class="proj-sm-col">Play testing / demo during Maker Faire, in a more formal, almost museum like setting. Children were accompanied by their parents, and they were more careful with the blocks.</p>


		<p class="proj-sm-col">
<!-- 			<img ng-src='img/paper-thingy-test-1.jpg' width='48%' /> -->
			<img ng-src='img/paper-thingy-test-8.jpg' width='100%' />
		</p>

		<br>

		<h3 class="proj-sm-col">Findings &amp; Instruction Design</h3>
		<p class="proj-sm-col">After several rounds of testing and iterating, I found that teaching people about how to building pieces and best practices are essential to the product's success, so I made a couple of different styles of instructions based on my 3D modeled graphics. Through testing in different environments / DIY events / neighborhoods, I gained experience observing players of different genders and ages interacting / modifying / destroying certain pieces of the set, from which I learned where people needed more instructions and what modules to include for people at different levels of playing with paper and glue.</p>

		<p class="proj-sm-col"><img ng-src='img/paper_thingy_tutorial.jpg' width='100%' /></p>


		<br>

		<h3 class="proj-sm-col">Finalized Core Set Design</h3>

		<p class="proj-sm-col"><img ng-src='img/paper_thingy_mix.png' width='100%' /></p>

		<br>

		<h3 class="proj-sm-col">Branding &amp; Marketing</h3>
		<p class="proj-sm-col">I then created a logo type, and web design (from mock to a few working prototypes to final website). The website is made with Angular.js (version 1), Sass, Bootstrap, and PHP (partially working).</p>

		<p class="proj-sm-col"><img style="padding: 15px; background-color: white;"ng-src='img/paper_thingy_logoset.png' width='100%' /></p>
		<br>
		<p>
			<img ng-src='img/iMac_mockup_1.jpg' width='49%' />
			<img ng-src='img/iMac_mockup_3.jpg' width='49%' />
		</p>

		<br>

		<h3 class="proj-sm-col">Exhibition Installation:</h3>
		<p class="proj-sm-col">My thesis exhibition demonstrates Paper Thingy in a mixed fashion of toy, lifestyle, and e-commerce. On the wall and three Muji tables are decorative configurations, online store, core set modules, package designs, test empty templates, ready-made prototypes, instructions, along with promoting product flyers and cards.</p>

		<p>
			<img ng-src='img/paper_thingy_show_2.jpg' width='49%' />
			<img ng-src='img/paper_thingy_show_4.jpg' width='49%' />
		</p>
		<p>
			<img ng-src='img/paper_thingy_show_5.jpg' width='49%' />
			<img ng-src='img/paper_thingy_show_6.jpg' width='49%' />
		</p>

		<br>
<!-- 		<div class="project-nav">&larr; <a href="#/view12">Previous Project</a> | <a href="#/view4">Next Project</a> &rarr;</div> -->

	</div>


	

</div>
