<style>
	div.col-xs-12 {
		margin-left: 0px;
	}
	div.col-xs-12 > img {
		margin-bottom: 2em;
		margin-left: 0;
	}
	div.col-xs-12 {
		padding-left: 0;
	}
	div.col-xs-12 > h4 {
		opacity: 50%;
		height: 30px;
		background-color: black;
		position: absolute;
		margin-top: -4.6em;
		color: white;
		font-size: 14px;
		font-family: 'Raleway', sans-serif;
		font-weight: 200;
		letter-spacing: .1em;
		padding-left: .5em;
		padding-right: .5em;
		padding-top: .5em;
	}
	h1 {

		opacity: .9;
	}
</style>


<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
<!-- 		<div class="project-nav"><a href="#/view15">&larr; Layout Collection</a> | <a href="#/view11">Drawing Collection &rarr;</a></div> -->
		<h1>Toys</h1>
	</div>
	
	<br>

	<h3 class="collection">LED Stack Blocks</h3>
	<p class="collection">Handmade paper blocks with soft circuitry, they will light up when stacked</p>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-01.jpg' width='100%' />
		<!-- <h4>LED STACK BLOCKS (1)</h4> -->
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-02.jpg' width='100%'/>
		<!-- <h4>LED STACK BLOCKS (2)</h4> -->
	</div>
	<img src="img/BPDS/blank-divider.png" width="100%" />



	<h3 class="collection">Animal Eraser Package</h3>
	<p class="collection">Handmade, designed in Illustrator</p>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-03.jpg' width='100%'/>
		<!-- <h4>ERASER PACKAGE (1)</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-04.jpg' width='100%'/>
		<!-- <h4>ERASER PACKAGE (2)</h4> -->
	</div>
	<img src="img/BPDS/blank-divider.png" width="100%" />



	<h3 class="collection">Robot Building Blocks</h3>
	<p class="collection">Handmade, designed in Illustrator</p>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-05.jpg' width='100%'/>
		<!-- <h4>ROBOT BLOCKS (1)</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-06.jpg' width='100%'/>
		<!-- <h4>ROBOT BLOCKS (2)</h4> -->
	</div>
	<img src="img/BPDS/blank-divider.png" width="100%" />



	<h3 class="collection">Augmented Reality Characters</h3>
	<p class="collection">Handmade wooden blocks with embedded sensors and an AR code</p>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-09.jpg' width='100%'/>
		<!-- <h4>AR+SENSOR CHARACTER (1)</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-10.jpg' width='100%'/>
		<!-- <h4>AR+SENSOR CHARACTER (2)</h4> -->
	</div>
	<img src="img/BPDS/blank-divider.png" width="100%" />



	<h3 class="collection">Complex Paper Blocks</h3>
	<p class="collection">Upgraded version of my Paper Thingy series</p>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-11.jpg' width='100%'/>
		<!-- <h4>COMPLEX PAPER BLOCKS</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-12.jpg' width='100%'/>
		<!-- <h4>GOLDEN RATIO BLOCKS</h4> -->
	</div>
	<img src="img/BPDS/blank-divider.png" width="100%" />



	<h3 class="collection">Simon Says Game</h3>
	<p class="collection">The classic memory game with a new skin, powered by Arduino</p>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-13.jpg' width='100%'/>
		<!-- <h4>SIMON SAYS (1)</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-14.jpg' width='100%'/>
		<!-- <h4>SIMON SAYS (2)</h4> -->
	</div>
	<img src="img/BPDS/blank-divider.png" width="100%" />



	<h3 class="collection margin-before">Miscellaneous Projects</h3>
	<br>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-15.jpg' width='100%'/>
		<!-- <h4>TOUCH TIC-TAC-TOE</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-16.jpg' width='100%'/>
		<!-- <h4>BLUETOOTH MONKFISH</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-17.jpg' width='100%'/>
		<!-- <h4>MODULAR LIGHTS (1)</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-18.jpg' width='100%'/>
		<!-- <h4>MODULAR LIGHTS (2)</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-19.jpg' width='100%'/>
		<!-- <h4>CONDUCTIVE INK (1)</h4> -->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/collection-toys/toy-20.jpg' width='100%'/>
		<!-- <h4>CONDUCTIVE INK (2)</h4> -->
	</div>



	<div class="info">
		<!-- <div class="project-nav"><a href="#/view15">&larr; Layout Collection</a> | <a href="#/view11">Drawing Collection &rarr;</a></div> -->
	</div>

</div>
