
<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view5">Previous</a> | <a href="#/view8">Next</a> &rarr;</div>
		<h1>The Bold</h1>
		<strong>Typography | Installation | Poem</strong><br />
		<strong>Skills / Tools: </strong>Illustrator, InDesign, Photoshop<br /><br />
		<p>The Bold is a mixed media installation project aiming to create an atmospheric experience bases upon the paradox of typographic ambiguity and claraity. {{project5.projectDescription[4]}}</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/bold_1.jpg' width='100%'/><br><br>
		<img ng-src='img/bold_3.jpg' width='100%'/><br><br>
		<img ng-src='img/bold_4.jpg' width='100%'/><br><br>
	</div>
	<div>&larr; <a href="#/view5">Previous</a> | <a href="#/view8">Next</a> &rarr;</div>

</div><br/><br/><br/>
