<!-- <br/><br/><br/>
<section class="">

	<div class="row">

			<div class="col-xs-8 col-sm-8">
				<img ng-src='img/picView05_2.png' ng-class='projectImage' width='95%'></img>
			</div>


			<div class="col-xs-12 col-sm-5" style="position: fixed; left: 55%">
				<img src="img/extendable-wire01.png" width="95%"></img>
				<p>{{project4.projectDescription[3]}}</p>

			</div>

	</div>

</section> -->

<br/><br/><br/>
<div class="columnsContainer">

	<div class="leftColumn" style="opacity: 0.8">
		<img ng-src='img/picView05_2.png' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/picView05.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/ar-site-01.png' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src="img/ar-site-02.png" ng-class='projectImage' width='93%'></img><br/><br/>

		<img ng-src='img/extend-back.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/extend-d1.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/extend-d2.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
		<img ng-src='img/extend-d3.jpg' ng-class='projectImage' width='93%'></img><br/><br/>
	</div>

	<div class="rightColumn">
		<img src="img/extendable-wire01.png" width="95%"></img>
		<p>{{project4.projectDescription[3]}}</p>
	</div>

</div>
