
<div class="columnsContainer">

	<div>
		<div id="resume">


			<div class="about-header">

				<div class="col-md-6"><img src="profile-5.jpg" width="100%" /></div>
				
				<div class="col-md-6">


					<p>Keep in touch: linx137@newschool.edu</p>

					<a href="https://www.behance.net/xiaofenglin" target="_blank" style="color: #16395e;"><i class="fa fa-behance-square" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/in/xiaofeng-lin-560ab050" target="_blank" style="color: #16395e;"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>

<br><br>
					<h4>Random things I enjoy:</h4>
					<p id='enjoy'>
						<div style="width: 100%; background-color: #16395e; border-radius: 3px; margin: 10px 10px 0 0; padding: 10px; color: white; text-align: center;">Black Tea</div>
						<div class="col-md-6" style="width: 100%; background-color: #16395e; border-radius: 3px; margin: 10px 10px 0 0; padding: 10px; color: white; text-align: center;">Ethnography</div>
						<div class="col-md-6" style="width: 100%; background-color: #16395e; border-radius: 3px; margin: 10px 10px 0 0; padding: 10px; color: white; text-align: center;">Open Source</div>
						<div class="col-md-6" style="width: 100%; background-color: #16395e; border-radius: 3px; margin: 10px 10px 0 0; padding: 10px; color: white; text-align: center;">Decentralized Data</div>
						<div class="col-md-6" style="width: 100%; background-color: #16395e; border-radius: 3px; margin: 10px 10px 0 0; padding: 10px; color: white; text-align: center;">Beautiful Dataviz</div>
						<div class="col-md-6" style="width: 100%; background-color: #16395e; border-radius: 3px; margin: 10px 10px 0 0; padding: 10px; color: white; text-align: center;">Modular Toys</div>
					</p>
<!-- 					<p><img src="img/untitled-1.png" width="100%"></p> -->

					
				</div>


			</div>



			<div id="resume_main">

				<!-- EDUCATION -->

					<table class="table table-condensed">
				  		<tr class="danger">
						    <th class="mobile-hidden">Education</th>
						    <th><span class="desk-hidden">Education:</span> Date</th>
						    <th>Degree / School</th>
						    <th>Program / GPA</th>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Jun 2013 - May 2015</td>
						    <td>Master of Fine Arts, Parsons School of Design</td>
						    <td>Design &amp; Technology | 3.8</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Sep 2011 - May 2013</td>
						    <td>Bachelor of Fine Arts, School of the Art Institute of Chicago</td>
						    <td>Visual Communication Design | N/A</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Sep 2009 - Aug 2011</td>
						    <td>Associate of Arts, Bucks County Community College</td>
						    <td>Graphic Design | 3.8</td>
						</tr>

						<tr style="opacity: 0">
						    <td class="mobile-hidden">1</td>
						    <td>1</td>
						    <td>1</td>
						    <td>1</td>
						</tr>


				<!-- EXPERIENCE -->

				  		<tr class="danger">
						    <th class="mobile-hidden">Experience</th>
						    <th>Date</th>
						    <th>Position / Org.</th>
						    <th>Note</th>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Jul 2017 - Present</td>
						    <td>Interactive Designer, Marvel</td>
						    <td>Wireframes, Visual Mockups, Productions</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Jun 2015 - Jun 2017</td>
						    <td>Designer, Union Design</td>
						    <td>UI/UX, CMS, icons, maps, logos</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Jun 2014 - Aug 2014</td>
						    <td>Marketing Intern, Confirmit, Inc.</td>
						    <td>Social media, PPT, icons, web mockups</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>May 2014 - Sep 2014</td>
						    <td>UI/UX Intern, Markers LLC</td>
						    <td>UI/UX, icons</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Nov 2013 - Jan 2014</td>
						    <td>Design Intern, Frame Concepts</td>
						    <td>Illustrations and icons for PPT</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Aug 2013 - Dec 2013</td>
						    <td>Branding Assistant, Rare Bar and Grill</td>
						    <td>Hand-drawn typography</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Jan 2013 - Dec 2014</td>
						    <td>Freelance Conlumnist, YSF Art Monthly</td>
						    <td>Essays on art and design</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Jun 2012 - Sep 2012</td>
						    <td>Graphic Design Assistant, Barrel Maker Printing</td>
						    <td>Marketing brochures, graphics for shirts</td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>May 2012 - Jul 2012</td>
						    <td>Graphic Artist, Cake Top Publishing</td>
						    <td>Illustrations for cake printing</td>
						</tr>
						<tr style="opacity: 0">
						    <td class="mobile-hidden">1</td>
						    <td>1</td>
						    <td>1</td>
						    <td>1</td>
						</tr>


				<!-- SKILLS -->

						<tr class="danger">
						    <th class="mobile-hidden">Skills</th>
						    <th>Formats</th>
						    <th>Tools</th>
						    <th></th>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>2D Imaging</td>
						    <td>Photoshop, Illustrator, InDesign, Flash, Sketch, After Effects (entry)</td>
						    <td></td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>3D Modeling</td>
						    <td>Blender, Maya (entry), Unity 3D (entry)</td>
						    <td></td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Programming</td>
						    <td>HTML5, CSS, Sass, Javascript, JQuery, AngularJS, PHP (entry), Java (entry), Arduino</td>
						    <td></td>
						</tr>
						<tr>
						    <td class="mobile-hidden"></td>
						    <td>Traditional</td>
						    <td>watercolor pencil, acrylic, printmaking (lithography/relief/etching), letterpress, clay modeling, origami</td>
						    <td></td>
						</tr>

					</table>





			</div>
		</div>
	</div>


</div>
