<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view7">Previous Project</a> | <a href="#/view17">Next Project</a> &rarr;</div>
		<h1>Chain of Thought</h1>
		<strong>Vector Illustration</strong><br />
		<strong>Skills / Tools: </strong>InDesign<br />
		<strong>Advisor: </strong>Self-Directed<br /><br />
<br />
		<!--p>This is a information package for a typographical event happening at Berlin. The package contains sheets of registration information, events and designers, schedule, etc. I tried to create a unique labeling system for these sheets of information.</p-->
	</div>

	<div class="project_photos">
		<img ng-src='img/chain_of_thought/chain-of-thought-1.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-2.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-3.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-4.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-5.png' width='100%'/>

		<br><br>
	</div>
	<div>&larr; <a href="#/view7">Previous Project</a> | <a href="#/view17">Next Project</a> &rarr;</div>

</div><br/><br/><br/>
