<style>
.carousel-indicators {
	bottom: 30px;
	width: 100%;
	left: 0;
	margin-left: 0;
}
.carousel-indicators li {
	width: 20px;
	height: 20px;
}
.carousel-indicators li.active {
	width: 20px;
	height: 20px;
}

#Carousel-kirby {
/*	width: 50%;*/
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

</style>


<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
		<div class="project-header">
			<div class="project-nav">&larr; <a href="">Previous</a> | <a href="#/view19">Next</a> &rarr;</div>
			<h1>Marvel Projects</h1>
			<p class="project-sub-title">Various projects created at Marvel Entertainment<br>as an interactive designer.</p>
		</div>

		<p><img ng-src='img/marvel/marvel-header.jpg' width='100%' /></p>


		<table class="table table-bordered">
	  		<tr>
			    <td>Company</td>
			    <td>Marvel Entertainment - <em><a href="http://www.marvel.com" target="_blank">www.marvel.com</a></em></td> 
			</tr>
<!-- 			<tr>
			    <td>Director</td>
			    <td>Vitor Veras</td> 

			</tr>
			<tr>
			    <td>Developer</td>
			    <td>Eric Lakatos</td> 

			</tr> -->
			<tr>
			    <td>My Role</td>
			    <td>Wireframes, Visual Design, Functional Specs</td> 

			</tr>
			<tr>
			    <td>Tools</td>
			    <td>Illustrator, Photoshop, Sketch</td> 
			</tr>
		</table>

		<br>

		<h3 class="proj-sm-col">Kirby 100</h3>
		<p class="proj-sm-col">Jack Kirby 100 Years is my first big project at Marvel. It was a true honor to be involved in creating an online hub for this sometimes forgotten comic legend. To simulate the unique style of Jack Kirby's art, we decided to use very blocky modules, bright colors, and thick strokes in making this bold, striking, and colorful celebration of his 100th birthday and his legacy. I created a custom logotype from one of the popular comic style fonts at the time. Our editorial and publishing teams also curated 100 of Kirby's characters, 100 of Kirby's cover art, and an ongoing total of 100 articles for this hub, as exclusive content at Marvel.com.</p>

		<p><img ng-src='img/marvel/Apple-Devices2.jpg' width='100%' /></p>



<!-- 		<p>
			<div id="Carousel-kirby" class="carousel slide" data-ride="carousel">

			  <ol class="carousel-indicators">
			    <li data-target="#Carousel-kirby" data-slide-to="0" class="active"></li>
			    <li data-target="#Carousel-kirby" data-slide-to="1"></li>
			    <li data-target="#Carousel-kirby" data-slide-to="2"></li>
			    <li data-target="#Carousel-kirby" data-slide-to="3"></li>
			  </ol>


			  <div class="carousel-inner">
			    <div class="item active">
			      <img src="img/marvel/kirby-screen-1.jpg" alt="Los Angeles">
			    </div>

			    <div class="item">
			      <img src="img/marvel/kirby-screen-2.jpg" alt="Chicago">
			    </div>

			    <div class="item">
			      <img src="img/marvel/kirby-screen-3.jpg" alt="New York">
			    </div>

			    <div class="item">
			      <img src="img/marvel/kirby-screen-4.jpg" alt="New York">
			    </div>
			  </div>
			</div>

		</p> -->
<br>
		<p class="proj-sm-col"><em>Title Font Design</em> - I referred to both the comic book cover font in the 60's and the modern Monster Mash font before I created my own version of it. I simplified some of the edges and shapes, adjusted the shearing of some of the letters, and reworked the letter spacings to make the title look clean and harmonious. I then applied the classic color scheme that KIrby used and texts inside stripes to give the site a comic book aesthetic.</p>

		<p class="proj-sm-col"><img style="background-color: white; padding: 50px 100px;"ng-src="img/marvel/Jack100-Title-final-2-1.png" width="100%"></p>

<!-- 		<p class="proj-sm-col"><img ng-src='img/marvel/kirby-screen-1.jpg' width='100%' /></p> -->
		<p>
			<div class='embed-container' style="max-width:800px; margin: -70px auto -80px auto;">
				<iframe src='https://player.vimeo.com/video/241369623?autoplay=1&loop=1&title=0&byline=0&portrait=0' frameborder='0'></iframe>
			</div>
		</p>

		



<!-- 		<p><img style="padding-right: 5px;" ng-src='img/marvel/kirby-screen-1.jpg' width='50%' /><img style="padding-left: 5px;" ng-src='img/marvel/kirby-screen-2.jpg' width='50%' /></p><br>
		<p><img style="padding-right: 5px;" ng-src='img/marvel/kirby-screen-3.jpg' width='50%' /><img style="padding-left: 5px;" ng-src='img/marvel/kirby-screen-4.jpg' width='50%' /></p> -->
		
		<br>

		<h3 class="proj-sm-col">Comic Con Hub</h3>
		<p class="proj-sm-col">Every year, Marvel participants in comic-cons held at both San Diego and New York City. A new hub / website is created for every event to present all the information people need to know about Marvel during the time, including live stream videos, live tweets, schedules for different booths and signings, news, articles, reading lists, merchandise, etc.</p>
		<p><img ng-src='img/marvel/Apple-Devices1.jpg' width='100%' /></p>
		<p class="proj-sm-col"><img ng-src='img/marvel/nycc-merch-2.jpg' width='100%' /></p>

		<br>

		<h3 class="proj-sm-col">Holiday Gift Guide</h3>
		<p class="proj-sm-col">Information coming soon.</p>
		<p><img ng-src='img/marvel/Apple-Devices3.jpg' width='100%' /></p>
		<p class="proj-sm-col"><img ng-src='img/marvel/holidayhq17-01.jpg' width='100%' /></p>
		<p class="proj-sm-col"><img ng-src='img/marvel/holidayhq17-05.jpg' width='100%' /></p>

		<br>

		<h3 class="proj-sm-col">Marvel Insider Emails</h3>
		<p class="proj-sm-col">Marvel Insider is the first Marvel loyalty program that offers tangible and digital rewards for members who engage with the brand online. People can earn through a variety of engagements with Marvel – from watching free videos to checking in at your local comic book store – and the rewards range from free digital comics to wallpapers to a subscription to the Marvel Unlimited app.</p>
		<p><img ng-src='img/marvel/emails-prez.jpg' width='100%' /></p>
	</div>

<!-- 	<div class="project_photos">

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-1.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-2.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-3.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-4.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-5.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-6.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-7.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-8.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-9.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-10.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-11.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-12.jpg' width='100%' />
		</div>


		<br><br>
	</div> -->

<!-- 	<div class="info">
		<div class="project-nav">&larr; <a href="#/view19">Previous Project</a> | <a href="#/view12">Next Project</a> &rarr;</div>
	</div> -->

</div><br><br>
