
<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view6">Previous</a> | <a href="#/view16">Next</a> &rarr;</div>
		<h1>Type & Code</h1>
		<strong>Typography | Programming</strong><br />
		<strong>Skills / Tools: </strong>Processing, Java, Illustrator<br />
		<strong>Advisor: </strong>Yeohyun Ahn<br />
		<strong>Publication:</strong> <a href="http://www.amazon.com/Type-Screen-Critical-Designers-Developers/dp/161689170X/" target="_blank">Type on Screen, Ellen Lupton</a><br /><br />

		<p>Using Processing (Java), I created a series of typographical experiments on forms and meanings. Firstly, I created this set of letters based on the struture of a binary tree. Every letter has binary trees branching out, and the anchor points of the binary trees start from Chinese characters whose ponounciations begin with the corresponding letters in front of them. This probject is meant to address the idea of abstraction and obscurity. Secondly, I did a series of form & structure studies using the letter i. The goal is experiment with a simple letterform and see how much depth and space it is able to demenstrate.</p>
	</div>

	<div class="project_photos" style="opacity: 0.9">
		<img src='img/picView04.jpg' ng-class='projectImage' width='100%' style='min-width: 200px'></img><br><br>
		<img src='img/typeCode-cover02.png' width='49%' style='min-width=200px' />&nbsp;
		<img src='img/typeCode-cover01.png' width='49%' style='min-width=200px' /><br><br>
		<img src='img/typeCode-cover03.png' width='49%' style='min-width=200px' />&nbsp;
		<img src='img/typeCode-cover04.png' width='49%' style='min-width=200px' /><br><br>
		<div><p>Published on "Type on Screen (2014)" edited by Ellen Lupton</p></div>
		<img ng-src='img/typeonscreen2.jpg' ng-class='projectImage' width='100%' style='min-width: 200px'></img><br><br>
	</div>
	<div>&larr; <a href="#/view6">Previous</a> | <a href="#/view16">Next</a> &rarr;</div>

</div><br/><br/><br/>
