
<div class="columnsContainer">

	<div>
		<div id="resume">
			<div class="about-header">
				<img src="img/BPDS/blank-divider.png" width="100%" />
				<div class="col-md-9">
<!-- 					<h5>Who I've Worked for -</h5>
					<h4>Entertainment</h4>
					<p id='enjoy'>Marvel Entertainment</p>

					<h4>Healthcare</h4>
					<p id='enjoy'>Becton Dickinson &middot; Merck & Co.</p>

					<h4>Real Estate</h4>
					<p id='enjoy'>Brookfield &middot; SL Green &middot; L&L Holding &middot; Oxford Properties</p>

					<h4>Digital Product</h4>
					<p id='enjoy'>Fandango &middot; Confirmit &middot; Markers</p>

					<h4>Industrial</h4>
					<p id='enjoy'>Lexus &middot; Hasbro</p>

					<h4>Print Media</h4>
					<p id='enjoy'>Barrel Maker Printing &middot; Cake Top Publishing </p> -->


					<p style="margin-bottom: 20px;">Hi there! I'm a senior art director and design generalist with 5+ years of experience, now working in advertising in New York City.</p>
					<p style="margin-bottom: 20px;">I'm devoted to creating rich, beautiful, and engaging content and experiences. I lead by acting, and I love to learn from people in different positions. I always question all trends and strive for originality and sophistication.</span></p>
					<p>For the past 5 years, I've been working with clients from various fields, including publishing, entertainment, industrial, real estate, non-profit, and healthcare.</p>
				</div>


				<div class="col-md-3">
					<p><img src="profile-5.jpg" width="100%" /></p>
					<h4>Keep in touch</h4>
                    <p>linx137@newschool.edu</p>

                    <h4>On the web</h4>
                    <p>
                        <a href="https://www.behance.net/xiaofenglin" target="_blank">Behance</a>,
                        <a href="https://dribbble.com/lxfmm8" target="_blank">Dribbble</a>
                    </p>

					<h4>Select features</h4>
					<p>
						<a href="https://www.amazon.com/Type-Screen-Critical-Designers-Developers/dp/161689170X/ref=sr_1_1?ie=UTF8&qid=1535853025&sr=8-1&keywords=type+on+screen" target="_blank"><em>Type on Screen</em></a>,
						<a href="http://mfadt.parsons.edu/2015/projects/paper-thingy/" target="_blank">Parsons School of Design</a>,
						<a href="https://www.designideas.pics/boxes-type-labels/" target="_blank">Design Ideas</a>, 
						AIGA Member Gallery (x3), Behance Graphic Design (x3), Behance Illustration, Behance Interaction Design
					</p>

					<h4>Random things I enjoy</h4>
					<p>Black Tea &middot; Ethnography &middot; Open Source &middot; Decentralized Data &middot; Beautiful Dataviz &middot; Museums &middot; Modular Toys &middot; Scientific Illustrations &middot; IKEA &middot; Bilingual Design &middot; Pokemon (First Generation)
					</p>
				</div>

			</div>
			
<img src="img/BPDS/blank-divider.png" width="100%" />

		</div>
	</div>


</div>
