<style>
	div.col-sm-12 {
		margin-left: 0px;
	}
	div.col-sm-12 > img {
		margin-bottom: 2em;
		margin-left: 0;
	}
	div.col-sm-12 {
		padding-left: 0;
	}
	div.col-sm-12 > h4 {
		height: 30px;
		position: absolute;
		margin-top: -4.6em;
		color: lightgray;
		font-size: 14px;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		letter-spacing: .1em;
		padding-left: .5em;
		padding-right: .5em;
		padding-top: .5em;
	}
</style>


<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
		<div class="project-header">
			<div class="project-nav">&larr; <a href="#/view8">Previous</a> | <a>Next</a> &rarr;</div>
			<h1>Logos and Marks</h1>
			<p class="project-sub-title"><em>— Personal & Professional Works</em></p>

		</div>
	</div>
	

<!-- 	<div class="col-md-12 col-sm-12">
		<img src='img/collection-logos/pink-1.png' width='100%' />
		<h4>New Pink</h4>
	</div> -->


	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/twitch-1.png' width='100%' />
		<h4>Twitch Witch Corp.</h4>
	</div>

	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/abc-1.png' width='100%' />
		<h4>ABC Food Takeout</h4>
	</div>

	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/cg-1.png' width='100%' />
		<h4>Creative Graphics</h4>
	</div>

	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/insider-1.png' width='100%' />
		<h4>Marvel Insider</h4>
	</div>

	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/kirby-1.png' width='100%' />
		<h4>Jack Kirby 100 Years</h4>
	</div>



	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/fortune-1.png' width='100%' />
		<h4>Fortune Cookie Pack</h4>
	</div>

<!-- 	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/self-1.png' width='100%' />
		<h4>Xiaofeng Lin</h4>
	</div> -->

	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/fas-1.png' width='100%' />
		<h4>Fascinating</h4>
	</div>

<!-- 	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/natural-1.png' width='100%' />
		<h4>Tea Brand Logo</h4>
	</div>
 -->


	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/boring-1.png' width='100%' />
		<h4>Lettering</h4>
	</div>

	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/zhi-1.png' width='100%' />
		<h4>Paper Thingy</h4>
	</div>

	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/thingy-2.png' width='100%' />
		<h4>Paper Thingy</h4>
	</div>

	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/alma-1.png' width='100%' />
		<h4>Alamabridge Consulting</h4>
	</div>


	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/flying-1.png' width='100%' />
		<h4>Flying to Europe</h4>
	</div>


<!-- 	<div class="col-md-6 col-sm-12">
		<img src='img/collection-logos/montrose-0.png' width='100%' />
		<h4>Montrose Point Bird Sanctuary</h4>
	</div>
 -->

		<img src="img/BPDS/blank-divider.png" width="100%" />


</div>
