<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div><!--a href="">&larr; Previous</a--> | <a href="#/view19">Next Project</a> &rarr;</div>
		<h1>Stats Visual System</h1>
		<strong>User Interface | Visual Concept</strong><br />
		<strong>Skills / Tools: </strong>Illustrator<br />
		<strong>Advisor: </strong>Self-Directed<br /><br />
		<p>The project was created around one single idea of mine - linear representation being applied to stats report system of basketball (and potentially other sports). In order for the symbols of actions to work in different types of information architecture, they have to be bold, minimal, and representitive, and the symbols should add a little excitement and visual interest to the originally plain and boring tables of numbers.</p>
	</div>

	<div class="project_photos">

		<img ng-src='img/stats-system/stats_viz_8.png' width='100%' style="min-width: 200px;"/>
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />
		<img ng-src='img/stats-system/stats_viz_9.png' width='100%' style="min-width: 200px;"/>
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />

		<img ng-src='img/stats-system/stats_viz_10.png' width='100%' style="min-width: 200px;"/>
		<img ng-src='img/stats-system/stats_viz_11.gif' width='70%' style="min-width: 200px; margin-left: 15%"/>
		<img ng-src='img/stats-system/stats_viz_12.png' width='100%' style="min-width: 200px;"/>
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />
		<img ng-src='img/stats-system/stats_viz_14.png' width='100%' style="min-width: 200px;"/>
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />
		<img ng-src='img/stats-system/stats_viz_13-1.png' width='100%' style="min-width: 200px;"/>

		<img ng-src='img/stats-system/stats_viz_16.png' width='100%' style="min-width: 200px; margin-top: 20px; margin-bottom: 20px;"/>

		<img ng-src='img/stats-system/stats_viz_7.png' width='100%' style="min-width: 200px;"/><br><br>
		
		<img ng-src='img/stats-system/stats_viz_15.png' width='100%' style="min-width: 200px;"/><br><br>
		
	</div>
	<div><!--a href="">&larr; Previous</a--> | <a href="#/view19">Next Project</a> &rarr;</div>

</div><br/><br/><br/>
