<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div><!--a href="">&larr; Previous</a--> | <a href="#/view19">Next Project</a> &rarr;</div>
		<h1>Stats Visual System</h1>
		<p class="project-sub-title">Visual Components for Modern Sports Literal Live Broadcasting</p>


		<strong>My Role: </strong>Visual concept, UI, UX<br />
		<strong>Tools: </strong>Illustrator, GIMP<br />
		<strong>Year: </strong>2016-2017<br><br>

		<p><img src="img/stats-system/stats_viz_cover.png" width="100%" /></p>
	</div>

	<div class="design-purpose row">
		<div class="col-md-4">
			<div class="thumbnail">
				<h4 style="color: #0063be;">Design Purpose</h4>
				<img src="img/stats-system/process-icon-0.png" width="100%" />

				<!-- PURPOSE BUTTON -->
<!-- 				<p style="text-align: center;"><a><button class=" launch btn btn-default btn-lg" data-toggle="modal" data-target="#stats-viz-purpose">Launch Research</button></a></p>



				<div class="modal fade" id="stats-viz-purpose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">

				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Existing Component Research</h4>
				      </div>


				      <div class="modal-body">
				      	<p>Play-by-play Timeline</p>
				        <img src="img/stats-system/process/component-01.png" width="100%" />
				      </div>
				      <div class="modal-body">
				      	<p>Numbers and Flow</p>
				        <img src="img/stats-system/process/component-02.png" width="100%" />
				      </div>
				      <div class="modal-body">
				      	<p>Shot Chart</p>
				        <img src="img/stats-system/process/component-03.png" width="100%" />
				      </div>
				      <div class="modal-body">
				      	<p>Bar and Pie Charts</p>
				        <img src="img/stats-system/process/component-04.png" width="100%" />
				      </div>
				      <div class="modal-body">
				      	<p>Team Lead Tracker</p>
				        <img src="img/stats-system/process/component-05.png" width="100%" />
				      </div>

				    </div>
				  </div>
				</div> <br>-->






				

				<div class="caption">
					<p><em>Literal Sports Live Broadcasting</em> has long been a useful method for people who want to watch the games on the move, but it has transitioned to video broadcasting in the recent years. However, there still may be space fot simple text-based components on the screens. Is there a way to make these texts more lively and interesting?</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<h4 style="color: #0063be;">User Research</h4>
				<img src="img/stats-system/process-icon-1.png" width="100%" />

				<!-- RESEARCH BUTTON -->
				<!-- <p style="text-align: center;"><a href="https://bpds-media.s3.amazonaws.com/web/index-ios.html#page/core/bpp%2Foffice" target="_blank"><button class=" launch btn btn-default btn-lg">Launch Wireframes</button></a></p>

				<br> -->

				<div class="caption">
					<p>Most game watchers won't actually pay for the sports programs. Many sports fans either watch the games on TV at home or in the bars, or they go online to find a free live-streaming website, which, most of the time, is both full of ads and of bad image quality and streaming-speed.</p>
				</div>

			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<h4 style="color: #0063be;">Personas / Use Cases</h4>
				<img src="img/stats-system/process-icon-2.png" width="100%" />
				
				<!-- PERSONA BUTTON -->
				<!-- <p style="text-align: center;"><a href="https://bpds-media.s3.amazonaws.com/web/index-ios.html#page/core/bpp%2Foffice" target="_blank"><button class=" launch btn btn-default btn-lg">Launch Storyboard</button></a></p>

				<br> -->

				<div class="caption">
					<p>Tom / 23 years / College Student / Basketball Fan</p>
					<br>
					<p>&ldquo;I'm very busy with my school work, so I can't catch up with all the games I want to watch. I sometimes have to constantly refresh my phone to get the latest scores, when I'm in class. The pure text broadcasting is very boring.&rdquo;</p>
				</div>

			</div>
		</div>
	</div>

	<div class="project_photos">

		<img ng-src='img/stats-system/stats_viz_8.png' width='100%' />
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />
		<img ng-src='img/stats-system/stats_viz_9.png' width='100%' />
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />

		<img ng-src='img/stats-system/stats_viz_10.png' width='100%' />
		<img ng-src='img/stats-system/stats_viz_11.gif' width='70%' style="margin-left: 15%"/>
		<img ng-src='img/stats-system/stats_viz_12.png' width='100%' />
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />
		<img ng-src='img/stats-system/stats_viz_14.png' width='100%' />

<!-- 		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img class="framer" ng-src='img/stats-system/cards-animate.gif' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img class="framer" ng-src='img/stats-system/line-animate.gif' width='100%' />
		</div> -->


		<img ng-src='img/stats-system/stats_viz_13-1.png' width='100%' />

		<img ng-src='img/stats-system/stats_viz_16.png' width='100%' style="margin-top: 20px; margin-bottom: 20px;"/>

		<img ng-src='img/stats-system/stats_viz_7.png' width='100%' /><br><br>

		<img ng-src='img/stats-system/stats_viz_15.png' width='100%' /><br><br>

	</div>
	<div><!--a href="">&larr; Previous</a--> | <a href="#/view19">Next Project</a> &rarr;</div>

</div><br/><br/><br/>
