
<div>

		<img src='img/img-logo-1.jpg' width='100%' />
		<p class="project-description">New Pink</p>
<hr class="solid">
		<img src='img/img-logo-2.jpg' width='100%' />
		<p class="project-description">Regen-Cov</p>
<hr class="solid">
		<img src='img/img-logo-3.jpg' width='100%' />
		<p class="project-description">Selecta Biosciences</p>
<hr class="solid">
		<img src='img/img-logo-4.jpg' width='100%' />
		<p class="project-description">GeneLab</p>
<hr class="solid">
		<img src='img/img-logo-5.jpg' width='100%' />
		<p class="project-description">MMRV Vaccines Family</p>
<hr class="solid">
		<img src='img/img-logo-6.jpg' width='100%' />
		<p class="project-description">Bai Le Yi Yuan Musical School</p>
<hr class="solid">
		<img src='img/img-logo-7.jpg' width='100%' />
		<p class="project-description">Marvel Insider</p>
<hr class="solid">
		<img src='img/img-logo-8.jpg' width='100%' />
		<p class="project-description">Jack Kirby 100 Years</p>
<hr class="solid">
		<img src='img/img-logo-9.jpg' width='100%' />
		<p class="project-description">ABC Food</p>
<hr class="solid">
		<img src='img/img-logo-10.jpg' width='100%' />
		<p class="project-description">Fascinating</p>

</div>
