<!-- <br/><br/><br/>
<section class="">

	<div class="row">

			<div class="col-xs-8 col-sm-8">

				<img ng-src='img/picView03.jpg' ng-class='projectImage' width='97%'></img>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-5" style="position: fixed; left: 55%">
					<img src="img/timeline-wire01.png" width="95%"></img>
					<p>{{project2.projectDescription[1]}}</p>

				</div>
			</div>

	</div>

</section> -->

<br/><br/><br/>
<div class="columnsContainer">

	<div class="leftColumn" style="opacity: 0.8">
		<img ng-src='img/picView03.jpg' ng-class='projectImage' width='97%'></img>
	</div>

	<div class="rightColumn">
		<img src="img/timeline-wire01.png" width="95%"></img>
		<p>I approach information architecture in a way that it focuses on typographical order and hierarchy, which leads to proper readability and story-telling, specifically for this poster, I want to visualize the flow of designer life spans and events related to artistic movements and appearances of fonts. One of the goals of this project to create visual impact on how movements and typographical styles are overlapped.</p>
	</div>

</div>
