<div>
		<img ng-src='img/vivitrol-home-D.png' width='100%' />
		<h3 class="project-title">Vivitrol.com</h3>
		<p class="project-description">Vivitrol.com is the central hub for both alcohol and opioid dependent patients to access information about the product, locate providers, and verify insurance. I helped establish the visual system of the website, including module structures, typography, and icons. I also worked with developers and UX designers to ensure the navigation work for different patient types.</p>
		<p>↳ <a class="liveLink" href="https://www.vivitrol.com/" target="_blank">Live site</a></p>
		<img ng-src='img/vivitrol-ADOD-home-D.jpg' width='100%' />
		<p></p>
		<img ng-src='img/vivitrol-mobile-1.jpg' width='100%' />
		
</div>
