
<div class="columnsContainer">

	<div class="info">
		<div class="project-nav">&larr; <a href="#/view9">Previous Project</a> | <a href="#/view20">Next Project</a> &rarr;</div>
		<h1>Type &amp; Code</h1>
		<p class="project-sub-title">Generative Typography with Processing</p>

		<p><img src='img/typeonscreen3.jpg' width='100%' /></p>
		<br>
		<table class="table table-bordered">
	  		<tr>
			    <td>Director</td>
			    <td>Yeohyun Ahn</td> 
			</tr>
			<tr>
			    <td>Publication</td>
			    <td><a href="http://www.amazon.com/Type-Screen-Critical-Designers-Developers/dp/161689170X/" target="_blank">Type on Screen, Ellen Lupton</a></td> 
			</tr>
			<tr>
			    <td>Tools</td>
			    <td>Processing, Illustrator</td> 
			</tr>
		</table>

		<br>

		<h3 class="proj-sm-col">Concept - Compress and Release</h3>
		<p class="proj-sm-col">Using Processing (Java), I created a series of typographical experiments on forms and meanings. Firstly, I created this set of letters based on the struture of a binary tree. Every letter has binary trees branching out, and the anchor points of the binary trees start from Chinese characters whose ponounciations begin with the corresponding letters in front of them. This probject is meant to address the idea of abstraction and obscurity.</p>

		<p><img src="img/picView04.jpg" width="100%" /></p>
		<br>

		<p class="proj-sm-col">I picked a Chinese font that is relatively simplified, round, and graphic, so that the characters generally have fewer anchor points when put into the Processing program. This results in less complex and clearer graphics.</p>

		<p><img src='img/typeCode-process-1.png' width='100%' /></p>
		<br>
		<p><img src='img/typeCode-process-2.png' width='100%' /></p>

		<br>

		<h3 class="proj-sm-col">Concept - Typographic Patterns</h3>
		<p class="proj-sm-col">The letterforms / and i are multiplied and stacked to create an illusion of depth. I worked with The Binary Tree algorithm, which is often used in computer science to strcuture data. Here the algorithm controls visual complexity, hierarchy, and density. In the actual Processing program, these structures grow gradually.</p>
	</div>

	<div class="project_photos">
		

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/typeCode-cover01.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/typeCode-cover02.png' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/typeCode-cover03.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/typeCode-cover04.png' width='100%' />
		</div>
		
<!-- 		<div><p>Published on "Type on Screen (2014)" edited by Ellen Lupton</p></div>
		<img ng-src='img/typeonscreen3.jpg' width='100%' /> -->
	</div>

	<br><br>
	<div class="info">
		<div class="project-nav">&larr; <a href="#/view9">Previous Project</a> | <a href="#/view20">Next Project</a> &rarr;</div>
	</div>

</div><br/><br/>
