<div>
		<p><img ng-src='img/marvel/mobile-kirby-1.jpg' width='100%' /></p>
		
		<h3 class="project-title">Kirby 100</h3>
		<p class="project-description">To simulate the unique style of the comic legend, Jack Kirby's art, we used a bright palette, blocky shapes, and thick strokes to celebrate the artist's 100th birthday and his legacy. I also created a custom logotype from one of the popular comic style fonts at the time. Our editorial and publishing teams curated 100 of Kirby's characters, 100 of Kirby's cover art, and an ongoing total of 100 articles for this hub, as exclusive content at Marvel.com.</p>
		<br>
		<p><img ng-src='img/marvel/desktop-kirby-1.jpg' width='100%' /></p>

<hr class="solid">

		<p><img ng-src='img/marvel/mobile-hq-1.jpg' width='100%' /></p>
		<h3 class="project-title">Holiday Gift Guide</h3>
		<p class="project-description">Marvel worked with the toy company Hasbro for a brand new holiday gift guide website by the end of 2017. I helped created all the visual frameworks, graphic placements, and most of the icons and patterns. One highlight of this year's website was the list inlay design pattern of the recommended products, which was made to be inviting, but at the same time, saving a lot of screen space.</p>
		<br>
		<p><img ng-src='img/marvel/desktop-hq-1.jpg' width='100%' /></p>
		

<hr class="solid">
		<p><img ng-src='img/marvel/insider-screen-0-3.jpg' width='100%' /></p>
		<h3 class="project-title">Marvel Insider</h3>
		<p class="project-description">Marvel Insider is the first Marvel loyalty program that offers tangible and digital rewards for members who engage with the brand online. People can earn through a variety of engagements with Marvel – from watching free videos to checking in at your local comic book store – and the rewards range from free digital comics to wallpapers to a subscription to the Marvel Unlimited app. In 2018, I was asked to do a light rebrand of the identity. The Insider team would like to refresh the Insider program logo. The digital team would also require an equivalent small version icon based on a new logo for use on the website navigation and any other applicable locations. Current issues of the logo include readibility of the slant, kerning, lack of sense of a club, and lack of design language from the new Marvel.com redesign.</p>
		<br>
		<p><img ng-src='img/marvel/insider-screen-3.jpg' width='100%' /></p>
		<p><img ng-src='img/marvel/insider-apps-1-1.jpg' width='100%' /></p>
		<!-- <p><img ng-src='img/marvel/insider-landing-1.jpg' width='100%' /></p> -->
		

<hr class="solid">

		<p><img ng-src='img/marvel/BR_web_1.png' width='100%' /></p>
		<h3 class="project-title">Battle Royale 2018</h3>
		<p class="project-description">To engage the social media during the holiday season of 2018, we started a public popularity vote of brackets of Marvel characters nominated by Marvel Comics editorial staff. who choose their heroes / villians in reverse order of their seniority level at the company. As many of the matchups have happened in the comics books before, the key goal of the campaign is to get people on social media excited about the familiar and unfamiliar faces and let them discuss about the possibilities and impossibilities.</p>
		<p class="project-description">In order to create something out of nothing, I dug in our character image archive as well as Marvel Unlimited app to find fresh, posed images as the profiles, and I explored three different directions for the visuals.</p>

		<p><a href="https://www.marvel.com/articles/comics/marvel-battle-royale-2018-begins" target="_blank">Link</a></p>
		<br>
		<p><img ng-src='img/marvel/BR_web_2.png' width='100%' /></p>

<hr class="solid">

		<p><img ng-src='img/marvel/emails-prez-1.jpg' width='100%' /></p>
		<h3 class="project-title">Marvel Emails</h3>
		<p class="project-description">Marvel Insider is the first Marvel loyalty program that offers tangible and digital rewards for members who engage with the brand online. People can earn through a variety of engagements with Marvel – from watching free videos to checking in at your local comic book store – and the rewards range from free digital comics to wallpapers to a subscription to the Marvel Unlimited app. In order to help promote different LOBs withinin the company with their own messages and branding, I follow and shape the guidelines and templates to give the brands fresh and efficient layouts.</p>
		<br>
		<p><img ng-src='img/marvel/emails-prez-2.jpg' width='100%' /></p>

</div>
