<style>
	.col-md-4 {
		padding: 0 10px;
		margin-bottom: 20px;
	}
	.col-md-6 {
		padding: 0 10px;
		margin-bottom: 20px;
	}
	.full-width-image {
		margin-top: 20px;
		padding: 0 10px;
	}
	span {
		font-size: .3em;
		font-family: sans-serif;
		font-weight: bolder;
		vertical-align: center;
		letter-spacing: 1px;
		padding-right: 10px;
	}
	.image-label {
		position: absolute;
		margin-top: -30px;
		padding: 0px 10px;
		background-color: #16395e;
		color: white;
		font-size: .5em;
		font-weight: 400;
		font-variant: small-caps;
		letter-spacing: 1px;
		opacity: .85;
	}
	h3:before {
		content: "";
		display: block;
		height: 100px;
		margin: -100px 0 0;
	}
	button {
		margin: 5px 10px 5px 0;
		border-radius: 3px;
		padding: 5px 10px;
	}
	button:hover {
		opacity: .7;
	}
</style>

<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
		<div class="project-header">
			<div class="project-nav">&larr; <a href="#/view21">Previous</a> | <a href="#/view20">Next</a> &rarr;</div>
			<h1>Design for Nonprofits</h1>
			<p class="project-category">Branding, Information, Illustration</p>
			<p class="project-sub-title">— Ongoing Volunteer Projects on Catchafire</p>
		</div>

		<p><img ng-src='img/catchafire/catchafire-header-2.png' width='100%' /></p>


		<table class="table table-bordered">
	  		<tr>
			    <td>Company</td>
			    <td>Various clients on Catchafire - <a href="http://www.catchafire.org" target="_blank">www.catchafire.org</a></td> 
			</tr>
			<tr>
			    <td>My Role</td>
			    <td>Designer (individual)</td>
			</tr>
			<tr>
			    <td>Tools</td>
			    <td>Affinity Designer, Affinity Photo, Affinity Publisher</td> 
			</tr>
			<tr>
				<td>Clients</td>
				<td><strong>(Quick links) </strong><a href="#/view2#case6">Global Village Project</a>, <a href="#/view2#case5">UC Berkeley Underground Scholars</a>, <a href="#/view2#case4">Venice Heritage Museum</a>, <a href="#/view2#case3">Lori's Hands</a>, <a href="#/view2#case2">Waikiki Health</a>, <a href="#/view2#case1">Community Service For Every1</a></td>
			</tr>
		</table>

<br>

		<h3 class="proj-sm-col" id="case8"><span>CASE 9 —</span>Economic Awareness Council Illustration</h3>
		<p class="proj-sm-col">What the clinet needs - A visually appealing, symbolic paper bank or piggy hero illustration that will be printed on educational toys/tools for kids. The black and white versions can be used as coloring games.</p>

		<div class='col-md-12'>
			<img ng-src='img/catchafire/EAC_illustration_PRINTED_1.jpg' width='100%' />
		</div>

		<p class="full-width-image"><img ng-src='img/catchafire/full_width_space.png' width='100%' /></p>


<br>
<hr style="border: 1pt solid lightgray;">
<br>

		<h3 class="proj-sm-col" id="case8"><span>CASE 8 —</span>Sonoran Institute Infographic</h3>
		<p class="proj-sm-col">What the clinet needs - An easily understood and visually impactful visual aid that communicates data and programs of the girls refugee middle school.</p>

		<div class='col-md-6'>
			<img ng-src='img/catchafire/Sonoran_Institute_Infographic_PRINTED_1.jpg' width='100%' />
		</div>
		<div class='col-md-6'>
			<img ng-src='img/catchafire/Sonoran_Institute_Infographic_PRINTED_3.jpg' width='100%' />
		</div>

		<p class="full-width-image"><img ng-src='img/catchafire/full_width_space.png' width='100%' /></p>


<br>
<hr style="border: 1pt solid lightgray;">
<br>

		<h3 class="proj-sm-col" id="case6"><span>CASE 7 —</span>Global Village Project Infographic</h3>
		<p class="proj-sm-col">What the clinet needs - An easily understood and visually impactful visual aid that communicates data and programs of the girls refugee middle school.</p>

		<p class="full-width-image"><img ng-src='img/catchafire/GVP_Infographic_PRINTED_2.jpg' width='100%' /></p>

<br>
<hr style="border: 1pt solid lightgray;">
<br>

		<h3 class="proj-sm-col" id="case5"><span>CASE 6 —</span>UC Berkeley Underground Scholars Branding</h3>
		<p class="proj-sm-col">What the clinet needs - Visual branding guidelines / style guide that include specific colors, fonts, and other graphic design elements to use in print and digital communications materials. I added my recommendations for the color palette, typography, and icons, based upon the UC Berkeley global branding.</p>

		<p class='col-md-4'><img ng-src='img/catchafire/BUS_brandguidelines_1.png' width='100%' /></p>
		<p class='col-md-4'><img ng-src='img/catchafire/BUS_brandguidelines_2.png' width='100%' /></p>
		<p class='col-md-4'><img ng-src='img/catchafire/BUS_brandguidelines_8.png' width='100%' /></p>

		<p class='col-md-4'><img ng-src='img/catchafire/BUS_brandguidelines_4.png' width='100%' /></p>

		<p class='col-md-4'><img ng-src='img/catchafire/BUS_brandguidelines_5.png' width='100%' /></p>
		<p class='col-md-4'><img ng-src='img/catchafire/BUS_brandguidelines_6.png' width='100%' /></p>

		<p class="col-md-6"><img ng-src='img/catchafire/BUS_brandguidelines_icons_1.png' width='100%' /></p>
		<p class="col-md-6"><img ng-src='img/catchafire/BUS_brandguidelines_icons_2.png' width='100%' /></p>

<p class="full-width-image"><img ng-src='img/catchafire/full_width_space.png' width='100%' /></p>

<br>
<hr style="border: 1pt solid lightgray;">
<br>

		<h3 class="proj-sm-col" id="case4"><span>CASE 5 —</span>Venice Heritage Museum Site Plan</h3>
		<p class="proj-sm-col">What the client needs - A high-resolution digital version of an illustration / site plan that can be used across multiple channels (web, print, and/or merchandising). The old brochure that contains all these plans are in different visual styles, which is one of the main issues of the client.</p>

		<p class="full-width-image"><img ng-src='img/catchafire/Heritage_Museum_Plan_PRINTED_1.jpg' width='100%' /></p>


<br>
<hr style="border: 1pt solid lightgray;">
<br>

		<h3 class="proj-sm-col" id="case3"><span>CASE 4 —</span>Lori's Hands Brand Illustration</h3>
		<p class="proj-sm-col">What the client needs - A high-resolution digital version of an illustration that can be used across multiple channels (web, print, and/or merchandising).</p>
		<p class="full-width-image"><img ng-src='img/catchafire/LorisHands_illustration_painted2.png' width='100%' /></p>

		<div class='col-md-6'>
			<img ng-src='img/catchafire/LorisHands_illustration_3.png' width='100%' />
		</div>
		<div class='col-md-6'>
			<img ng-src='img/catchafire/LorisHands_illustration_5.png' width='100%' />
		</div>

		<p class="full-width-image"><img ng-src='img/catchafire/full_width_space.png' width='100%' /></p>


<br>
<hr style="border: 1pt solid lightgray;">
<br>

		<h3 class="proj-sm-col" id="case3"><span>CASE 3 —</span>Parent Aid Fiscal Report</h3>
		<p class="proj-sm-col">What the clinet needs - An easily understood visual aid that communicates local child abuse issues and organization impact in numbers.</p>

		<div class='col-md-6'>
			<img ng-src='img/catchafire/Parent_Aid_Infographic_PRINTED_1.jpg' width='100%' />
		</div>
		<div class='col-md-6'>
			<img ng-src='img/catchafire/Parent_Aid_Infographic_PRINTED_2.jpg' width='100%' />
		</div>

		<p class="full-width-image"><img ng-src='img/catchafire/full_width_space.png' width='100%' /></p>



<br>
<hr style="border: 1pt solid lightgray;">
<br>

		<h3 class="proj-sm-col" id="case1"><span>CASE 2 —</span>Community Service For Every1 Infographic</h3>
		<p class="proj-sm-col">What the clinet needs - An easily understood visual aid that communicates complex information about their internal communication practice.</p>

		<div class='col-md-6'>
			<img ng-src='img/catchafire/CSFE1_Infographic_PRINTED_1.jpg' width='100%' />
		</div>
		<div class='col-md-6'>
			<img ng-src='img/catchafire/CSFE1_Infographic_PRINTED_2.jpg' width='100%' />
		</div>

		<p class="full-width-image"><img ng-src='img/catchafire/full_width_space.png' width='100%' /></p>


<br>
<hr style="border: 1pt solid lightgray;">
<br>

		<h3 class="proj-sm-col" id="case2"><span>CASE 1 —</span>Waikiki Health Infographic</h3>
		<p class="proj-sm-col">What the clinet needs - An easily understood visual aid that communicates complex information about the youth health program. Other than explaining what the program is, I also tried to add visual elements associated with Hawaiian local culture.</p>

		<p class="full-width-image"><img ng-src='img/catchafire/Waikiki_Infographic_PRINTED_1.jpg' width='100%' /></p>
<!-- 		<p class="full-width-image"><img ng-src='img/catchafire/Waikiki_Infographic_PRINTED_2.jpg' width='100%' /></p> -->



</div>

<img src="img/BPDS/blank-divider.png" width="100%" />

</div>
