
<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view16">Previous</a> | <a href="#/view11">Next</a> &rarr;</div>
		<h1>Type Design Timeline</h1>
		<strong>Information Architecture</strong><br />
		<strong>Skills / Tools: </strong>Illustrator<br />
		<strong>Advisor: </strong>Daniel Morgenthaler<br /><br />
		<p>I approach information architecture in a way that it focuses on typographical order and hierarchy, which leads to proper readability and story-telling, specifically for this poster, I want to visualize the flow of designer life spans and events related to artistic movements and appearances of fonts. One of the goals of this project to create visual impact on how movements and typographical styles are overlapped.</p>
	</div>
	<div class="project_photos">
		<img ng-src='img/type_timeline_1.png' width='100%'/><br><br>
		<img ng-src='img/type_timeline_2.png' width='100%'/><br><br>
		<img ng-src='img/type_timeline_3.png' width='100%'/><br><br>
	</div>
	<div>&larr; <a href="#/view16">Previous</a> | <a href="#/view11">Next</a> &rarr;</div>

</div><br><br><br>
