<style type="text/css">
	section {
		margin: 30px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border-top: 1px solid #bbb;
		padding: 20px;
		background-color: #ddd;
	}
	section > a {
		display: block;
		text-decoration: none;
		font-size: 1em;
		color: #999;
		width: 26%;
		margin: 0 10px 20px 10px;
		line-height: 1.2em;
		border: 1px solid #eee;
		padding: 0 5px 5px 5px;
		box-shadow: 0px 0px 10px rgba(0,0,0,.4);
		overflow: hidden;
		background-color: #fff;
		transition: background-color .5s, color .5s, border-color .5s;
	}





	label {
		display: inline-block;
		cursor: pointer;
		padding: 2px 20px;
		border: 1px solid #ccc;
		color: #aaa;
	}

	input {
		display: none;
	}

	input#all:checked ~ label[for="all"],
	input#design:checked ~ label[for="design"],
	input#css:checked ~ label[for="css"],
	input#js:checked ~ label[for="js"]
	{
		color: #16395e;
		background-color: #eee;
		border-color: #16395e;
	}

	input#design:checked ~ section a[data-skill~="design"] {
		display: block;
	}
	input#design:checked ~ section a:not([data-skill~="design"]) {
		display: none;
	}
</style>

      <section>

        <a data-skill="design" href="https://www.linkedin.com/learning/sketch-essential-training-the-basics-2/introduction?u=2125562">
          <img src="images/sketch.jpg">
          Sketch Essential Training: The Basics
        </a>

        <a data-skill="js" href="https://www.linkedin.com/learning/creating-a-calculation-tool-with-angularjs-1?u=2125562">
          <img src="images/calculation_tool.jpg">
          Creating a Calculation Tool with AngularJS 1
        </a>

        <a data-skill="css" href="https://www.linkedin.com/learning/css-shorts-weekly/let-s-focus-on-the-focus?u=2125562">
          <img src="images/css_shorts.jpg">
          CSS Shorts Weekly
        </a>

        <a data-skill="design css" href="https://www.linkedin.com/learning/creating-a-responsive-web-design?u=2125562">
          <img src="images/rwd.jpg">
          Creating a Responsive Web Design
        </a>

        <a data-skill="js" href="https://www.linkedin.com/learning/creating-an-html5-banner-ad-with-greensock-gsap?u=2125562">
          <img src="images/gsap.jpg">

          
          Creating an HTML5 Banner Ad with GreenSock (GSAP)
        </a>

        <a data-skill="js" href="https://www.linkedin.com/learning/design-the-web-creating-an-event-countdown?u=2125562">
          <img src="images/countdown.jpg">
          Design the Web: Creating an Event Countdown
        </a>

        <a data-skill="css" href="https://www.linkedin.com/learning/design-the-web-css-animated-rollovers?u=2125562">
          <img src="images/animated_rollovers.jpg">
          Design the Web: CSS Animated Rollovers
        </a>

        <a data-skill="design" href="https://www.linkedin.com/learning/design-the-web-control-colors-in-photoshop-with-smartobjects?u=2125562">
          <img src="images/color_with_smartobjects.jpg">
          Design the Web: Control Colors in Photoshop with SmartObjects
        </a>

        <a data-skill="design" href="https://www.linkedin.com/learning/design-the-web-creating-a-repeating-background-in-photoshop?u=2125562">
          <img src="images/seamless_backgrounds.jpg">
          Design the Web: Creating a Repeating Background in Photoshop
        </a>

        <a data-skill="css" href="https://www.linkedin.com/learning/design-the-web-using-counters-and-resets-in-css?u=2125562">
          <img src="images/counters_resets.jpg">
          Design the Web: Using Counters and Resets in CSS
        </a>

        <a data-skill="js css" href="https://www.linkedin.com/learning/creating-expandable-panels-with-jquery?u=2125562">
          <img src="images/expandable_panels.jpg">
          Creating Expandable Panels with jQuery
        </a>

      </section>

      

<div class="home_page">

	<h2>Visual & Interaction Designer &middot; Illustrator &middot; Developer<!--  He creates comprehensive websites, brand identities, visualizations, and illustrations with a systematic and humanistic approach. --></h2>
	<p>This site is being updated daily. Stay tuned. Be happy.</p>

	<p>

		<input id="all" type="radio" name="skill" checked>
		<input id="design" type="radio" name="skill">
		<input id="css" type="radio" name="skill">
		<input id="js" type="radio" name="skill">

		<label for="all">All</label>
		<label for="design">Design</label>
		<label for="css">CSS</label>
		<label for="js">JS</label>
	</p>

<!-- 	<div style="display: block; overflow: hidden"> -->

	<!-- PROJECT 0 -->
	<div data-skill="design" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view21"><img class="thumb" id="marvel_thumb" ng-src='img/square_photos/marvel_thumb.jpg' width='100%' height="100%" alt="marvel"/></a>
			<div class="thumb_tag"><p>17-18</p></div>
			<div class="thumb_info">
				<h4>Marvel Digital <!-- <span style="font-size: .4em;">/ 漫威项目</span> --></h4>
				<p>Digital Interactions</p>
			</div>
		</div>
	</div>




	<!-- PROJECT 7 -->
	<div data-skill="design" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view16"><img class="thumb" id="insider_thumb" ng-src='img/square_photos/insider_thumb_1.jpg' width='100%' alt="yuhua stone"/></a>
			<div class="thumb_tag"><p>18</p></div>
			<div class="thumb_info">
				<h4>Marvel Insider</h4>
				<p>Branding</p>
			</div>
		</div>
	</div>






	<!-- PROJECT 1 -->
	<div data-skill="css" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view19"><img class="thumb" id="bpds_thumb" ng-src='img/square_photos/BPDS_thumb_2.png' width='100%' alt="brookfield presentation"/></a>
			<div class="thumb_tag"><p>16-17</p></div>
			<div class="thumb_info">
				<h4>Brookfield Digital</h4>
				<p>Digital Interactions</p>
			</div>
		</div>
	</div>




	<!-- PROJECT 3 -->
	<div data-skill="design" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view20"><img class="thumb" id="maps_thumb" ng-src='img/square_photos/charts_thumb_1.jpg' width='100%' alt="shift"/></a>
			<div class="thumb_tag"><p>15-17</p></div>
			<div class="thumb_info">
				<h4>Maps and Charts</h4>
				<p>Information Design</p>
			</div>
		</div>
	</div>



	<!-- PROJECT 4 -->
	<div data-skill="js" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view3"><img class="thumb" id="type_timeline_thumb" ng-src='img/square_photos/box-type-thumb.jpg' width='100%' alt="typeface timeline"/></a>
			<div class="thumb_tag"><p>16</p></div>
			<div class="thumb_info">
				<h4>Boxes&hairsp;&middot;&hairsp;Type&hairsp;&middot;&hairsp;Labels</h4>
				<p>Branding & Packaging</p>
			</div>
		</div>
	</div>


	<!-- PROJECT 5 -->
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view14"><img class="thumb" id="stats_viz_thumb" ng-src='img/square_photos/stats_thumb_phone.png' width='100%' height="100%" alt="stats viz"/></a>
			<div class="thumb_tag"><p>16-17</p></div>
			<div class="thumb_info">
				<h4>NBA Stats Viz</h4>
				<p>Information Design</p>
			</div>
		</div>
	</div>





		<!-- PROJECT 10 -->
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view17"><img class="thumb" id="corp_thumb" ng-src='img/square_photos/corp-1.png' width='100%' alt="coporate"/></a>
			<div class="thumb_tag"><p style="color: gray;">14-18</p></div>
			<div class="thumb_info">
				<h4>Corporate Graphics</h4>
				<p>Graphic Design</p>
			</div>
		</div>
	</div>



	<!-- PROJECT 10 -->
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view7"><img class="thumb" id="paperthingy_thumb" ng-src='img/square_photos/paper_thingy_thumb_1.jpg' width='100%' alt="paper thingy"/></a>
			<div class="thumb_tag"><p>15</p></div>
			<div class="thumb_info">
				<h4>Paper Thingy</h4>
				<p>Toy Design</p>
			</div>
		</div>
	</div>


	<!-- PROJECT 8 -->
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view9"><img class="thumb" id="markers_ui_thumb" ng-src='img/square_photos/markers_thumb_1.png' width='100%' alt="markers ui"/></a>
			<div class="thumb_tag"><p>14</p></div>
			<div class="thumb_info">
				<h4>Markers</h4>
				<p>User Interface</p>
			</div>
		</div>
	</div>



	<!-- PROJECT 9 -->
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view8"><img class="thumb" id="type_and_code_thumb" ng-src='img/square_photos/type_code_thumb.png' width='100%' alt="type and code"/></a>
			<div class="thumb_tag"><p>13</p></div>
			<div class="thumb_info">
				<h4>Type and Code</h4>
				<p>Programming</p>
			</div>
		</div>
	</div>


	<!-- PROJECT 6 -->
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view12"><img class="thumb" id="chain_thumb" ng-src='img/square_photos/chain-of-thought-th-3.png' width='100%' alt="shift"/></a>
			<div class="thumb_tag"><p style="color: gray;">16</p></div>
			<div class="thumb_info">
				<h4>Chain of Thought</h4>
				<p>Illustration</p>
			</div>
		</div>
	</div>







	<!-- PROJECT 12 -->
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view15"><img class="thumb" id="layout_thumb" ng-src='img/square_photos/layout-1.png' width='100%' alt="print collection"/></a>
			<!-- <div class="thumb_tag"><p>13</p></div> -->
			<div class="thumb_info">
				<h4>Layout Collection</h4>
				<p>Graphic Design</p>
			</div>
		</div>
	</div>


	<!-- PROJECT 13 -->
<!-- 	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view10"><img class="thumb" id="toys_thumb" ng-src='img/square_photos/toys-2.jpg' width='100%' alt="print collection"/></a>
			<div class="thumb_info">
				<h4>Toy Collection</h4>
				<p>Object Design</p>
			</div>
		</div>
	</div> -->


	<!-- PROJECT 14 -->
<!-- 	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="list_group">
			<a href="#/view6"><img class="thumb" id="logos_thumb" ng-src='img/square_photos/logos-1.png' width='100%' alt="print collection"/></a>
			<div class="thumb_info">
				<h4>Logo Collection</h4>
				<p>Branding</p>
			</div>
		</div>
	</div> -->




<!-- </div> -->


</div>
