
<br/><br/><br/>
<div class="columnsContainer">
	<div class="info">
			<div>&larr; <a href="#/view9">Previous</a> | <a href="#/view10">Next</a> &rarr;</div>
			<h1>Animal Eraser Box</h1>
			<strong>Package Design</strong><br />
			<strong>Skills / Tools: </strong>Illustrator<br />
			<strong>Advisor: </strong>Frank Debose<br /><br />
			<p>{{project3.projectDescription[2]}}</p>
		</div>
	<div class="project_photos">
			<img ng-src='img/animal_eraser_3.jpg' width='100%'/><br /><br />
			<img ng-src='img/animal_eraser_1.jpg' width='100%'/><br /><br />
			<h3>Mind Map:</h3>
			<img ng-src='img/animal_eraser_process2.jpg' width='100%' style='opacity: .75;'/><br /><br /><br />
			<img ng-src='img/animal_eraser_2.jpg' width='100%'/><br /><br />
	</div>
	<div>&larr; <a href="#/view9">Previous</a> | <a href="#/view10">Next</a> &rarr;</div>
</div><br/><br/><br/>
