<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div><!--a href="">&larr; Previous</a--> | <a href="#/view19">Next Project</a> &rarr;</div>
		<h1>Stats Viz. System</h1>
		<strong>User Interface / Visual Concept</strong><br />
		<strong>Skills / Tools: </strong>Illustrator<br />
		<strong>Advisor: </strong>Self-Directed<br /><br />
		<!--p>These typeface lecture posters are designed based on the concept of color progression and overlay. Dotted outlines of the letter n are hints of what is going to be added in the next poster and also emphasize the comparison & contrast of strokes of the three typefaces. Color overlay is subtle but there is a strong sense of arranging and composing elements of progression.</p-->
	</div>

	<div class="project_photos">

		<img ng-src='img/stats-system/stats_viz_8.png' width='100%' style="min-width: 200px;"/>
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />
		<img ng-src='img/stats-system/stats_viz_9.png' width='100%' style="min-width: 200px;"/>
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />

		<img ng-src='img/stats-system/stats_viz_10.png' width='100%' style="min-width: 200px;"/>
		<img ng-src='img/stats-system/stats_viz_11.gif' width='70%' style="min-width: 200px; margin-left: 15%"/>
		<img ng-src='img/stats-system/stats_viz_12.png' width='100%' style="min-width: 200px;"/>
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />
		<img ng-src='img/stats-system/stats_viz_14.png' width='100%' style="min-width: 200px;"/>
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />
		<img ng-src='img/stats-system/stats_viz_13-1.png' width='100%' style="min-width: 200px;"/>

		<img ng-src='img/stats-system/stats_viz_16.png' width='100%' style="min-width: 200px; margin-top: 20px; margin-bottom: 20px;"/>

		<img ng-src='img/stats-system/stats_viz_7.png' width='100%' style="min-width: 200px;"/><br><br>
		
		<img ng-src='img/stats-system/stats_viz_15.png' width='100%' style="min-width: 200px;"/><br><br>
		
	</div>
	<div><!--a href="">&larr; Previous</a--> | <a href="#/view19">Next Project</a> &rarr;</div>

</div><br/><br/><br/>
