
<div>

		<img src="img/picView04.jpg" width="100%" />

		<h3 class="project-title">Type and Code</h3>
		<p class="project-description">Using Processing (Java), I created a series of typographical experiments on forms and meanings. Firstly, I created this set of letters based on the struture of a binary tree. Every letter has binary trees branching out, and the anchor points of the binary trees start from Chinese characters whose ponounciations begin with the corresponding letters in front of them. This probject is meant to address the idea of abstraction and obscurity.</p>

		<p class="project-description">I picked a Chinese font that is relatively simplified, round, and graphic, so that the characters generally have fewer anchor points when put into the Processing program. This results in less complex and clearer graphics.</p>

</div>






