
<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
		<div class="project-header">
			<div class="project-nav">&larr; <a href="#/view21">Previous</a> | <a href="#/view22">Next</a> &rarr;</div>
			<h1>Maps and Charts</h1>
			<p class="project-category">Information, Digital Interactions</p>
			<p class="project-sub-title">— Information and Data Visualization Collection</p>
		</div>

		<p><img ng-src='img/info_design/DC-marketing-2.png' width='100%' /></p>


		<table class="table table-bordered">
	  		<tr>
			    <td>Company</td>
			    <td>Union Design LLC, Personal</td> 
			</tr>
			<tr>
			    <td>Directors</td>
			    <td>Adam Cohen, Clint Bottoni, Jeremy Meier, Austin Kurowski, self</td> 
			</tr>
			<tr>
			    <td>My Role</td>
			    <td>Graphic Designer, Information Designer, Cartographer</td> 

			</tr>
			<tr>
			    <td>Tools</td>
			    <td>InDesign, Illustrator, Photoshop</td> 
			</tr>
		</table>

		<br>


		<h3 class="proj-sm-col">Brookfield Placemaking</h3>
		<p class="proj-sm-col">Worked with Austin Kurowski. Responsible for creating vector map layers, icons, and HTML content grid layouts (first mocked up in InDesign, then coded with HTML table), and CMS. The overview section of the placemaking chapter has a few pages with different base global maps, highlights, and regional stats. Each layer will fade in with a short delay. The case study section has a few pages with content grid consisting of photographs, icons, stats, and vector maps.</p>

		<p><img ng-src='img/info_design/placemaking-1.jpg' width='100%' /></p><br>
		<p><img ng-src='img/info_design/placemaking-2.jpg' width='100%' /></p>

		<br>
		<hr style="border: 1pt solid lightgray;">
		<br>




		<h3 class="proj-sm-col">ICD Dubai</h3>
		<p class="proj-sm-col">Worked with Austin Kurowski. Responsible for applying color scheme to a branded application chapter, typography, vector map cleanup, animated SVGs and PNGs, and animated timeline table with popup buttons.</p>

		<p><img ng-src='img/info_design/dubai-1.png' width='100%' /></p><br>
		<p><img ng-src='img/info_design/dubai-3.png' width='100%' /></p><br>
		<p><img ng-src='img/info_design/dubai-2.png' width='100%' /></p>

		<br>
		<hr style="border: 1pt solid lightgray;">
		<br>


		<h3 class="proj-sm-col">Animated DC Market Data</h3>
		<p class="proj-sm-col">Worked with Austin Kurowski. Responsible for creating vector charts first in Illustrator, then breaking them into different SVG layers, adding delays in the CMS to create animated graphs. The basic principle is drawing base guides first, legends and units second, and data last.</p>

		
		<p><img ng-src='img/info_design/DC-marketing-3.png' width='100%' /></p><br>
		<p><img ng-src='img/info_design/DC-marketing-4.png' width='100%' /></p>

		<br>
		<hr style="border: 1pt solid lightgray;">
		<br>




		<h3 class="proj-sm-col">LLH Marketing Presentation</h3>
		<p class="proj-sm-col">Worked with Jeremy Meier. Responsible for creating vector charts and typographical layouts from rough skecthes (PPT) sent by the client, with specific application color scheme and branding.</p>

		<p><img ng-src='img/info_design/LLH-1.png' width='100%' /></p><br>
		<p><img ng-src='img/info_design/LLH-2.png' width='100%' /></p>

		<br>
		<hr style="border: 1pt solid lightgray;">
		<br>


		<h3 class="proj-sm-col">Lerner Marketing Suite</h3>
		<p class="proj-sm-col">Worked with Adam Cohen. Responsible for using very rough pencil skecthes to create vector plans highlighting different areas and features in a marketing suite proposal presentation.</p>

		<p><img ng-src='img/info_design/Lerner-1.png' width='100%' /></p>

		<br>
		<hr style="border: 1pt solid lightgray;">
		<br>


		<h3 class="proj-sm-col">Blackout 2003</h3>
		<p class="proj-sm-col">This poster shows how the Blackout of the United States and South Canada happened in 2003. The narrative information design contains from basic knowledge of electricity delivery process to what exact events happened during the day. I approach information architecture in a way that it focuses on typographical order and hierarchy, which leads to proper readability and story-telling, specifically for this poster, I want to introduce the basics of electronics and the context of the event before the event timeline, but not in a demanding fashion, meaning you can go slightly differently on your routine to go through the information, depending on how you interact with the flow of ideas presented.</p>

		<p><img ng-src='img/info_design/blackout-1.png' width='100%' /></p>

		<br>


	</div>


</div>
