
<style>
	div.col-xs-12 {
		margin-left: 0px;
	}
	div.col-xs-12 > img {
		margin-bottom: 2em;
		margin-left: 0;
	}
	div.col-xs-12 > img:hover {
		box-shadow: 5px 5px 5px lightgray;
	}
	div.col-xs-12 {
		padding-left: 0;
	}
</style>
<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div><a href="#/view10">&larr; Toy Collection</a> | <!--a href="">Next &rarr;</a--></div>
		<h1>Drawing Collection</h1>
		<!--strong>Drawing</strong><br />
		<strong>Skills / Tools: </strong>Watercolor pencil, InDesign<br /><br />
		<p>100 Birds is a self-promotional illustration and book cover project. I hand draw collected bird pictures using color pencil and then make them into typographic layouts of book covers. All bookcovers will always use only one font family.</p-->
	</div><br>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/hand_drawings/bird_drawing_2.jpg' width='100%'/>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/hand_drawings/bird_drawing_1.jpg' width='100%'/>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/hand_drawings/pencil-1.jpg' width='100%'/>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/hand_drawings/pencil-2.jpg' width='100%'/>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/hand_drawings/charcoal-1.jpg' width='100%'/>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<img src='img/hand_drawings/charcoal-2.jpg' width='100%'/>
	</div>

	<br><br><br>
	<div><a href="#/view10">&larr; Toy Collection</a> | <!--a href="">Next &rarr;</a--></div>
	<br><br><br>

</div>
