
<div class="columnsContainer">

	<div class="info">
		<div class="project-nav">&larr; <a href="#/view17">Previous Project</a> | <a href="#/view15">Layout Collection</a> &rarr;</div>
		<h1>Confirmit</h1>
		<p class="project-sub-title">Marketing Intern Experience<br>in a B2B Technology Company</p>

		<p><img ng-src='img/confirmit/web-1.png' ng-class='projectImage' width='100%'/></p>

		<table class="table table-bordered">
	  		<tr>
			    <td>Director</td>
			    <td>Nick Roman</td> 
			</tr>
			<tr>
			    <td>My Role</td>
			    <td>Graphic Design, HTML/CSS Prototyping</td> 
			</tr>
			<tr>
			    <td>Intern Year</td>
			    <td>2015</td> 
			</tr>
		</table>

		<br>
		
		<h3 class="proj-sm-col">Background</h3>
		<p class="proj-sm-col">Confirmit, Inc. is a Business Management Consultant company, whose industry leading software and services help businesses listen to customers, markets and employees, analyze insights and take action to drive business growth. During my time interning as a marketing assistant / graphic designer, I got to experience the culture of a big technology / business oriented firm as well as how to manage and nurture the relationship between the company and its potential customers (leads). I updated several long decks of Power Point presentations, modified marketing materials for conferences, and created mockups for the company's upcoming website for their German headquarter. <strong>[ More Contents Coming ]</strong></p>
	</div>

	<div class="project_photos">
		<img ng-src='img/confirmit/chart-01.png' ng-class='projectImage' width='100%'/><br /><br />
		<img ng-src='img/confirmit/chart-02.png' ng-class='projectImage' width='100%'/><br /><br />

	</div>
	<div>&larr; <a href="#/view17">Previous</a> | <a href="#/view15">Layout Collection</a> &rarr;</div>

</div><br/><br/><br/>
