<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view2">Previous</a> | <a href="#/view14">Next</a> &rarr;</div>
		<h1>Shift</h1>
		<strong>Print Design</strong>
		<p>This is a information package for a typographical event happening at Berlin. The package contains sheets of registration information, events and designers, schedule, etc. I tried to create a unique labeling system for these sheets of information.</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/shift_1.jpg' width='100%'/><br><br>
		<img ng-src='img/shift_3.jpg' width='100%'/><br><br>
		<img ng-src='img/shift_5.jpg' width='100%'/><br><br>
		<img ng-src='img/shift_4.jpg' width='100%'/><br><br>
		<img ng-src='img/shift_7.jpg' width='100%'/><br><br>
		<img ng-src='img/shift_9.jpg' width='100%'/><br><br>
	</div>
	<div>&larr; <a href="#/view2">Previous</a> | <a href="#/view14">Next</a> &rarr;</div>

</div><br/><br/><br/>
