
<br/><br/><br/>
<div class="columnsContainer">

	<div class="leftColumn" style="opacity: 0.9">

		<img src='img/bird_drawing_1.jpg' ng-class='projectImage' width='99%' style='min-width: 200px;'></img><br/><br/>
		<img src='img/bird_drawing_2.jpg' ng-class='projectImage' width='99%' style='min-width: 200px;'></img><br/><br/>
		<img src='img/bird_drawing_3.jpg' ng-class='projectImage' width='99%' style='min-width: 200px;'></img><br/><br/>
		<!--<img src='img/animal_blocks_4.jpg' ng-class='projectImage' width='99%' style='min-width: 200px; border: 1pt solid gray'></img>&nbsp;&nbsp;-->

		<br/>
	</div>

	<div class="rightColumn">
		<p>Drawings</p>
		<p> {{project11.projectDescription[1]}}</p>
	</div>

</div>
