<!-- <br/><br/><br/>
<section class="">

	<div class="row">

			<div class="col-xs-8 col-sm-8">
				<img ng-src='img/Cblock03-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
				<img ng-src='img/Cblock02-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
				<img ng-src='img/Cblock04-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
				<img ng-src='img/Cblock06-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
				<img ng-src='img/Cblock05-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img><br/><br/><br/>
			</div>


			<div class="col-xs-12 col-sm-5" style="position: fixed; left: 55%">
				<img src="img/block-wire02.png" width="95%"></img>
				<p style="color: gray">{{project6.projectDescription[3]}}</p>
			</div>

	</div>

</section> -->

<br/><br/><br/>
<div class="columnsContainer">

	<div class="leftColumn" style="opacity: 0.8">
		<img ng-src='img/Cblock03-d-en.jpg' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
		<img ng-src='img/Cblock02-d-en.jpg' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>&nbsp;&nbsp;
		<img ng-src='img/Cblock04-d-en.jpg' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
		<img ng-src='img/Cblock06-d-en.jpg' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>&nbsp;&nbsp;
		<img ng-src='img/Cblock05-d-en.jpg' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
	</div>

	<div class="rightColumn">
		<img src="img/block-wire02.png" width="95%"></img>
		<p>These paper prototypes are meant to use as little technology as possible to help children to develop their motor skills and cognitive knowledge. The project started with a simple idea: "Can a toy grow along with the child?" Video games, Apps, and other screen-based content are mentally loud and visually overwhelming, which is causing kids to ignore the physical world and supposedly engaging objects, yet physical toys are not often built cross-platform in order to let children not only carry them around, but also be aware of the advancement of today’s technology. I wanted to re-picture a toy world that was partially physical, partially digital and that acts as a platform for media and itself in a poetic fashion. The toy may create its living environment on its own. AR seems like a proper way of giving physical objects an identity and set of behaviors in new and existing media worlds.</p>
	</div>

</div>
