<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view7">Previous Project</a> | <a href="#/view17">Next Project</a> &rarr;</div>
		<h1>Chain of Thought</h1>
		<strong>Vector Illustration</strong><br />
		<strong>Skills / Tools: </strong>Illustrator<br />
		<strong>Advisor: </strong>Self-Directed<br /><br />
	<br />
		<p>My first personal illustration work as an interaction designer. I aim to create a series of imageries that are dynamic and interrelated using clean lines and shapes to convey ideas. Letters are used as perspective transformers. By showing my chain of thought, I try to inspire, not to impress the audience.</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/chain_of_thought/chain-of-thought-0.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-01.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-02.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-03.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-04.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-05.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-06.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-07.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-08.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-09.png' width='100%'/>
		<img ng-src='img/chain_of_thought/chain-of-thought-10.png' width='100%'/>

		<br><br>
	</div>
	<div>&larr; <a href="#/view7">Previous Project</a> | <a href="#/view17">Next Project</a> &rarr;</div>

</div><br/><br/><br/>
