<br/><br/><br/>

<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view14">Previous</a> | <a href="#/view9">Next</a> &rarr;</div>
		<h1>Stagflation</h1>
		<strong>Print Design | Data Visualization</strong><br />
		<strong>Skills / Tools: </strong>Illustrator, Photoshop<br /><br />
		<p>This is a redesign of a New York Times data graph based upon the idea of stagflation at the time. I used one of Edward Tufte's unconventional graph methods to the relational information.</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/stagflation_3.png' ng-class='projectImage' width='100%' style="min-width: 200px"/><br><br>
		<img ng-src='img/stagflation_1.jpg' ng-class='projectImage' width='100%' style="min-width: 200px"/><br><br>
		<img ng-src='img/stagflation_2.jpg' ng-class='projectImage' width='100%' style="min-width: 200px"/><br><br>
	</div>
	<div>&larr; <a href="#/view14">Previous</a> | <a href="#/view9">Next</a> &rarr;</div>

</div><br/><br/><br/>