
<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
		<div class="project-header">
			<div class="project-nav">&larr; <a href="#/view21">Previous</a> | <a href="#/view20">Next</a> &rarr;</div>
			<h1>Brookfield Digital System</h1>
			<p class="project-sub-title">Multi-platform Presentation System for A Modern Asset Company</p>
		</div>

		<p><img ng-src='img/BPDS/BPDS-show-2-small.jpg' width='100%' /></p>


		<table class="table table-bordered">
	  		<tr>
			    <td>Company</td>
			    <td>Union Design LLC - <em><a href="http://www.union.us.com" target="_blank">www.union.us.com</a></em></td> 
			</tr>
			<tr>
			    <td>Directors</td>
			    <td>Adam Cohen, Clint Bottoni, Jeremy Meier, Austin Kurowski</td> 

			</tr>
			<tr>
			    <td>My Role</td>
			    <td>UI, UX, Graphic Design, CMS, General Updates and Production</td> 
			</tr>
		</table>

		<br>

		<p class="prototype-button"><a href="https://bpds-media.s3.amazonaws.com/web/index-ios.html#page/core/bpp%2Foffice" target="_blank"><button class=" launch btn btn-default btn-lg">Launch Browser Preview - iPad</button></a></p>


		<h3 class="proj-sm-col">Background</h3>
		<p class="proj-sm-col">Brookfield is a leading global alternative asset manager, focused on investing in long-life, high quality assets across real estate, infrastructure, renewable power and private equity. In order to give a new look to their old Flash &amp; XML based internal presentation system, Union Design has completed an all-around project on designing and developing a CMS-centralized multi-platform application. The project was officially released in 2016.</p>

		<p class="proj-sm-col"><img src='img/BPDS/old-system-1.jpg' width='100%'/></p>

<br>

		<h3 class="proj-sm-col">New CMS</h3>
		<p class="proj-sm-col">For the old presentation system, touchscreen display and dual screen displays are created with Flash and XML, while the iPad app was made using a different XML method. It was very time-consuming to update content across all platforms. Since new contents, stats, images, etc. come from different headquarters/cities of the client, the application needs to be constantly updated by the design team. Occasionally, new functionalities of the CMS, modified versions of page structures are created. To suit the needs of both production of designers and presenters of the client company, user interfaces of both the CMS system and the actual application are gradually growing and transforming to be as efficient and humanistic as possible. With the new CMS, art of different resolutions for different layouts can be uploaded at the same time.</p>

		<p style="margin-top: -20px; margin-bottom: -20px;"><img src='img/BPDS/info-01-1.png' width='100%'/></p>


		<h3 class="proj-sm-col">Design</h3>
		<p class="proj-sm-col">Based on the old presentation system, we first reorganized all business units, countries, markets, and other customized sections within the application structures in the form of a few flow charts and diagrams, then we worked on the look &amp; feel of the new presentation branding, which is the color (for common text and image based pages) and grayscale (for map based pages) gradient <span style="white-space: nowrap;">background series.</span></p>


		<p class="proj-sm-col" style="margin-top: -20px;"><img src='img/BPDS/BPDS-overview-1.png' width='100%'/></p>
		<p><img src='img/BPDS/color-scheme-1.jpg' width='100%'/></p>


<br>

		<h3 class="proj-sm-col">Usability Improvements / Modularity</h3>
		<p class="proj-sm-col">Because the system has so many contents in many different markets, and presenters in most countries and cities only need their corresponding chapters / sections for their day-to-day work. Also, some markets need their respective chapters to be both in the main app and as standalone iPad apps. As a result, the main app was broken into different modules, and these modules can be downloaded separately. Comparing to the old system, this method saves tons of space on the presenters' devices.</p>

		<p class="proj-sm-col"><img src='img/BPDS/download-screen.png' width='100%'/></p>

<br>

		<h3 class="proj-sm-col">Presentation Formats / UI Patterns</h3>
		<p class="proj-sm-col">The iPad app is the most convenient device to show people something, but for larger displays, the presenter may need to use different body gestures to point to specific areas of the screen. For some complex components like pages that have several popup info windows or virtual reality navigations, additional menus are designed to be draggable, making it more flexible to use when presenting. Sub-menu tab components are also designed to be flexible sitting either on the left or right for the dual screen.</p>
		<p class="proj-sm-col" style="margin-top: -30px;"><img src='img/BPDS/presentation-format.png' width='100%'/></p>
		<p style="margin-top: -20px;"><img src='img/BPDS/presentation-format-1.jpg' width='100%'/></p>


<br>

		<h3 class="proj-sm-col">Customized Themes</h3>
		<p class="proj-sm-col">Markets and developments may have their own branding, inconsistent with the overall Brookfield branding guidelines / color schemes, etc. We used different guides and marketing brochures from client to align their sections of the presentation system to their specific branding. The process may include developing new background image, pairing new font combinations, and creating customized layouts and features.</p>
		<p><img src='img/BPDS/color-scheme-2.jpg' width='100%'/></p>
<!-- 		<p><img ng-src='img/BPDS/screens-1.jpg' width='100%'/></p> -->


<br>

		<h3 class="proj-sm-col">Visual Elements</h3>
		<p class="proj-sm-col">I took a very literal approach making icons for specifications and information for the properties. It is a challenge to make minimal visual elements expressive, simple, and systematic at the same time.</p>

		<p><img ng-src='img/BPDS/icon-01.png' width='100%'/></p>

<br>
		<h3 class="proj-sm-col">Final Screens</h3>
		<p class="proj-sm-col"></p>

		<p><img src='img/BPDS/screens-01.png' width='100%'/>
		<img src='img/BPDS/screens-02.png' width='100%'/>
		<img src='img/BPDS/screens-03.png' width='100%'/></p>


		<br><br>
		

<!-- 
		<div class="project-nav">&larr; <a href="#/view14">Previous Project</a> | <a href="#/view3">Next Project</a> &rarr;</div> -->

	</div>


	<br>
