<style>
	div.columnsContainer > div.col-md-10 > div#resume {
		font-family: 'Raleway', sans-serif;
		margin-bottom: 5em;
	}
	div.columnsContainer > div.col-md-10 > div#resume > h1, h3 {
		font-weight: 200;
	}
	div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul {
		list-style: none;
	}
	div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul.time {
		float: left;
		width: 300px;
	}
	div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul.time > li > p.empty{
		opacity: 0;
	}
	div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul.events {
		
	}
	div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul > li > p + p {
		margin-top: -15px; 
	}
</style>

<br/><br/><br/>
<div class="columnsContainer">

	<div class="col-md-10">
		<div id="resume">
			<h1>Xiaofeng Lin (Tim)</h1>
			
			<p>Interation Designer | Information Architect | Toy Maker</p>
			<a href="https://www.linkedin.com/profile/view?id=181876248"><img src="img/linkedinlogo.png" width="30px" alt="linkedin"/></a>&nbsp;
	        <a href="https://www.facebook.com/xiaofeng1989"><img src="img/fblogo.png" width="30px" alt="facebook"/></a>&nbsp;
	        <a href="http://www.weibo.com/xiaofeng890710"><img src="img/weibologo.png" width="30px" alt="weibo"/></a>&nbsp;
	        <a href="https://twitter.com/TimXiaofengLin"><img src="img/twitterlogo.png" width="30px" alt="tweeter"/></a>
			<hr>
			
			<div id="resume_main">
<!-- EDUCATION -->
				<h3>/ Education</h3>
				<ul class="time">
					<li>
						<p>Jun 2013 - May 2015 (expected)</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Sep 2011 - May 2013</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Sep 2009 - Aug 2011</p>
						<p class="empty">1</p>
					</li>
				</ul>
				<ul class="events">
					<li>
						<p><strong>Master of Fine Arts, Parsons the New School for Design</strong></p>
						<p>Design and Technology | GPA 3.7+</p>
					</li>
					<li>
						<p><strong>Bachelor of Fine Arts, School of the Art Institute of Chicago</strong></p>
						<p>Visual Communication Design</p>
					</li>
					<li>
						<p><strong>Associate of Arts, Bucks County Community College</strong></p>
						<p>Graphic Design | GPA 3.8+</p>
					</li>
				</ul>
<!-- WORK EXPERIENCE -->
				<h3>/ Work Experience</h3>
				<ul class="time">
					<li>
						<p>Jun 2014 - Aug 2014</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Jun 2011 - Sep 2013</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Nov 2013 - Jan 2014</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Aug 2013 - Dec 2013</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Jan 2013 - present</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Jun 2012 - Sep 2012</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>May 2012 - Jul 2012</p>
						<p class="empty">1</p>
					</li>
				</ul>
				<ul class="events">
					<li>
						<p><strong>Marketing Intern, Confirmit, Inc.</strong></p>
						<p>Created branding materials, web-based items, email templates, and UI mockups</p>
					</li>
					<li>
						<p><strong>UI/UX Designer and Illustrator, Markers LLC</strong></p>
						<p>Created wireframes, layouts, and icons for company software</p>
					</li>
					<li>
						<p><strong>Design Intern, Frame Concepts</strong></p>
						<p>Created hand-drawn sketches and digital designs for infographics</p>
					</li>
					<li>
						<p><strong>Branding Assistant, Rare Bar and Grill</strong></p>
						<p>Created hand-drawn typography of bar menus on blackboards and glass</p>
					</li>
					<li>
						<p><strong>Conlumnist, Ya Song Feng Art Monthly Magzine (Beijing)</strong></p>
						<p>Created hand-drawn sketches and digital designs for infographics</p>
					</li>
					<li>
						<p><strong>Graphic Design Assistant, Barrel Maker Printing</strong></p>
						<p>Created branding and marketing materials for print products</p>
					</li>
					<li>
						<p><strong>Graphic Artist, Cake Top Publishing</strong></p>
						<p>Created hand-drawn images for cakes</p>
					</li>
				</ul>
<!-- AWARDS -->
				<h3>/ Awards</h3>
				<ul class="time">
					<li>
						<p>Sep 2013 - present</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Sep 2011 - May 2013</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Dec 2010</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>May 2010</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>May 2009 - May 2011</p>
						<p class="empty">1</p>
					</li>
				</ul>
				<ul class="events">
					<li>
						<p><strong>Dean’s Graduate Merit Scholarship</strong></p>
						<p>Parsons the New School for Design</p>
					</li>
					<li>
						<p><strong>Merit Scholarship</strong></p>
						<p>School of the Art Institute of Chicago</p>
					</li>
					<li>
						<p><strong>Stella Elkins Tyler Art Scholarship</strong></p>
						<p>Bucks County Community College</p>
					</li>
					<li>
						<p><strong>Edge Product Development Scholarship</strong></p>
						<p>Bucks County Community College</p>
					</li>
					<li>
						<p><strong>Academic Distinction of Dean’s Honor List</strong></p>
						<p>Bucks County Community College</p>
					</li>
				</ul>
<!-- EXHIBITIONS & WORKSHOPS -->
				<h3>/ Exhibitions & Workshops</h3>
				<ul class="time">
					<li>
						<p>Mov 2014</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>May 2013</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Mar 2013</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Nov 2012</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Oct 2012</p>
						<p class="empty">1</p>
					</li>
					<li>
						<p>Apr 2010</p>
						<p class="empty">1</p>
					</li>
				</ul>
				<ul class="events">
					<li>
						<p><strong>Paper Thingy Workshop, Future Gadgets Show</strong></p>
						<p>New York Hall of Science</p>
					</li>
					<li>
						<p><strong>Visual Communications Design Exhibition</strong></p>
						<p>The Sharp Building, Chicago</p>
					</li>
					<li>
						<p><strong>Project Bold, the BFA Show</strong></p>
						<p>Sullivan Gallery, Chicago</p>
					</li>
					<li>
						<p><strong>Package Design Exhibition</strong></p>
						<p>School of the Art Institute of Chicago</p>
					</li>
					<li>
						<p><strong>Start Sharp Design Show</strong></p>
						<p>The Sharp Building, Chicago</p>
					</li>
					<li>
						<p><strong>Arts at Bucks: Student Art and Design Show</strong></p>
						<p>Bucks County Community College</p>
					</li>
				</ul>

				<h3>/ Skills</h3>
				<ul class="time">
					<li>
						<p>2D</p>
					</li>
					<li>
						<p>3D</p>
					</li>
					<li>
						<p>Programming Languages</p>
					</li>
					<li>
						<p>Traditional Media</p>
					</li>
				</ul>
				<ul class="events">
					<li>
						<p>Photoshop, Illustrator, Indesign, Flash, After Effects (entry)</p>
						
					</li>
					<li>
						<p>Blender 3D (entry), Maya (entry), Unity 3D (entry)</p>
						
					</li>
					<li>
						<p>HTML5, CSS, Sass, Javascript, JQuery, AngularJS, Java (entry), Arduino</p>
						
					</li>
					<li>
						<p>charcoal, color pencil/watercolor pencil, marker, acrylic, printmaking (lithography/relief/etching), letterpress, clay modeling, origami, watercolor (entry), oil paint (entry)</p>
					</li>
				</ul>
				

			</div>
		</div>
	</div>

	<div class="col-md-2">
	</div>

</div>

