<style>
	div.columnsContainer > div.col-md-10 > div#resume {
		font-family: 'Raleway', sans-serif;
		margin-bottom: 5em;
	}
	div.columnsContainer > div.col-md-10 > div#resume > h1, h3 {
		font-weight: 200;
	}
	div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul {
		list-style: none;
	}
	div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul.time {
		float: left;
		width: 300px;
	}
	div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul.time > li > p.empty{
		opacity: 0;
	}
	div.columnsContainer > div.col-md-10 > div#resume > div#resume_main > ul > li > p + p {
		margin-top: -15px;
	}
</style>

<br/><br/><br/>
<div class="columnsContainer">

	<h2><strong>Personal Blog</strong></h2><br>

	<table class="table">

  		<tr class="success">
		    <th>Date</th>
		    <th>Title</th>
		    <th>Language</th>
		    <th>Category</th>
		    <th>Link</th>
		</tr>






		<tr>
			<td>Dec 2016</td>
		    <td><strong style="font-size: 1.25em">Art as Entertainment</strong><br><h5>娛樂性藝術</h5></td> 
		    <th>English</th>
		    <td>Sociology</td>
		    <td>
		    	<!-- Button trigger modal -->
				<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#article-first">Read</button>

				<!-- Modal modal-lg to make it large-->
				<div class="modal fade" id="article-first" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Art as Entertainment</h4>
				      </div>
				      <div class="modal-body">
				        <p><img src="img/holder2.jpg" width="100%" /></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>

		    </td>
		</tr>








		<tr>
			<td>Dec 2016</td>
		    <td><strong style="font-size: 1.25em">Post-Modern Emotion of Insecurity</strong><br><h5>後現代之不安感</h5></td> 
		    <th>中文</th>
		    <td>Sociology</td>
		    <td>
		    	<!-- Button trigger modal -->
				<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#article0">Read</button>

				<!-- Modal modal-lg to make it large-->
				<div class="modal fade" id="article0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">後現代之不安感</h4>
				      </div>
				      <div class="modal-body">
				        <p><img src="img/holder3.jpg" width="100%" /></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>

		    </td>
		</tr>









		<tr>
			<td>Nov 2016</td>
		    <td><strong style="font-size: 1.25em">Power &amp; Right</strong><br><h5>權力與權利</h5></td> 
		    <th>中文</th>
		    <td>Sociology</td>
		    <td>
		    	<!-- Button trigger modal -->
				<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#article1">Read</button>

				<!-- Modal modal-lg to make it large-->
				<div class="modal fade" id="article1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">權力與權利</h4>
				      </div>
				      <div class="modal-body">
				      	<p><img src="img/holder4.jpg" width="100%" /></p>
				        <p>一個人的權力大小可以被當成他的能力的證明，但並不代表證明可以被當成個人工具使用。權力特指於工作。如果工作權力被等同於個人實力或者魅力，則他是將他人授予的認可反過來施加於他人，是借花獻佛而已。所以權力可以象徵實力和能力，卻不能假公濟私。</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>

		    </td>
		</tr>










		<tr>
			<td>Sep 2016</td>
			<td><strong style="font-size: 1.25em">The Spreading of Weak Culture</strong><br><h5>弱勢文化之傳播</h5></td>
		    <th>中文</th>
		    <td>Cultural Studies</td>

		    <td>
		    	<!-- Button trigger modal -->
				<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#article2">Read</button>

				<!-- Modal modal-lg to make it large-->
				<div class="modal fade" id="article2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">弱勢文化之傳播</h4>
				      </div>
				      <div class="modal-body">
				      	<p><img src="img/holder5.jpg" width="100%" /></p>
				        <p>中國（和其他一些非英語文化古國）作為人類文化的重要發源地，因歷史上一段時間內科技的落後而淪為文化弱勢國家，隨著國勢的復蘇，文化界人士通過藝術、設計、文學等媒介抓住一切機會力推本國文化於海外。然而，因為語言翻譯、人口眾多和缺少標準所導致的一些不確定性，雖然走出國門的人數激增，但一些“硬性”詞和句被轉譯成很多版本，導致了它們在英語國家的文化衝擊性大大減弱，在習慣於給一切事物和理論下定義的西方世界，一些文化底蘊深刻的理論和現象無法得到有效的描述和傳播，無法形成西方人腦中的一部分思維模式。</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>

		    </td>
		</tr>










		<tr>
			<td>Jun 2016</td>
			<td><strong style="font-size: 1.25em">Cultural Customs &amp; Practices</strong><br><h5>風土人情</h5></td>
		    <th>中文</th> 
		    <td>Cultural Studies</td>

		    <td>
		    	<!-- Button trigger modal -->
				<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#article3">Read</button>

				<!-- Modal modal-lg to make it large-->
				<div class="modal fade" id="article3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">風土人情</h4>
				      </div>
				      <div class="modal-body">
				        <p><img src="img/holder6.jpg" width="100%" /></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>

		    </td>
		</tr>








		<tr>
			<td>Jun 2016</td>
			<td><strong style="font-size: 1.25em">Thoughts on Japanese Anime</strong><br><h5>日漫遐思</h5></td>
		    <th>中文</th> 
		    <td>Cultural Studies</td>

		    <td>
		    	<!-- Button trigger modal -->
				<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#article4">Read</button>

				<!-- Modal modal-lg to make it large-->
				<div class="modal fade" id="article4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">日漫遐思</h4>
				      </div>
				      <div class="modal-body">
				      	<p><img src="img/holder7.jpg" width="100%" /></p>
				        <p>一個人的權力大小可以被當成他的能力的證明，但並不代表證明可以被當成個人工具使用。權力特指於工作。如果工作權力被等同於個人實力或者魅力，則他是將他人授予的認可反過來施加於他人，是借花獻佛而已。所以權力可以象徵實力和能力，卻不能假公濟私。</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>

		    </td>
		</tr>








		<tr>
			<td>Jun 2016</td>
			<td><strong style="font-size: 1.25em">Rules &amp; Self-Control</strong><br><h5>規矩與自我規訓</h5></td>
		    <th>中文</th> 
		    <td>Cultural Studies</td>

		    <td>
		    	<!-- Button trigger modal -->
				<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#article5">Read</button>

				<!-- Modal modal-lg to make it large-->
				<div class="modal fade" id="article5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">規矩與自我規訓</h4>
				      </div>
				      <div class="modal-body">
				      	<p><img src="img/holder1.jpg" width="100%" /></p>
				        <p>一個人的權力大小可以被當成他的能力的證明，但並不代表證明可以被當成個人工具使用。權力特指於工作。如果工作權力被等同於個人實力或者魅力，則他是將他人授予的認可反過來施加於他人，是借花獻佛而已。所以權力可以象徵實力和能力，卻不能假公濟私。</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>

		    </td>
		</tr>




	</table>



</div>
