<style>
.carousel-indicators {
	bottom: 30px;
	width: 100%;
	left: 0;
	margin-left: 0;
}
.carousel-indicators li {
	width: 20px;
	height: 20px;
}
.carousel-indicators li.active {
	width: 20px;
	height: 20px;
}

#Carousel-kirby {
/*	width: 50%;*/
}
</style>


<div class="columnsContainer">

	<div class="info">
		<div class="project-header">
			<div class="project-nav">&larr; <a href="">Previous</a> | <a href="#/view14">Next</a> &rarr;</div>
			<h1>Marvel Projects</h1>
			<p class="project-sub-title">Interface</p>
		</div>

		<p><img ng-src='img/marvel/marvel-header.jpg' width='100%' /></p>


		<table class="table table-bordered">
	  		<tr>
			    <td>Design &amp; Development</td>
			    <td>Marvel Entertainment - <em><a href="http://www.marvel.com" target="_blank">www.marvel.com</a></em></td> 
			</tr>
			<tr>
			    <td>Director</td>
			    <td>Vitor Veras</td> 

			</tr>
			<tr>
			    <td>Developer</td>
			    <td>Eric Lakatos</td> 

			</tr>
			<tr>
			    <td>My Role</td>
			    <td>Wireframes, Visual Design, Functional Specs</td> 

			</tr>
			<tr>
			    <td>Tools</td>
			    <td>Illustrator, Photoshop</td> 
			</tr>
		</table>

		<br>

		<h3 class="proj-sm-col">Kirby 100</h3>
		<p class="proj-sm-col">Jack Kirby 100 Years is my first big project at Marvel. It was a true honor to be involved in creating an online hub for this sometimes forgotten comic legend. To simulate the unique style of Jack Kirby's art, we decided to use very blocky modules, bright colors, and thick strokes in making this bold, striking, and colorful celebration of his 100th birthday and his legacy. I created a custom logotype from one of the popular comic style fonts at the time. Our editorial and publishing teams also curated 100 of Kirby's characters, 100 of Kirby's cover art, and an ongoing total of 100 articles for this hub, as exclusive content at Marvel.com.</p>

		<p><img ng-src='img/marvel/Apple-Devices2.jpg' width='100%' /></p><br>



		<p>

			<div id="Carousel-kirby" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#Carousel-kirby" data-slide-to="0" class="active"></li>
			    <li data-target="#Carousel-kirby" data-slide-to="1"></li>
			    <li data-target="#Carousel-kirby" data-slide-to="2"></li>
			    <li data-target="#Carousel-kirby" data-slide-to="3"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			      <img src="img/marvel/kirby-screen-1.jpg" alt="Los Angeles">
			    </div>

			    <div class="item">
			      <img src="img/marvel/kirby-screen-2.jpg" alt="Chicago">
			    </div>

			    <div class="item">
			      <img src="img/marvel/kirby-screen-3.jpg" alt="New York">
			    </div>

			    <div class="item">
			      <img src="img/marvel/kirby-screen-4.jpg" alt="New York">
			    </div>
			  </div>

			  <!-- Left and right controls -->
			<!--   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
			    <span style="top: 50%"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" data-slide="next">
			    <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
			    <span class="sr-only">Next</span>
			  </a> -->
			</div>
<!-- 			<img src="img/marvel/Jack100-Title-final-2.png" alt="kirby-typo" width="50%"> -->

		</p>




<!-- 		<p><img style="padding-right: 5px;" ng-src='img/marvel/kirby-screen-1.jpg' width='50%' /><img style="padding-left: 5px;" ng-src='img/marvel/kirby-screen-2.jpg' width='50%' /></p><br>
		<p><img style="padding-right: 5px;" ng-src='img/marvel/kirby-screen-3.jpg' width='50%' /><img style="padding-left: 5px;" ng-src='img/marvel/kirby-screen-4.jpg' width='50%' /></p> -->
		
		<br>

		<h3 class="proj-sm-col">Comic Con Hub</h3>
		<p class="proj-sm-col">Description coming soon.</p>
		<p><img ng-src='img/marvel/Apple-Devices1.jpg' width='100%' /></p>

		<br>

		<h3 class="proj-sm-col">Marvel Insider Emails</h3>
		<p class="proj-sm-col">Description coming soon.</p>
		<p><img ng-src='img/marvel/emails-prez.jpg' width='100%' /></p>
	</div>

<!-- 	<div class="project_photos">

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-1.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-2.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-3.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-4.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-5.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-6.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-7.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-8.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-9.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-10.jpg' width='100%' />
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-11.jpg' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/box-type-label/boxes-12.jpg' width='100%' />
		</div>


		<br><br>
	</div> -->

<!-- 	<div class="info">
		<div class="project-nav">&larr; <a href="#/view19">Previous Project</a> | <a href="#/view12">Next Project</a> &rarr;</div>
	</div> -->

</div><br><br>
