
<br/><br/><br/>
<div class="columnsContainer">
	<div class="info">
			<div>&larr; <a href="#/view2">Previous Project</a> | <a href="#/view7">Next Project</a> &rarr;</div>
			<h1>Yuhua Agate Web</h1>
			<strong>User Interface</strong><br />
			<strong>Skills / Tools: </strong>Illustrator<br />
			<strong>Advisor: </strong>Self-Directed<br /><br />
			<p>This is a website layout concept</p>
		</div>
	<div class="project_photos">
			<img ng-src='img/yuhua-stone/yuhua-1.png' width='100%'/><br /><br />
			<img ng-src='img/yuhua-stone/yuhua-2.png' width='100%'/><br /><br />
			<img ng-src='img/yuhua-stone/yuhua-3.png' width='100%'/><br /><br />
			<img ng-src='img/yuhua-stone/yuhua-4.png' width='100%'/><br /><br />
			<img ng-src='img/yuhua-stone/yuhua-5.png' width='100%'/><br /><br />
			<img ng-src='img/yuhua-stone/yuhua-6.png' width='100%'/><br /><br />
			<img ng-src='img/yuhua-stone/yuhua-7.png' width='100%'/><br /><br />
			<img ng-src='img/yuhua-stone/yuhua-8.png' width='100%'/><br /><br />
			<img ng-src='img/yuhua-stone/yuhua-9.png' width='100%'/><br /><br />
			<img ng-src='img/yuhua-stone/yuhua-10.png' width='100%'/><br /><br />
			

	</div>
	<div>&larr; <a href="#/view2">Previous Project</a> | <a href="#/view7">Next Project</a> &rarr;</div>
</div><br/><br/><br/>
