<style>
	.gallery-label {
		font-size: .8em;
		margin-bottom: 150px;
	}
</style>
<div class="columnsContainer">
	<button class="launch" onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>

	<div class="info">
		<div class="project-header">
			<div class="project-nav">&larr; <a href="#/view19">Previous</a> | <a href="#/view9">Next</a> &rarr;</div>
			<h1>Illustrations</h1>
			<p class="project-category">Illustration, Branding, Information</p>
			<p class="project-sub-title">— Projects from Contests, Internships and Personal Ideas</p>
		</div>

		<table class="table table-bordered">
	  		<tr>
			    <td>Project Type</td>
			    <td>Varied</td> 
			</tr>
			<tr>
			    <td>Tools</td>
			    <td>Blender 3D, Affinity Designer, Illustrator</td> 
			</tr>
		</table>
		
		<p class="gallery-row">
			<div class='col-md-3'></div>
			<div class='col-md-9'>
				<img style='margin-top: 50px;' src='img/collection-toys/3D/render2019_9_2.jpg' width='100%' />
				<p class='gallery-label'><strong>Woman's March</strong> - 3D rendering inspired by Virginie Morgand</p>
			</div>
		</p>
		<p class="gallery-row">
			<div class='col-md-10'>
				<img src='img/corporate/Mix2-ill-sketch-1-noText-1.png' width='100%' />
				<p class='gallery-label'><strong>DNA of Revolution</strong> - Xiaomi Mix 2 Banner Concept</p>
			</div>
			<div class='col-md-2'></div>
		</p>
		<p class="gallery-row">
			<div class='col-md-3'>
				<img src='img/collection-drawings/paper_1.png' width='100%' />
				<p class='gallery-label'><strong>Untitled</strong> - Pencil Drawing</p>
			</div>
			<div class='col-md-2'></div>
			<div class='col-md-7'>
				<img src='img/collection-toys/3D/render2020_7.jpg' width='100%' />
				<p class='gallery-label'><strong>Stroke of New York</strong> - 3D Brush Type Design</p>
			</div>
			
		</p>
		<p class="gallery-row">

			<div class='col-md-5'>
				<img ng-src='img/chain_of_thought/chain-of-thought-01.png' width='100%'/>
				<img ng-src='img/chain_of_thought/chain-of-thought-02.png' width='100%'/>
				<p class='gallery-label'><strong>Chain of Thought</strong> - Panels 2-3</p>
			</div>
			<div class='col-md-1'></div>
			<div class='col-md-5' style='margin-top: 100px;'>
				<img ng-src='img/chain_of_thought/chain-of-thought-03.png' width='100%'/>
				<img ng-src='img/chain_of_thought/chain-of-thought-04.png' width='100%'/>
				<p class='gallery-label'><strong>Chain of Thought</strong> - Panels 4-5</p>
			</div>
			<div class='col-md-1'></div>
		</p>
		<p class="gallery-row">

			<div class='col-md-10'>
				<img src='img/collection-toys/3D/render2019_6.jpg' width='100%' />
				<p class='gallery-label'><strong>Jade</strong> - Dragon Quest XI Character Modeling</p>
			</div>
			<div class='col-md-2'></div>
		</p>
		<p class="gallery-row">
			<div class='col-md-7'>
				<img src='img/collection-toys/3D/render2019_14_2.jpg' width='100%' />
				<p class='gallery-label'><strong>Toy Plane</strong> - Concept Modeling</p>
			</div>
			<div class='col-md-5'>
				<img style='margin-top: 50px;' src='img/collection-toys/3D/render2020_12.jpg' width='100%' />
				<p class='gallery-label'><strong>Worm Hole 12</strong> - Blender Experimental Series</p>
			</div>
		</p>

		
	</div>
	<img src="img/BPDS/blank-divider.png" width="100%" />

</div>
