<style>
	div.columnsContainer > div.project_photos > div {
    	margin: 1em 0 1em 0;
		padding-left: 0;
  	}
</style>

<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view12">Previous Project</a> | <a href="#/view3">Next Project</a> &rarr;</div>
		<h1>Blackout Poster</h1>
		<strong>Information Architecture</strong><br />
		<strong>Skills / Tools: </strong>Illustrator<br />
		<strong>Advisor: </strong>Stephen Farrell
		<br /><br />
		<p>This poster shows how the Blackout of the United States and South Canada happened in 2003. The narrative information design contains from basic knowledge of electricity delivery process to what exact events happened during the day. I approach information architecture in a way that it focuses on typographical order and hierarchy, which leads to proper readability and story-telling, specifically for this poster, I want to introduce the basics of electronics and the context of the event before the event timeline, but not in a demanding fashion, meaning you can go slightly differently on your routine to go through the information, depending on how you interact with the flow of ideas presented.</p>
		<p>Supporting Document: <em>Final Report on the August 14, 2003 Blackout in the United States and Canada: Causes and Recommendations</em></p>
	</div>

	<div class="project_photos">
		<img ng-src='img/blackout-1.png' ng-class='projectImage' width='100%'/>

		<!-- DIVIDER -->
		<img ng-src='img/BPDS/blank-divider.png' width='100%'/>

		<h3>Details:</h3>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/blackout-details1.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/blackout-details2.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/blackout-details3.png' width='100%' />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<img ng-src='img/blackout-details4.png' width='100%' />
		</div>

		<!-- DIVIDER -->
		<img ng-src='img/BPDS/blank-divider.png' width='100%'/>

		<h3>Alternative Sketches:</h3>
		<img ng-src='img/blackout_process.png' width='100%'/><br /><br />


	</div>
	<div>&larr; <a href="#/view12">Previous Project</a> | <a href="#/view3">Next Project</a> &rarr;</div>

</div><br/><br/><br/>
