<!-- <br/><br/><br/>
<section class="">

	<div class="row">

			<div class="col-xs-8 col-sm-8">
				<img ng-src='img/Cblock03-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
				<img ng-src='img/Cblock02-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
				<img ng-src='img/Cblock04-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
				<img ng-src='img/Cblock06-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img>
				<img ng-src='img/Cblock05-d-en.png' ng-class='projectImage' width='100%' style="min-width: 200px;"></img><br/><br/><br/>
			</div>


			<div class="col-xs-12 col-sm-5" style="position: fixed; left: 55%">
				<img src="img/block-wire02.png" width="95%"></img>
				<p style="color: gray">{{project6.projectDescription[3]}}</p>
			</div>

	</div>

</section> -->

<br/><br/><br/>
<div class="columnsContainer">

	<div class="leftColumn" style="opacity: 0.9">
		<img src='img/MRKRS-UI-1.png' ng-class='projectImage' width='99%' style='min-width: 200px; border: 1pt solid gray'></img><br/><br/>
		<!-- <img src='img/MRKRS-UI-01.png' ng-class='projectImage' width='49%' style='min-width: 200px; border: 1pt solid gray'></img>&nbsp;&nbsp;
		<img src='img/MRKRS-UI-02.png' ng-class='projectImage' width='49%' style='min-width: 200px; border: 1pt solid gray'></img><br/><br/> -->
		<img src='img/MRKRS-UI-03.png' ng-class='projectImage' width='49%' style='min-width: 200px; border: 1pt solid gray'></img>&nbsp;&nbsp;
		<img src='img/MRKRS-UI-04.png' ng-class='projectImage' width='49%' style='min-width: 200px; border: 1pt solid gray'></img><br/><br/>
		<img src='img/MRKRS-UI-05.png' ng-class='projectImage' width='49%' style='min-width: 200px; border: 1pt solid gray'></img>&nbsp;&nbsp;
		<img src='img/MRKRS-UX-01.png' ng-class='projectImage' width='49%' style='min-width: 200px; border: 1pt solid gray'></img><br/><br/>
		<!-- <img src='img/MRKRS-UI-02.png' ng-class='projectImage' width='70%' style='min-width: 200px; border: 1pt solid gray'></img><br/><br/><br/> -->
		<!-- <img src='img/MRKRS-01.png' ng-class='projectImage' width='97%' style='min-width: 200px'></img> -->

		<br/>
	</div>

	<div class="rightColumn">
		<!-- <img src="img/block-wire02.png" width="95%"></img> -->
		<p>User Interface Mockups for Markers CCL web application. {{project7.projectDescription[3]}}</p>
	</div>

</div>
