
<br/><br/><br/>
<div class="columnsContainer">

	<div class="info">
		<div>&larr; <a href="#/view7">Previous</a> | <a href="#/view12">Next</a> &rarr;</div>
		<h1>Blackout</h1>
		<strong>Information Architecture</strong><br />
		<strong>Skills / Tools: </strong>Illustrator<br />
		<strong>Advisor: </strong>Stephen Farrell<br /><br />
		<p>This poster shows how the Blackout of the United States and South Canada happened in 2003. The narrative information design contains from basic knowledge of electricity delivery process to what exact events happened during the day. I approach information architecture in a way that it focuses on typographical order and hierarchy, which leads to proper readability and story-telling, specifically for this poster, I want to introduce the basics of electronics and the context of the event before the event timeline, but not in a demanding fashion, meaning you can go slightly differently on your routine to go through the information, depending on how you interact with the flow of ideas presented.</p>
	</div>

	<div class="project_photos">
		<img ng-src='img/blackout-1.png' ng-class='projectImage' width='100%'/><br /><br />

		<h3>Details:</h3>
		<img ng-src='img/blackout-main-map.png' width='100%' style='opacity: .9;' /><br /><br />
		<img ng-src='img/blackout-details1.png' width='100%' style='opacity: .9;' /><br /><br />

		<h3>Early Developed Segments:</h3>
		<img ng-src='img/blackout_process.png' width='100%'/><br /><br />

		<h3>Supporting Documents:</h3>
		<p>Here are just two of the several documents I referred to when producing text and graphics.</p>
		<img ng-src='img/blackout_doc1.png' width='49%' />
		<img ng-src='img/blackout_doc2.png' width='49%' /><br /><br />

	</div>
	<div>&larr; <a href="#/view7">Previous</a> | <a href="#/view12">Next</a> &rarr;</div>

</div><br/><br/><br/>
