<section class="blockinfo">

  <script>

    $(document).ready(function(){

        event.preventDefault();

        $('.addButton').click(function() {
            $('#messages').append('<p>' + '{{blocks[whichItem].name}}' + '</p>');
        });
    });

  </script>
  
  <div class="block cf" ng-model="blocks">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    
    <div class="info">

      <h3>{{blocks[whichItem].reknown}}</h3>
      <img ng-src="images/{{blocks[whichItem].shortname}}_tn.jpg" alt="Photo of {{blocks[whichItem].name}}">
      <div class="bio">{{blocks[whichItem].bio}}</div>
    
    </div>

    <div class='addButton'>
      <button>Add</button>
    </div>

    </br></br>
    <div id='messages'>messages</div>
  
  </div>
  
  <a href="index.html">&laquo; Back to search</a>

</section>