<section class="blockpage">

  <div class="search">

    <script>

      $(document).ready(function(){

          event.preventDefault();

          $('.testButton').click(function() {
              $('#addScene').append('<p>' + 'good stuff' + '</p>');
              console.log('button clicked');
          });
      });

    </script>
   
   <!-- svg graphics -->       
    <div class='svg-graphics'>
      <svg width='8cm' height='1.5cm' viewBox='0 0 800 150' xmlns='http://www.w3.org/2000/svg' version='1.1'>
                          
        <rect x="50" y="60" width="80" height="80" fill="#838BC5" stroke="#EEE8D5" stroke-width="6">
          <animate attributeName="x" attributeType="XML" begin="0s" dur="4s" fill="freeze" from="-200" to="1680" repeatCount="indefinite"/>
        </rect>
        <rect x="50" y="60" width="80" height="80" fill="#8CC63F" stroke="#EEE8D5" stroke-width="6">
          <animate attributeName="x" attributeType="XML" begin="0s" dur="3s" fill="freeze" from="1400" to="-80" repeatCount="indefinite"/>
        </rect>
        <rect x="50" y="60" width="80" height="80" fill="#C69C6D" stroke="#EEE8D5" stroke-width="6">
          <animate attributeName="x" attributeType="XML" begin="0s" dur="5s" fill="freeze" from="-500" to="1000" repeatCount="indefinite"/>
        </rect>
        <rect x="50" y="60" width="80" height="80" fill="#F15A24" stroke="#EEE8D5" stroke-width="6">
          <animate attributeName="x" attributeType="XML" begin="0s" dur="5s" fill="freeze" from="1000" to="-1000" repeatCount="indefinite"/>
        </rect>
        <text y="120" font-family="Bree Serif" font-size="84" letter-spacing="3" fill="#EEE8D5" >My Building Blocks</text>           

      </svg>
    </div>
  
    <!-- togetherJS start button-->  
    <div class='togetherjs'>
      <button onclick="TogetherJS(this); return false;" class='startButton'>collaborate</button>
    </div>

    <!-- search engine -->
    <div class="write">
      <form class="write-note-form" action="">
        <label>search: </label>
        <input ng-model="query" placeholder="search for geometries and choose below" autofocus>
      </form>
    </div>

    <!-- search options -->
     <label class="formgroup">by:
      <select ng-model="blockOrder">
        <option value="name">name</option>
        <option value="reknown">popularity</option>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>  
   
  </div><!--end search-->

  <!-- dropdown list view -->
  <ul class="blocklist" ng-show="query">
    <li ng-animate="'animate'" class="block cf" ng-repeat="item in blocks | filter: query | orderBy: blockOrder:direction">
      <a href="#/details/{{blocks.indexOf(item)}}">
        <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">
        <div class="info">
          <h2>{{item.name}}</h2>
          <h3>{{item.reknown}}</h3>
        </div>
      </a>
      <button id='testButton' onclick='document.getElementById("addScene").innerHTML="stuff here";'>Add it</button>
    </li>
  </ul>

  <div id='addScene'>
    
  </div>

</section>